html{
  min-height:100%;
}

#theHeader,
#copyright{
  display:none;
}

#theIdentificationPage,
#theRegisterPage,
#thePasswordPage{
  width:100%;
  height:100%;
  min-height:100vh;
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
}

#theIdentificationPage #the_page,
#theRegisterPage #the_page,
#thePasswordPage #the_page{
  min-height:100vh;
  height:100%;
}

#mode{
  display:flex;
  flex-direction:column;
  height:100%;
  min-height:100vh;
  overflow-y:auto;
}

#login-form,
#register-form,
#password-form{
  border-radius:15px;
  width:400px;
  margin:0 auto;
  margin-top:50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  padding:50px;
}

#logo-section{
  max-width:300px;
  margin:0 auto;
  padding-top:50px;
}

#logo-section img{
  width:100%;
  min-width:300px;
}

h1{
  font-size: 30px;
  font-weight: 400;
  margin:0;
  margin-bottom:30px;
  text-align:center;
}

h1 i{
  margin:10px;
}

#login-form form,
#register-form form,
#password-form form{
  display:flex;
  justify-content:center;
  flex-direction:column;
}

#password-form p{
  text-align:center;
  font-size:15px;
  font-weight:500;
  margin:0;
}

#password-form .error-message{
  bottom:0;
}

.input-container{
  border-radius:3px;
  padding:5px 15px;
  margin-bottom:25px;
  flex-wrap:nowrap;
}

.input-container input{
  background-color:transparent;
  border:none;
  width:100%;
  line-height:25px;
} 

input:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
}

input:-webkit-autofill::first-line {
  color: inherit !important;
}

.input-container input:focus{
  border:none;
  outline:none;
}

.input-container:focus-within{
  border:1px solid #ff7700!important;
}

.input-container i {
  font-size:15px;
  margin-right:5px;
}

.column-flex{
  display:flex;
  flex-direction:column;
  position:relative;
}

.row-flex{
  display:flex;
  flex-direction:row;
  align-items:center;
}


.remember-me-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom:5px;
  margin-left:20px;
}

.gallery-icon-checkmark {
  width: 18px;
  height: 18px;
  border: 1px solid #777;
  border-radius: 2px;
  display: inline-block;
  margin-right: 8px;
  line-height: 18px;
  font-size: 14px;
}

.remember-me-container:hover label{
  cursor:pointer;
}

.gallery-icon-checkmark::before {
  opacity: 0;
}

input[type="checkbox"]#remember_me {
  display: none;
}

input[type="checkbox"]#remember_me:checked + label ~ .gallery-icon-checkmark::before,
input[type="checkbox"]#remember_me:checked + .gallery-icon-checkmark::before {
  opacity: 1;
  font-size: 12px;
  margin: 2px;
  vertical-align: text-top;
}

label{
margin-bottom:5px;
font-size:15px;
font-weight:700;
}

p.form-instructions{
  padding-bottom:25px;
}
 
.btn-main{
  background-color:#ff7700!important;
  color:white!important;
  border:none;
  padding:15px;
  margin-top:15px;
  cursor:pointer;
  text-decoration:none!important;
}

a.btn-main{
  display:block;
  text-align:center;
}

#return-to-gallery{
  margin: 30px auto;
  display:block;
  width:fit-content;
}

.secondary-links{
  margin-top:40px;
  text-align:center;
}

#theIdentificationPage a,
#theRegisterPage a,
#thePasswordPage a{
  text-decoration:underline;
}

#theIdentificationPage a:hover,
#theRegisterPage a:hover,
#thePasswordPage a:hover{
  border-bottom:none;
}

#separator{
  width:300px;
  border-bottom:1px solid #D8D8D8;
  display:block;
  margin: 15px auto;
}

#header-options{
  position:fixed;
  width:100%;
  display:flex;
  justify-content: space-between;
  font-size:15px;
}

#header-options > *{
  padding:15px;
}

#theIdentificationPage #header-options .toggle-mode{
  cursor:pointer;
}

.gallery-icon-sun{
  display:none;
}

.gallery-icon-eye{
  cursor:pointer;
}

#language-switch{
  display:flex;
  justify-content: flex-end;
  font-size:15px;
  position: fixed;
  right: 0;
  bottom: 0;
}

#lang-select{
  width:fit-content;
  position:relative;
}

#selected-language-container{
  padding:15px;
}

#lang-select #other-languages{
  display:none;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-right:11px;
  width:max-content;
  position:absolute;
  bottom:40px;
  right:0;
}

#lang-select #other-languages span{
  text-decoration:none;
  display:block;
  padding:5px 0;
}

#lang-select #other-languages span:hover{
  color:#ff7700; 
  cursor:pointer;
}

#lang-select:hover #other-languages{
  display:block;
}

#lang-select .gallery-icon-left-chevron:before{
  rotate: 90deg;
}

#selected-language{
  margin-left:5px;
  text-decoration:underline;
}

.success-message{
  width: calc(100% - 34px);
  display: block;
  padding: 15px;
  margin-bottom:15px;
}

.error-message{
  text-align: left;
  position: absolute;
  bottom: 10px;
  left:0;
  margin: 0;
  display:none;
}

.error-message i,
p.error-message{
  color: #EB3223!important;
}

.error_block_container {
  position: absolute;
  right: 15px;
  max-width: 300px;
  top:40px;
}

.error_block {
  display:flex;
  background-color:#BE4949;
  border-radius:5px;
  color:#FFC8C8;
  padding:15px;
  position:relative;
  align-items:center;
}

.error_block p{
  margin:0;
}

.error_block .gallery-icon-cancel:before{
  font-size:33px;
  margin-left:0;
  margin-right:15px;
}

#password-form p.intro-paragraph{
  margin-bottom:15px;
}


/* Light */
#theIdentificationPage .light,
#theRegisterPage .light,
#thePasswordPage .light{
  background: linear-gradient(75.69deg, #FFEACF 7.64%, #FFFAF3 77.87%);
}

.light #login-form,
.light #register-form,
.light #password-form,
.light #lang-select #other-languages {
  background-color:#ffffff;
}

#theIdentificationPage .light a,
#theRegisterPage .light a,
#thePasswordPage .light a,
.light h1,
.light .input-container input,
.light .secondary-links,
.light .properties label,
.light .properties i,
.light #password-form p,
.light #lang-select #other-languages span{
  color:#3C3C3C;
}

#theIdentificationPage .light a:hover,
#theRegisterPage .light a:hover,
#thePasswordPage .light a:hover{
  color:#ff7700;
}

.light #header-options a,
.light #header-options .toggle-mode,
.light #selected-language-container{
  color:#ff7700;
}

.light .input-container{
  background-color:#F0F0F0;
  border:1px solid #F0F0F0;
}

.light .input-container input:is(:-webkit-autofill, :autofill)
{
  box-shadow: 0 0 0 100px #F0F0F0 inset;
  -webkit-box-shadow: 0 0 0px 1000px #F0F0F0 inset !important;
  -webkit-text-fill-color: #3C3C3C;
  color:#3C3C3C;
}

.light #separator{
  border-bottom:1px solid #D8D8D8;
}

.light .gallery-icon-eye{
  color:#898989;
}

.light .success-message{
  background-color: #DBF6D7;
  color: #6DCE5E;
  border-left: 4px solid #6DCE5E;
}

/* Dark */
#theIdentificationPage .dark,
#theRegisterPage .dark,
#thePasswordPage .dark{
  background: linear-gradient(75.69deg, #1B1B1D 7.64%, #2F2F2F 77.87%);
}

.dark #login-form,
.dark #register-form,
.dark #password-form{
  background-color:#3C3C3C;
}

#theIdentificationPage .dark a,
#theRegisterPage .dark a,
#thePasswordPage .dark a,
.dark h1,
.dark .input-container input,
.dark .secondary-links,
.dark .properties label,
.dark .properties i,
.dark #password-form p,
.dark #lang-select #other-languages span{
  color:#D6D6D6;
}

#theIdentificationPage .dark a:hover,
#theRegisterPage .dark a:hover,
#thePasswordPage .dark a:hover,
.dark #lang-select #other-languages span{
  color:#ff7700;
}

.dark #header-options a,
.dark #header-options .toggle-mode,
.dark #selected-language-container{
  color:#FFEBD0;
}

.dark .input-container{
  background-color:#303030;
  border:1px solid #303030;
}

.dark .input-container input:is(:-webkit-autofill, :autofill)
{
  box-shadow: 0 0 0 100px #303030 inset;
  -webkit-box-shadow: 0 0 0px 1000px #303030 inset !important;
  -webkit-text-fill-color: #D6D6D6;
  color:#D6D6D6;
}

.dark #separator{
  border-bottom:1px solid #303030;
}

.dark .gallery-icon-eye{
  color:#898989;
}

.dark #lang-select #other-languages {
  background-color: #3C3C3C;
}

.dark .success-message{
  background-color: #4EA590;
  color: #AAF6E4;
  border-left: 4px solid #AAF6E4;
}

/*Responsive display*/
@media (max-width: 768px) {
  #login-form,
  #register-form,
  #password-form{
    max-width:300px;
  }
}
