/* generic colors - clear */
.gcText { color: #777777; }                 /* used for text */
.gcText2 { color: #777777; }                /* used for table header */
.gcText3 { color: #555555; }                /* used for tabs text */
.gcTextInput { color:#666666; }             /* used for inputs */
.gcLink { color: #005E89; }                 /* used for link */
.gcLinkHover { color: #D54E21; }            /* used for link */
.gcBgPage { background-color: #F9F9F9; }               /* used for page background */
.gcBgTabSheet { background-color: #F1F1F1; }           /* used inside tabsheet & menu */
.gcBgTableRow1 { background-color: #DDDDDD; }            /* used in for tables rows background */
.gcBgTableRow2 { background-color: #EEEEEE; }            /* used in tables rows & some widgets background */
.gcBgInput { background-color:#CCCCCC; }                      /* used for inputs */
.gcBorder    { border-color: #AAAAAA; }            /* used for borders */
.gcBorder2   { border-color: #666666; }            /* used for widgets borders */
.gcBorderInput { border-color:#777777; }           /* used for inputs */

/* text color */
.theme_title { left: 15px; color: #000; text-align: left;}
body, h3, dt, h2, .throw, .content, label,
input.rateButtonSelected /* <= why IE doesn't inherit this ? */ { color:#777; }
th { color: #888; }
INPUT, select, textarea { color:#666; background-color: #ccc; }
input[type="radio"], input[type="checkbox"] { background-color: transparent; }
INPUT[type="submit"], INPUT[type="reset"]  { color:#666; border: 1px solid #777; background-color: #bbb; padding: 1px 15px; }
input.rateButton, legend, h3 { color: #777; }
h2 { color: #777; }


#copyright { color:#777; margin:5px auto 0px 240px; text-align:center;
padding-bottom: 15px; }
.header_notes { background: transparent url(icon/note.png) no-repeat right top;
border:0; font-weight:bold; min-height: 48px;
padding:15px 60px 0 0; position:absolute; right:0;
text-align:right; top:30px; width:550px;  }
html, body { min-height: 100%; }
body { margin: 0; padding: 0; background:#f9f9f9 }
/* #the_page { margin: 0; padding: 0; z-index: 1; top:0px; */
/* padding-top: 0; min-height: 100%; width:100%; position:absolute; left:0px; } */
#headbranch { width: 233px; height: 240px; margin: 0; padding: 0;
position:absolute; left:0px; top:0px; z-index: 0;
background:transparent }
#theHeader { display:none; height:40px; margin: 0; padding: 0;
background:transparent }
h3, #imageToolBar a:hover, .content, .throw, .row1 { background-color: #ddd; }
.row2 { background-color:#eeeeee; }
.throw em { font-style: normal; color: #0cc9c; }
#content { background: #f1f1f1; min-height: 467px;}
.content { padding:0 5px 5px; margin: 0 10px 0 252px; z-index:99; border: 1px solid #aaa;}
.content h3 { font-size:20px; letter-spacing:-0.4px; margin:0 20px 12px 0;
 text-align:center; background:none; border: 0; }
.content h3 ~ h3{ margin-top: 40px; }
.content h4 { color: #aaa; font-size:14px; text-align:center; padding:3px; margin-top: 0; margin-bottom: 10px;}

.content dl, dd { margin:5px; }
.content div.titrePage { height:40px; }

.instructions { text-align:left; padding-top:5px;}
.instructions LI { margin-bottom:5px; }
.instructionBlock {border: 1px solid #999; margin: 5px; overflow: hidden;}
.instructionBlockHeaderCollapsed, .instructionBlockHeaderExpanded {background-color:#eee; background-position:15px center;
background-repeat:no-repeat; color:#999; cursor:pointer; font-size:110%; overflow:hidden; padding:8px 41px;}
.instructionBlockHeaderCollapsed span, .instructionBlockHeaderExpanded span {border-bottom: none; }

.instructionBlockHeaderCollapsed { background-image: url(icon/expand.gif);}
.instructionBlockHeaderExpanded { background-image: url(icon/collapse.gif);}
.instructionBlockContent { padding:0 15px 15px;}
SPAN.pwgScreen { font-style:italic; border-bottom:1px dotted #666}

.content ul.thumbnails span.wrap2:hover { background-color:#eee; border:1px solid #0cc9c; color:#999; }
.content ul.thumbnails span.wrap2 { border:1px solid #999; padding: 4px; }
.content ul.thumbnails span.wrap2 { -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; }
.content ul.thumbnails span.wrap1 { margin:0 12px 5px; }

/* borders */
fieldset { border: 2px solid #ddd; }
INPUT, SELECT, TEXTAREA { border: 1px solid #999; }
input:focus, select:focus, textarea:focus, input.focus, form .focus { background-color:#bbb;color: #666; }
TEXTAREA { cursor:text; font-size: 13px; }
.content UL.thumbnails SPAN.wrap2 {
  border: 1px solid #555555;  /* thumbnails border color and style */
  border-radius: 4px 4px; /* round corners with CSS3 compliant browsers */
}
.tagSelection label { padding-right:12px; }
.tagSelection LI.tagSelected {background-color:#dbe8f3;}
.tagSelected LABEL {color:black;}

.content ul.categoryActions a img { margin-left: 10px; }
ul.thumbnails input { border:3px double #666; color:#666; font-size:10px; margin:0; background-color:#bbb; text-align: center;}
INPUT[type="submit"]:hover , INPUT[type="reset"]:hover  { cursor: pointer; }
INPUT.bigbutton:hover { background-color: #ddd;  color:#0cc; border: 0; }
.throw  { font-size: 120%; line-height: 26px; padding-top: 10px; font-weight: bold; color: #0cc9c; }
label { cursor:pointer }
.categoryLi { background: #ddd }
.virtual_cat { background: #ccc !important; }
a.Piwigo {
  font-family: verdana, arial, helvetica, sans-serif !important;
  font-size: 11px; font-weight: normal; letter-spacing: 0;
  color : #0cc; text-decoration: none; border: 0; }
a.Piwigo:hover  span.Piwigo  {
  border-bottom: 1px solid #0cc9c;
}
TABLE.table2 { border: 2px solid #dddddd; }

*, *:focus, *:active, input:active, a:active, input:focus, a:focus { outline: none; -moz-outline-width: 0px; }
a { color:#005E89; border-width: 0; }
a:hover, a:active { color: #d54e21; border-bottom: 1px dotted #d54e21; cursor: pointer; }
.content .navigationBar {color:#999;}
ul.actions, .content form#waiting  {text-align:center;}
.header_msgs { background:transparent url(images/header_msgs-bg.gif) repeat scroll right top;
border:0; color:#ccc; font-size:24px; height:30px; left:0; margin:0; padding:10px 0 0; position:absolute;
text-align:center; top:0; width:100%; z-index:99; }
#content.content div.comment a.illustration{ margin-right: 30px;}
/* tabsheets are often used in admin  pages => No specific css files */
.tabsheet {
background-color:#f9f9f9; border:1px solid #f9f9f9; border-bottom:1px solid #aaa; display:table;
font-family:verdana,arial,helvetica,sans-serif; font-size:8px;
list-style-image:none; padding: 0; position:relative; text-decoration:none;
top:-2px; white-space:nowrap; margin: 0 0 0 -6px; padding-left:10px;
width:100%; }
.tabsheet li { background:#f1f1f1; float:left; margin:0 6px 0 0; overflow:hidden; text-align:right; border:1px solid #aaa; border-bottom:none; position:relative; top:11px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px;}
.tabsheet a {
display:block; font-size:11px; border:0;
font-weight:bold; overflow:hidden; padding:6px;
text-align:right; text-decoration:none; margin: 0; }
.tabsheet a:first-letter { text-transform:capitalize; }
.tabsheet li.selected_tab  {
  border-bottom:1px solid #f1f1f1;
}
.tabsheet li:hover, .tabsheet li.selected_tab  {
margin-top:4px; padding-bottom:3px; padding-top:3px; top:1px;
 }
/* .tabsheet a:hover */
.tabsheet li.selected_tab  a { color: #555; }
.tabsheet a span { display:block; font-size:10px; margin-right:2px; padding:0 3px 0 1px; }

.sort { clear: none; }
#214ug { margin-left:248px; font-size:12px; }
/* menubar is on all admin pages => No specific css file */
#menubar {
display:inline; float:left; left:0; margin: 10px 0 0 10px; min-height:475px; height:475px; /* should be 477 */
padding:0; width:207px; z-index:99; text-align: left; }
#menubar ul.scroll { height:163px; overflow-y:auto;
 /* Only IE family supports colored scrollbar */
 scrollbar-face-color: #ddd; scrollbar-shadow-color: #bbb; scrollbar-highlight-color: #fff;
 scrollbar-3dlight-color: #d6d6d6; scrollbar-darkshadow-color: #ccc; scrollbar-track-color: #eee;
 scrollbar-arrow-color: #0cccc; }

#menubar dd { margin: 0; padding: 0; height:232px; }
#menubar dl { width: 207px; border:0; margin: 0; padding: 0; display: block; min-height:35px; border:1px solid #ddd; background-color:#f1f1f1; border-left:1px solid #aaa; border-right:1px solid #aaa;}
#menubar dl.first {border-top:1px solid #aaa;}
#menubar dl.last {border-bottom:1px solid #aaa;}
#menubar dt { background-color: #ddd; margin: 0; display: block; font-weight:bold;
position:relative; padding: 5px 1px 4px 5px; font-size: 13px; color: #777; }
#menubar dt  span { cursor:pointer; }
#menubar li { margin: 0; padding-left:10px; }
#menubar li A { display:block; }
#menubar li A:hover { border:none; }
#menubar li:hover {background-color:#dbe8f3;}
#menubar ul { color: #ccc; margin:0; line-height: 25px;
  list-style-type: none; list-style-position: inside; padding: 0; }

#adminHome       {background-color:#ddd;}
#adminHome:hover {background-color:#d0d0d0;}

/* jQuery tooltips */
.cluetip-default #cluetip-outer { border-color: #999; color: #999; background-color: #ddd; }
.cluetip-default h3#cluetip-title { color: #0cc9c; background-color: #eee; }
/* jQuery ui resizable */
.ui-resizable { position: relative; }
.ui-wrapper { border: 0; }
.ui-wrapper input, .ui-wrapper textarea { border: 0; }

/* Global handle styles */
.ui-resizable-handle { position: absolute; display: none; font-size: 0.1px; }
.ui-resizable .ui-resizable-handle { display: block; }
body .ui-resizable-disabled .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
body .ui-resizable-autohide .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
.ui-resizable-n { cursor: n-resize; height: 6px; width: 100%; top: 0px; left: 0px; background: transparent url(images/resizable-n.gif) no-repeat scroll center top; }
.ui-resizable-s { cursor: s-resize; height: 6px; width: 100%; bottom: 0px; left: 0px; background: transparent url(images/resizable-s.gif) no-repeat scroll center top; }
.ui-resizable-e { cursor: e-resize; width: 6px; right: 0px; top: 0px; height: 100%; background: transparent url(images/resizable-e.gif) no-repeat scroll right center; }
.ui-resizable-w { cursor: w-resize; width: 6px; left: 0px; top: 0px; height: 100%; background: transparent url(images/resizable-w.gif) no-repeat scroll right center; }
.ui-resizable-se { cursor: se-resize; width: 9px; height: 9px; right: 0px; bottom: 0px; background: transparent url(images/resizable-se.gif); }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: 0px; bottom: 0px; background: transparent url(images/resizable-sw.gif); }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: 0px; top: 0px; background: transparent url(images/resizable-nw.gif); }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: 0px; top: 0px; background: transparent url(images/resizable-ne.gif); }

#ui-datepicker-div {background-color: #fff; border:2px solid #aaa;}
#ui-datepicker-div .ui-datepicker-title {color:black;}
#ui-datepicker-div .ui-icon-circle-triangle-w {background: transparent url(icon/prev.png) no-repeat;}
#ui-datepicker-div .ui-icon-circle-triangle-e {background: transparent url(icon/next.png) no-repeat;}
#ui-datepicker-div A.ui-datepicker-prev:hover,
#ui-datepicker-div A.ui-datepicker-next:hover
{
  background-color:#eee;border:1px solid #aaa;
}

#ui-datepicker-div .ui-datepicker-control, #ui-datepicker-div  a { background-color: #eee; color: #08f !important;}
#ui-datepicker-div .ui-datepicker-days-row { background-color: #bbb;}
#ui-datepicker-div .ui-datepicker-week-end-cell, #ui-datepicker-div .ui-datepicker-week-end-cell  a { background-color: #ddd; color: #0cc; border-color: #bbb; border-top-color: #ddd; border-left-color: #ddd;}
#ui-datepicker-div .ui-datepicker-title-row { background-color: #eee;}
#ui-datepicker-div .ui-datepicker-title-row .ui-datepicker-week-end-cell a { color: #0cc;}
#ui-datepicker-div  a:hover { color: #0cccc !important; border: 0; background-color: #eee !important;}
#ui-datepicker-div .ui-datepicker-header select { background-color:#bbb; color:#666; font-weight:normal;}
#ui-datepicker-div .ui-datepicker-links { background-color:#ddd;}
#ui-datepicker-div .ui-datepicker-header { background-color:#bbb;}
#ui-datepicker-div .ui-datepicker-current-day { background-color: #eee !important; border-color: #bbb; border-top-color: #eee; border-left-color: #eee;}
#ui-datepicker-div .ui-datepicker-days-cell { background-color:#bbb; border:1px solid #ddd; border-top-color: #bbb; border-left-color: #bbb;}
td img.ui-datepicker-trigger { margin:-3px 5px 2px; }

INPUT[type="text"].large  { width: 317px; }
input[type="button"], input[type="submit"], input[type="reset"] {
color:#0cc9c; background-color:#ddd; border-color: #0cc9c; }
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
color:#666; border-color: #999; }
.bigbutton { background:transparent url(images/quickLocalSync.png) no-repeat scroll left top; display: block;
color:#eee; font-size:28px; height:161px; margin: 0 20px 0 auto; padding:0 18px 0; text-align:center; width:625px;
position:relative;  z-index: 50;}
.bigtext { display:block; font-weight:bold; left:225px; position:relative; top:35px; width:320px;  z-index: 55; cursor:pointer; }
.bigbutton:hover { color: #fff; }
.bigbutton input { background:transparent url(images/transparent.gif) repeat scroll left top; border:0;
display:block; height:85px; left:225px; position:relative; top:-42px; width:313px; z-index:99; padding:0;}
.bigbutton input:hover { cursor:pointer; background:transparent url(images/transparent.gif) repeat scroll left top; border:0; padding:0;}
/* hacks */
html>body #menubar {min-height:477px; height:477px;} /* IE 7 and modern browsers */
* html[lang="en"] body .content h2 , *+html[lang="en"] body .content h2 { text-transform:capitalize; } /* IE */
*+html  .bigtext { left: 70px; }
*+html  .bigbutton input, * html  .bigbutton input  { left:0px; position:relative; top:-40px; }
* html .bigtext { margin-right: 300px; }

.themeBox {background-color:#ddd;}
.themeBox IMG {border:1px solid white;}
.themeName {color:black;}
#themesContent H3 {border-bottom:1px solid #aaa;}
.themeDefault {background-color:#dbe8f3;}

#pluginsMenuSeparator {border:1px solid #ddd;}

#helpContent A {border-bottom:1px dotted #005E89;}
#helpContent A:hover {border-bottom:1px solid #d54e21;}

#pwgHead, #footer {background-color:#ddd;}
#pwgHead, #footer {color:#666;}
#pwgHead A, #footer A {color:#444;}
#pwgHead A:hover, #footer A:hover {color:black; border-color:black;}

.pluginBox {background-color:#ddd;color:#333}
.pluginBoxNameCell {font-weight:bold;}

.languageBox {background-color:#ddd;}
.languageName {color:black;}
.languageDefault {background-color:#dbe8f3;}