/* generic colors - clear
.gcText { color: #777777; }                 used for text
.gcText2 { color: #777777; }                used for table header
.gcText3 { color: #555555; }                used for tabs text
.gcTextInput { color:#666666; }             used for inputs
.gcLink { color: #005E89; }                 used for link
.gcLinkHover { color: #D54E21; }            used for link
.gcBgPage { background-color: #F9F9F9; }               used for page background
.gcBgTabSheet { background-color: #F1F1F1; }           used inside tabsheet & menu
.gcBgTableRow1 { background-color: #DDDDDD; }            used in for tables rows background
.gcBgTableRow2 { background-color: #EEEEEE; }            used in tables rows & some widgets background
.gcBgInput { background-color:#CCCCCC; }                      used for inputs
.gcBorder    { border-color: #AAAAAA; }            used for borders
.gcBorder2   { border-color: #666666; }            used for widgets borders
.gcBorderInput { border-color:#777777; }           used for inputs
*/
/* text color */

body, h3, dt, h2, .throw, .content, label , LEGEND  {
	color:#777;
}

th { color: #888; }
INPUT, select, textarea { color:#666; background-color: #ccc; }
option[disabled] { background-color: #ccc; }
input[type="radio"], input[type="checkbox"] { background-color: transparent; }

INPUT[type="submit"], INPUT[type="button"], INPUT[type="reset"] {
	color:#666;
	border: 1px solid #777;
	background-color: #ddd;
	padding: 1px 15px;
}


INPUT[type="text"], INPUT[type="password"], INPUT[type="button"],
INPUT[type="submit"], INPUT[type="reset"], INPUT[type="file"] {
	background-color: #ddd;
}

INPUT.text, INPUT.password, INPUT.button,
INPUT.submit, INPUT.reset, INPUT.file,
SELECT, TEXTAREA {
	background-color: #ddd;
}

INPUT:focus, SELECT:focus, TEXTAREA:focus, INPUT.focus, FORM .focus, INPUT.submit:hover {
  background-color: #eee;
  color: #666;
}

INPUT, SELECT, TEXTAREA { border: 1px solid #999; }


INPUT[type="button"]:hover, INPUT[type="submit"]:hover, INPUT[type="reset"]:hover {
  cursor:pointer;
  color:#666;
  border-color: #999;
}


#copyright { color:#777; margin:5px auto 0px 240px; text-align:center;
padding-bottom: 15px; }
.header_notes {
  background: transparent url(../default/icon/note.png) no-repeat right top;
  border: none;
  min-height: 48px;
  padding: 15px 60px 0 0;
  right: 0;
  width: 550px;
  top: 70px;
}
html, body { min-height: 100%; }
body { margin: 0; padding: 0; background:#f9f9f9 }
/* #the_page { margin: 0; padding: 0; z-index: 1; top:0px; */
/* padding-top: 0; min-height: 100%; width:100%; position:absolute; left:0px; } */
#headbranch { width: 233px; height: 240px; margin: 0; padding: 0;
position:absolute; left:0px; top:0px; z-index: 0;
background:transparent }
h3, .content, .throw, .row1 { background-color: #ddd; }
.row2 { background-color:#eeeeee; }
#content { background: #f1f1f1; min-height: 467px;}

.content {
  border: 1px solid #aaa;
  margin-left:217px;
  margin-top: 7px;
}

.content h3 { font-size:20px; letter-spacing:-0.4px; margin:0 20px 12px 0;
 text-align:center; background:none; border: 0; }
.content h3 ~ h3{ margin-top: 40px; }
.content h4 { color: #aaa; font-size:14px; text-align:center; padding:3px; margin-top: 0; margin-bottom: 10px;}

.content dl, dd { margin:5px; }
.content div.titrePage { height:40px; }


UL.thumbnails span.wrap2:hover { background-color:#7CBA0F; color:#999; }
UL.thumbnails span.wrap2 {
	background-color:#ddd;
}


/* borders */
fieldset { border: 2px solid #ddd; }
TEXTAREA { cursor:text; font-size: 13px; }
.tagSelection label { padding-right:12px; }
.tagSelection LI.tagSelected {background-color:#dbe8f3;}
.tagSelected LABEL {color:black;}

.content ul.categoryActions a img { margin-left: 10px; }
ul.thumbnails input { color:#666; font-size:10px; margin:0; background-color:#bbb; text-align: center;}
INPUT.bigbutton:hover { background-color: #ddd;  color:#0cc; border: 0; }
.throw  { font-size: 120%; line-height: 26px; padding-top: 10px; font-weight: bold; }
label { cursor:pointer }
.categoryLi, .menuLi { background: #ddd }
.menuLi_hidden { background: #ccc !important; }
a.Piwigo {
  font-family: verdana, arial, helvetica, sans-serif !important;
  font-size: 11px; font-weight: normal; letter-spacing: 0;
  color : #0cc; text-decoration: none; border: 0; }
a.Piwigo:hover  span.Piwigo  {
  border-bottom: 1px solid #0cc9c;
}
TABLE.table2 { border: 2px solid #dddddd; }

*, *:focus, *:active, input:active, a:active, input:focus, a:focus { outline: none; -moz-outline-width: 0px; }
a { color:#005E89; border-width: 0; }
a:hover, a:active { color: #d54e21; border-bottom: 1px dotted #d54e21; cursor: pointer; }
.content .navigationBar {color:#999;}
ul.actions, .content form#waiting  {text-align:center;}

.header_msgs {
	border:0;
	color:#ccc;
	font-size:24px;
	height:30px;
	margin:0; padding:10px 0 0;
	text-align:center; width:100%;
}

/* tabsheets are often used in admin  pages => No specific css files */
#tabsheet { width:auto; margin:-1px; margin-right:-6px; padding:0;
border:1px solid #f9f9f9; border-bottom:1px solid #aaa; background-color:#f9f9f9;margin-top:-7px;}
.tabsheet { display:table; white-space:nowrap; padding-left:10px; margin:0; width:auto;
font-family:verdana,arial,helvetica,sans-serif; font-size:8px;
list-style-type:none; list-style-image:none; text-decoration:none; }
.tabsheet li { background:#f1f1f1; float:left; margin:0 6px 0 0; overflow:hidden; text-align:right; border:1px solid #aaa; border-bottom:none; position:relative; top:11px; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px;-webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;border-radius:5px 5px 0 0;}
.tabsheet a {
display:block; font-size:11px; border:0;
font-weight:bold; overflow:hidden; padding:6px;
text-align:right; text-decoration:none; margin: 0; }
.tabsheet a:first-letter { text-transform:capitalize; }
.tabsheet li.selected_tab  {
  border-bottom:1px solid #f1f1f1;
}
.tabsheet li:hover, .tabsheet li.selected_tab  {
margin-top:4px; padding-bottom:3px; padding-top:3px; top:1px;
 }
/* .tabsheet a:hover */
.tabsheet li.selected_tab  a { color: #555; }
.tabsheet a span { display:block; font-size:10px; margin-right:2px; padding:0 3px 0 1px; }

.sort { clear: none; }
/* menubar is on all admin pages => No specific css file */
#menubar {
  padding:0; width:207px; z-index:99; text-align: left;margin-top:7px;
  margin-left:0;
}

#menubar ul.scroll { overflow-y:auto;
 /* Only IE family supports colored scrollbar */
 scrollbar-face-color: #ddd; scrollbar-shadow-color: #bbb; scrollbar-highlight-color: #fff;
 scrollbar-3dlight-color: #d6d6d6; scrollbar-darkshadow-color: #ccc; scrollbar-track-color: #eee;
 scrollbar-arrow-color: #0cccc; }
#menubar dd { margin: 0; padding: 0;}
#menubar dl { width: 200px; border:0; margin: 0; padding: 0; display: block; min-height:35px; border:1px solid #ddd; background-color:#f1f1f1; border-left:none; border-right:1px solid #ddd;}
#menubar dl.first {border-top:none;border-radius:0 6px 0 0;}
#menubar dl.first dt {border-radius:0 6px 0 0;}
#menubar dl.last {border-bottom:1px solid #ddd; border-radius:0 0 6px 0;}
#menubar dt { background-color: #ddd; margin: 0; display: block; font-weight:bold;
position:relative; padding: 5px 1px 4px 5px; font-size: 13px; color: #777; }
#menubar dt  span { cursor:pointer; }
#menubar li { margin: 0; padding-left:10px; }
#menubar li A { display:block; }
#menubar li A:hover { border:none; color:black;}
#menubar li:hover {background-color:#dbe8f3;}
#menubar ul { color: #ccc; margin:0; line-height: 25px;
  list-style-type: none; list-style-position: inside; padding: 0; }
#adminHome       {background-color:#ddd;border-radius: 0 6px 6px 0;margin-left:0;margin-bottom:17px;}
#adminHome:hover {background-color:#d0d0d0;}

/* jQuery tooltips */
.cluetip-outer { border-color:#999; color: #777; background-color: #eee; }
.cluetip-title { background-color: #ddd; }
/* jQuery ui resizable */
.ui-resizable { position: relative; }
.ui-wrapper { border: 0; }
.ui-wrapper input, .ui-wrapper textarea { border: 0; }
/* jQuery tiptip */
#tiptip_holder a { color:#42B0FF; }

/* Global handle styles */
.ui-resizable-handle { position: absolute; display: none; font-size: 0.1px; }
.ui-resizable .ui-resizable-handle { display: block; }
body .ui-resizable-disabled .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
body .ui-resizable-autohide .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
.ui-resizable-n { cursor: n-resize; height: 6px; width: 100%; top: 0px; left: 0px; background: transparent url(images/resizable-n.gif) no-repeat scroll center top; }
.ui-resizable-s { cursor: s-resize; height: 6px; width: 100%; bottom: 0px; left: 0px; background: transparent url(images/resizable-s.gif) no-repeat scroll center top; }
.ui-resizable-e { cursor: e-resize; width: 6px; right: 0px; top: 0px; height: 100%; background: transparent url(images/resizable-e.gif) no-repeat scroll right center; }
.ui-resizable-w { cursor: w-resize; width: 6px; left: 0px; top: 0px; height: 100%; background: transparent url(images/resizable-w.gif) no-repeat scroll right center; }
.ui-resizable-se { cursor: se-resize; width: 9px; height: 9px; right: 0px; bottom: 0px; background: transparent url(images/resizable-se.gif); }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: 0px; bottom: 0px; background: transparent url(images/resizable-sw.gif); }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: 0px; top: 0px; background: transparent url(images/resizable-nw.gif); }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: 0px; top: 0px; background: transparent url(images/resizable-ne.gif); }

#ui-datepicker-div {background-color: #fff; border:2px solid #aaa;}
#ui-datepicker-div .ui-datepicker-title {color:black;}
#ui-datepicker-div .ui-icon-circle-triangle-w {background: transparent url(icon/prev.png) no-repeat;}
#ui-datepicker-div .ui-icon-circle-triangle-e {background: transparent url(icon/next.png) no-repeat;}
#ui-datepicker-div A.ui-datepicker-prev:hover,
#ui-datepicker-div A.ui-datepicker-next:hover
{
  background-color:#eee;border:1px solid #aaa;
}

#ui-datepicker-div .ui-datepicker-control, #ui-datepicker-div  a { background-color: #eee; color: #08f !important;}
#ui-datepicker-div .ui-datepicker-days-row { background-color: #bbb;}
#ui-datepicker-div .ui-datepicker-week-end-cell, #ui-datepicker-div .ui-datepicker-week-end-cell  a { background-color: #ddd; color: #0cc; border-color: #bbb; border-top-color: #ddd; border-left-color: #ddd;}
#ui-datepicker-div .ui-datepicker-title-row { background-color: #eee;}
#ui-datepicker-div .ui-datepicker-title-row .ui-datepicker-week-end-cell a { color: #0cc;}
#ui-datepicker-div  a:hover { color: #0cccc !important; border: 0; background-color: #eee !important;}
#ui-datepicker-div .ui-datepicker-header select { background-color:#bbb; color:#666; font-weight:normal;}
#ui-datepicker-div .ui-datepicker-links { background-color:#ddd;}
#ui-datepicker-div .ui-datepicker-header { background-color:#bbb;}
#ui-datepicker-div .ui-datepicker-current-day { background-color: #eee !important; border-color: #bbb; border-top-color: #eee; border-left-color: #eee;}
#ui-datepicker-div .ui-datepicker-days-cell { background-color:#bbb; border:1px solid #ddd; border-top-color: #bbb; border-left-color: #bbb;}
img.ui-datepicker-trigger{margin:-2px 10px 1px -2px;}

.ui-slider { background:#ddd;border-radius:2px;border:1px solid #999; }
.ui-slider .ui-slider-handle { border:1px solid #005e89;background:#fff;border-radius:0.6em; }
.ui-slider .ui-slider-range { background:#999;border-radius:2px; }

INPUT[type="text"].large  { width: 317px; }

.bigbutton {background:none;margin-right:-5px; padding: 10px;height:auto;position:static;width:auto;text-align:right;}
.bigtext {display:none;position:static;}
.bigbutton input[type="submit"] {display:inline;position:static;height:auto;width:auto;font-size:18px;padding:10px;}


/* hacks */
* html[lang="en"] body .content h2 , *+html[lang="en"] body .content h2 { text-transform:capitalize; } /* IE */
*+html  .bigtext { left: 70px; }
*+html  .bigbutton input, * html  .bigbutton input  { left:0px; position:relative; top:-40px; }
* html .bigtext { margin-right: 300px; }

.themeBox {background-color:#ddd;}
.themeBox IMG {border:1px solid white;}
.themeName {color:black;}
#themesContent H3 {border-bottom:1px solid #aaa;}
.themeDefault {background-color:#dbe8f3;}

#pluginsMenuSeparator {border:1px solid #ddd;}

#helpContent A {border-bottom:1px dotted #005E89;}
#helpContent A:hover {border-bottom:1px solid #d54e21;}

#pwgHead, #footer {
	background-color: #ddd;
	color: #666;
}


#pwgHead A, #footer A {color:#444;}
#pwgHead A:hover, #footer A:hover {color:black; border-color:black;}
#footer { background-image: url(images/piwigo_logo_small.png);}

.pluginBox, .pluginMiniBox {background-color:#ddd;color:#353535;border-color:#ddd;}
.pluginBoxNameCell, .pluginMiniBoxNameCell {color:#111;}
.pluginBox.incompatible, .pluginMiniBox.incompatible {border-color:#a00 !important;}
.pluginBoxes .merged, .pluginBoxes .missing  {background-color:#d99;border:1px solid #a00;}
.showInfo {color:#fff;background-color:#999; }
.showInfo:hover {color:#fff;border:none;background-color:#333}

.languageBox {background-color:#ddd;}
.languageName {color:black;}
.languageDefault {background-color:#dbe8f3;}

UL.thumbnails li.rank-of-image {background-color: #ddd;}

#batchManagerGlobal .thumbSelected {background-color:#C2F5C2 !important}
#batchManagerGlobal #selectedMessage {background-color:#C2F5C2;}

.selectedComment {background-color:#C2F5C2;}

#pwgMain {padding-left:0}

input[type="submit"], input[type="button"], input[type="reset"], a.bigButton {
  font-size:12px;
  font-weight:bold;
  letter-spacing:1px;
  border:none;
  background-color:#666666;
  color:#fff;
  padding:2px 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  margin-left:0;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, a.bigButton:hover {
  background-color:#ff7700;
  color:white;
}

p.albumTitle img {margin-bottom:-3px;}