/* -------------
Head Buttons
------------- 

.head-button-1

or

.head-button-2

*/

.head-button-1, .head-button-2 {
    position: relative;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	display: flex;
	align-items: baseline;
	cursor: pointer;
    margin-right: 10px;
}

.head-button-1:active, .head-button-2:active {
    box-shadow: none;
    transform: translateY(2px);
}

.head-button-1 {
    color: white;
    background: #ffa646;
    box-shadow: 0px 2px #bb7932;
}

.head-button-1 p, .head-button-2 p {
    margin: 0;
    white-space: nowrap;
}

.head-button-1:hover {
    background: #ff7700;
    text-decoration: none !important;
    color: white;
}

.head-button-2 {
    background: #fafafa;
    box-shadow: 0px 2px #00000024;
}

.head-button-2:hover {
    background: #eee;
    text-decoration: none !important;
    color: inherit !important;
}

/* -------------
Advanced filter 
------------- 
 
.advanced-filter-btn.icon-filter(.advanced-filter-open)
...
.advanced-filter(.advanced-filter-open)
    .advanced-filter-header
        .advanced-filter-title
        .advanced-filter-close.icon-cancel
    .advanced-filter-container
        .advanced-filter-item
            .advanced-filter-item-label
            .advanced-filter-item-container
                // Put here your filter
        ...
*/

.advanced-filter-btn {
    width: 70px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #F3F3F3;
}

.advanced-filter-btn::before { /* Change icon size */
  font-size: 14px;
}

.advanced-filter-btn.advanced-filter-open::after {
  content: "";
  display: block;
  width: 100%;
  height: 16px;
  background-color: inherit;
  bottom: -16px;
  left: 0;
  position: absolute;
}

.advanced-filter {
    display: none;
    padding: 15px;
    font-size: 1em;
    flex-direction: column;

    background-color: #F3F3F3;
}

.advanced-filter.advanced-filter-open {
    display: flex;
}

.advanced-filter-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.advanced-filter-title {
    font-weight: bold;

    color: #3e3e3e;
}

.advanced-filter-close {
    font-size: 1.8em;
    color: #C5C5C5;
    cursor: pointer;
}

.advanced-filter-close:hover {
    color: #ff7700;
}

.advanced-filter-container {
    display: flex;
}

.advanced-filter-item:not(:last-child) {
    margin-right: 30px;
}

.advanced-filter-item-label {
    text-align: left;
    display: flex;
    margin-bottom: 5px;

    color:#3e3e3e;
}

.advanced-filter-item-container {
    position: relative;
    text-align: left;
    width: 100%;
}

/* Set Margin if the last element is a slider */
.advanced-filter-item:last-child .advanced-filter-item-container .slider-bar-wrapper {
    margin-right: 10px;
}

/* -------------
Advanced filter Select 
------------- 

.advanced-filter-select-container
    select.advanced-filter-select 

or (generated by selectize.js)

.advanced-filter-item-container 
    .selectize-control 
        .selectize-input
*/

.user-action-select-container::before, .advanced-filter-select-container::before {
  content: '\e835'; font-size: 14px; position: absolute; font-family: "fontello"; color: #6E6E6E; pointer-events: none;
}

.advanced-filter-select-container::before {
    top: 8px; right:10px
}

.advanced-filter-select {
    display: block;
    border: solid 1px #D4D4D4;
    padding: 8px 10px;
    height: 34px;
    background: white;
}

.advanced-filter-item-container .selectize-control .selectize-input {
    border: solid 1px #D4D4D4 !important;
    padding: 8px 10px !important;
    height: 34px;
    background: white !important;
    box-shadow: none !important;
}

.advanced-filter-item-container .selectize-control .selectize-input .item {
    padding-right: 0 !important;
}

/* -------------
Info Framed
------------- 

.info-framed
    .info-framed-icon
        i or img
    .info-framed-container
        .info-framed-title
        div
        div
        ...

*/

.info-framed {
    display: flex;
    border: #EEE solid 2px;
    padding: 20px;
    border-radius: 5px;
    margin: 0px 10px;
    align-items: center;
}

a.info-framed:hover {
    color: inherit;
    text-decoration: none;
} 

.info-framed-icon {
    font-size: 34px;
    margin-right: 20px;
    display: flex;
    color: #3c3c3c;
}

.info-framed-icon i {
    margin: auto;
}

.info-framed-container {
    margin: 0;
    display: inline-table;
}

.info-framed-container > * {
    margin: 0;
    word-wrap: anywhere;
}

.info-framed-title {
    color: #3c3c3c;
    font-weight: bold;
}