# Piwigo specific directories
/_data
/plugins/*
!/plugins/index.php
/themes/*
!/themes/index.php
!/themes/default
/upload
/galleries/*
!/galleries/index.php
/local/*
!/local/**/index.php

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Eclipse
.settings
.project