/* BACKGROUND */

body { background-color:#000000;} /*General background color*/
.main, .throw, .admin, .radio {	background-color:#3F3F3F;} /*Main background color*/
.row1,input,select,textarea, .table1, .home { background-color:#5F5F5F;} /* Tables & forms */
.table2, .commentTitle { background-color: #797979;} /* Alternate table & comments  */
.errors { background-color:red;} /* Errors display */
.titreMenu,.titrePage,.imgMenu a:hover { background-image: url(theme/tableh1_bg.gif);} /* Titles background image  */
.bouton, .imgMenu a, #imgBarMenu { background-image: url(theme/button_bg.gif);} /* Buttons background image */

/* FONT COLORS */

body { color:#E0E0E0;} /* General font color */
input,select,textarea { color:#FFFFCC;} /* Forms font color */
.titreMenu, .titreMenu a, .info, .admin{ color:#FFF48E;} /* Menu & sections titles */
.titrePage, .titreMenu a:hover { color:#E0E0E0;} /* Page title */
.comment{ color:#C6B78E;} /* Comments */
.commentDate { color:#999999;} /* Comments date */
.throw { color:#FFFFCC;} /* First line of tables */
.bouton, .errors { color:#FFFFFF;} /* Buttons & errors */

/* FONT COLORS (admin side) */

.update_summary_new, .best_gen_time { color:#9cb4ce;}
.update_summary_del,.worst_gen_time { color:#ffe1e1;}

/* ANCHORS */

a {
  text-decoration: none;
  color: #F6B620;
}

a:hover {
  text-decoration:none;
  color: #ffee40;
}

a.none:hover { text-decoration:none;}
a.image:hover { text-decoration:none;}
a.thumbLink:hover { text-decoration:none;}

/* FONT STYLES */

body /* Main font style */
{
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size:12px;
  margin:5px;
}

h1 /* H1 tag style (admin side only) */
{
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	text-decoration:none; 
	line-height:	120%;
	font-size:18px;
	font-weight: bold;
}

.titreMenu /* Menu titles */
{
  font-size:12px;
  font-weight:600;
}

.titrePage /* Page titles */
{
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-weight:600;
  font-size:16px;
}

.commentTitle /* Comments title */
{
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:bold;
}

.menu, .thumbnail, .totalImages { font-size:11px;}
.small{ font-size:10px;}
.menuCategorySelected, .throw, .admin, .errors { font-weight:bold;}
.menuCategoryNotSelected, .dateSelected, .pageNumberSelected, .thumb_picture, .thumb_category  { font-weight:normal;}
.commentDate, .bouton  { font-weight:lighter;}
.commentImage { font-style:italic; font-size:16px;}
.nameImage { font-size:20px;}
.info { font-size:16px;}
.copyright { font-size:10px; text-align:center; letter-spacing:-1px;}
div.information {  font-size:14px; font-weight:bold;}

/*----------------------------------------------*/
/* A good understanding of the CSS mechanism    */
/* is required below.                           */
/*                                              */
/* Do not modify the valuesunless you are aware */
/* of what you are doing!                       */
/*----------------------------------------------*/

/* POSITION */

div#pictureTitle {
  float:left;
  text-align:left;
}

div#pictureNumber {
  float:right;
  text-align:right;
}

#gauche,#droite
{
  float:left;
  width:30%;
  text-align:left;
  white-space:nowrap;
}

#centre
{
  float:left;
  width:39%;
  text-align:center;
}

#droite{text-align:right;}
#left {float:left; }
#right{float:right; }

/* GENERAL LAYOUT STYLES */

.main 
{
	border: 1px solid #E0E0E0; 
	width:100%;
	padding-bottom:30px;
	text-align:center;
	display:block;
}

.home
{
  border: 1px solid #000000;
  display:block;
  text-align:center;
  width:100%;
}

.navigationBar 
{
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}

.info 
{
  margin:5px 0px 5px 0px;
  /* white-space:nowrap; */
  text-align:center;
}

.errors 
{
  text-align:left;
  margin-top:5px;
  margin-bottom:5px;
  border:1px solid black;
}

div.information {
  text-align:left;
  margin:10px;
  padding:5px;
}

span.dateSelected, span.pageNumberSelected {
  text-decoration:underline;
}
/* MENU LAYOUT STYLES */

.titreMenu,.titrePage
{
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  height: 25px;
  line-height: 25px;
  text-align:center;
}
.titrePage {text-align:left;}

.menu 
{
  margin:10px 5px 10px 5px;
  white-space:nowrap;
  text-align:left;
}

ul.menu 
{
  text-align:left;
  list-style-type: square ;
  padding-left:15px;
  margin:5px;
}

.totalImages {
  text-align:center;
  margin-top:5px;
}

 /* IMAGE LAYOUT STYLES */
 
.image 
{
	border : 3px solid #FFFFFF;
	margin : 10px 4px 10px 4px;
}

#imgBarMenu
{
  width:100%;
  display:block;
  height:25px;
  border-bottom: 1px solid #000000;
}
  
.imgMenu
{
  width:48px;
  border:none;
  float:left;
}

.imgMenu img
{
 border:none;
 text-align:center;
 margin-top:4px;
}
  
.imgMenu a
{
  display:block;
  height: 25px;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #838383;
  border-right: 1px solid #000000;
}

.imgMenu a:hover
{
  border-bottom: 1px solid #3F3F3F;
  border-left: 1px solid #3F3F3F;
  border-right: 1px solid #3F3F3F;
}

.commentImage {
  text-align:justify;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* TABLE LAYOUT STYLES */

.table1
{
  border: 1px solid #000000;
  display:block;
}
  
.table2 {
	border: 1px solid #000000; 
	margin:	0px 10px 0px 0px;
	padding:0px;
}

.tablecompact{
  width:100%;
  border-collapse:collapse;
}

.row1,.row2 {
  text-align:left;
  padding:5px 0px 5px 0px;
  height:20px;
} 

.throw {
  text-align:center;
  border-top: 1px solid #000000; 
  border-bottom: 1px solid #000000; 
  height:20px;
}

td.throw{
  text-align:left;
  width:auto;
}

/* THUMBNAILS LAYOUT STYLES */

.thumbnail {
	text-align:center;
	vertical-align: baseline;
	white-space: nowrap;
}

table.thumbnail {
  border-collapse:separate;
  display:inline-table;
}

.thumbLink {
	border-style: solid;
	border-width:1px;
	border-color: #A0A0A0;
	margin: 2px;
}

/* COMMENTS LAYOUT STYLES */

.commentTitle {  padding: 15px 5px 10px 5px; }
.commentDate {
  text-align:right;
  border-top: 1px solid #000000; 
  border-bottom: 1px solid #000000;
}

/* FORM LAYOUT STYLES */

form
{
  text-align:left;
  padding:10px;
}

.bouton
{
  border: 1px solid #404750;
  padding-left: 3px;
  padding-right: 3px;
  background-position : bottom;
  margin-top:10px;
}

input,select,textarea 
{
 text-indent:2px;
 border: 1px solid #797979;
 padding: 0;
}

.radio{  border:0px ;}

/* ADMIN LAYOUT STYLES */

.adminMenu 
{
  text-align:center;
  font-size:12px;
}

div#adminMain {
  text-align: left;
  background-color: #5f5f5f;
  border: 1px solid black;
  display: block;
  width: 100%;
}

div#adminMain h2 {
  background-color: #3f3f3f;
  text-align: center;
  font-size: 120%;
}

div.adminMenu{ margin:10px 50px 10px 50px; }

.admin 
{
margin:0px 0px 12px 0px;
text-align: center;
padding:0px;
}

div.remoteOutput, div.remoteLocal {
  border:1px solid black;
  margin:10px;
  text-align:left;
  padding:5px;
}

div.remoteLocal {
  text-align:center;
}

/* for debugging purpose */
pre { text-align:left; }

label:hover {
  cursor: pointer;
}

/**
 * Categories management
 */

form#categoryOrdering>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form#categoryOrdering>ul>li {
  border: 1px solid grey;
  padding: 0px 5px;
  margin-bottom: 5px;
}

form#categoryOrdering ul.categoryActions {
  float: right;
  margin-top: 5px;
}

ul.categoryActions {
  margin: 5px;
  padding: 5px;
}

div.titrePage ul.categoryActions {
  float: right;
  margin: 0;
}

div#adminMain>ul.categoryActions {
  text-align: center;
}

ul.categoryActions>li {
  display: inline;
}

ul.categoryActions a img {
  border: none;
}

/**
 * Errors box in administration
 */
#errors {
  text-align: left;
  background-color: red;
  background-image: url(admin/images/errors.png);
  background-repeat: no-repeat;
  background-position: top right;
  color: white;
  font-weight: bold;
  margin: 5px;
  border:1px solid black;
  padding: 10px 50px 10px 10px;
}

/**
 * Informations box in administration
 */
#infos {
  text-align: left;
  background-color: #eee;
  background-image: url(admin/images/infos.png);
  background-repeat: no-repeat;
  background-position: top right;
  color: black;
  font-weight: bold;
  margin: 5px;
  border:1px solid gray;
  padding: 10px 50px 10px 10px;
}

/**
 * Filter forms are displayed label by label with the input (or select...)
 * below the label
 */
form.filter FIELDSET {
  padding: 10px;
}

form.filter FIELDSET LABEL {
  display: block;
  float: left;
  width: auto;
  margin-right: 10px;
  padding: 0;
}

form.filter>FIELDSET>LABEL>INPUT, form.filter>FIELDSET>LABEL>SELECT {
  display: block;
}

form.filter FIELDSET P, form.filter FIELDSET>INPUT {
  clear: left;
  display: block;
}

form.filter FIELDSET {
  border: 1px solid gray;
}

form.filter FIELDSET + INPUT {
  margin-top: 10px;
}

FORM#categoryPermissions LI {
  display:inline;
  white-space: nowrap;
}

fieldset {
  border: 1px solid gray;
}

fieldset>legend {
  margin: 5px;
}

select.categoryList {
  width: 400px;
}

table.doubleSelect {
  text-align: center;
  margin: 0 auto;
}

table.doubleSelect td {
  padding: 0 5px;
}

div#adminMain h1 {
  margin-top: 0;
  background-image: url(theme/tableh1_bg.gif);
  color: #e0e0e0;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  height: 25px;
  line-height: 25px;
  text-align: left;
}

div#adminMain dl {
  margin: 10px;
}

div#adminMain dl>dd {
  margin-bottom: 10px;
}

div#adminMain dl>dt {
  margin-bottom: 5px;
  font-style: italic;
  font-size: 110%;
}

div#theNavbar {
  background-color: #5f5f5f;
  border: 1px solid black;
  text-align: left;
}

div#theNavbar>dl,
div#theNavbar>dl>dd
{
  margin: 0;
}

div#theNavbar>dl>dt {
  background-image: url(theme/tableh1_bg.gif);
  color: #fff48e;
  font-size: 12px;
  font-weight: 600;
  padding-top: 0;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

div#theNavbar>dl>dd>ul {
  white-space: nowrap;
  list-style-type: square;
  padding-left: 15px;
  margin: 5px;
}

div#adminMain>fieldset {
  margin: 10px;
}

fieldset>legend {
  font-style: italic;
}

div#adminMain img.thumbnail {
  border: 1px solid white;
  margin: 0 auto;
  display: block;
}

textarea.description {
  height: 100px;
  width: 500px;
  overflow: auto;
}

fieldset.elementEdit>a {
  display: block;
  float: right;
}

/* Administration comments */
div#adminMain div.comment {
  margin: 5px;
  border: 1px solid gray;
  clear: both;
}

div#adminMain div.comment > a.illustration {
  display: block;
  float: left;
  margin: 5px;
}

div#adminMain div.comment p.commentHeader {
  text-align: right;
  margin: 0.5em 0.5em 0 0;
}

div#adminMain div.comment ul.actions {
  text-align: center;
  margin: 0.2em;
  clear: both;
}

div#adminMain div.comment > ul.actions > li {
  display: inline;
}

div#adminMain div.comment blockquote {
  margin: 15px;
  border: 1px dashed gray;
  padding: 0.5em;
}

/* */
form p.bottomButtons {
  text-align: center;
}