/* MAIN STYLES */

body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size:12px;
  background-color:#000000;
  color:#E0E0E0;
  margin:5px;
}

h1 {
	font:			bold 18pt 'Trebuchet MS', Verdana, sans-serif;
	text-decoration:none; 
	line-height:	120%; 
}
h2 {
	font:			bold 12pt Arial, Helvetica, sans-serif;
	text-decoration:none; 
	line-height:	120%; 
}

.small{ font-size:80%;}

/* ANCHORS */

a { text-decoration:none; color:#FFFFFF;}
a:hover { text-decoration:none; color:#FFF48E;}
a.none:hover { text-decoration:none;}
a.image:hover { text-decoration:none;}
a.thumbLink:hover { text-decoration:none;}
/*a.adminMenu:hover{ color : #C6B78E; }
a.adminMenu{ color : #FFF48E; }*/

/* Navigation styles */

.titreMenu,.titrePage
{
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  height: 25px;
  line-height: 25px;
  font-size:12px;
  color:#E0E0E0;
  background-image: url(theme/tableh1_bg.gif);
  font-weight:600;
  text-align:center;
}

.titrePage 
{
  text-align:left;
  font-size:16px;
  margin-bottom:5px;
}

.titreImg{
  text-align:center;
  font-size:16px;
  color:#FFF48E;
  font-weight:600;
}

.menu {
  margin:10px 5px 10px 5px;
  white-space:nowrap;
  font-size:11px;
  text-align:left;
}

ul.menu {
  text-align:left;
  /* list-style-image : url(theme/collapsed.gif); */
  list-style-type: square ;
  padding-left:15px;
  margin:5px;
}

.menuCategorySelected {
  font-weight:bold;
}

.menuCategoryNotSelected {
  font-weight:normal;
}

.navigationBar {
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}

 /* Image related styles */
 
.image {
	border : 3px solid #FFFFFF;
	margin : 10px 4px 10px 4px;
}

.commentImage {
  text-align:justify;
  font-style:italic;
  font-size:16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nameImage {
  text-align:center;
  font-size:24px;
  background-color: #666666;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
}
/* Table styles */

.main {
	background-color:#444444;
	border: 1px solid #E0E0E0; 
	width:100%;
	padding-bottom:30px;
}

.table1, .home
{
  border: 1px solid #000000;
  background-color:#555555;
}

.home
{
  text-align:center;
  width:100%;
}
  
.table2 {
	background-color: #797979;
	border: 1px solid #000000; 
	margin:	0px 10px 0px 0px;
	padding:0px;
}

.tablecompact{
  width:100%;
  border-collapse:collapse;
}

.row1,.row2 {
  text-align:left;
  padding:5px 0px 5px 0px;
  height:20px;
} 

.row1 {
  background-color:#505050;
}

.throw {
  color:#FFFFCC;
  background-color:#3F3F3F;
  text-align:center;
  font-weight:bold;
  border-top: 1px solid #000000; 
  border-bottom: 1px solid #000000; 
  height:20px;
}

td.throw{
  text-align:left;
  width:auto;
}
/* Thumbnails styles */

.thumbnail {
	font-size:11px;
	text-align:center;
	vertical-align: baseline;
	white-space: nowrap;
}

table.thumbnail {
  border-collapse:separate;
  display:inline-table;
}

.thumbLink {
	border-style: solid;
	border-width:1px;
	border-color: #A0A0A0;
	margin: 2px;
}

/* Comment styles */
.commentTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  background-color:#797979;
  font-weight:bold;
  padding: 15px 5px 10px 5px;
}

.commentDate {
  font-weight:lighter;
  text-align:right;
  color:#999999;
  border-top: 1px solid #000000; 
  border-bottom: 1px solid #000000;
}

.comment{
  color:#C6B78E; 
}
/* Form styles */

form{
  text-align:left;
  padding:10px;
}

.bouton {
  background-image: url(theme/button_bg.gif);
  border: 1px solid #404750;
  color:#FFFFFF;
  padding-left: 3px;
  padding-right: 3px;
  font-weight:500;
  background-position : bottom;
  margin-top:10px;
}

input,select,textarea {
 text-indent:2px;
 background-color:#505050;
 border: 1px solid #797979;
 padding: 0;
 color:#FFFFCC;
}

.radio{
  border:0;
}
/* Admin styles */

.adminMenu {
  text-align:center;
  font-size:12px;
}

div.adminMenu{
margin:10px 50px 10px 50px; 
}

.admin {
font-weight:bold;
background-color:#444444;
margin:0px 0px 12px 0px;
text-align: center;
padding:0px;
color : #FFF48E; 
}

.adminMain
{
  border: 1px solid #000000;
  background-color:#656565;
  width:95%;
  color:#FFFFFF;
}

/* Other styles */
.info {
  color:#FFF48E;
  margin:5px 0px 5px 0px
  white-space:nowrap;
  text-align:center;
  font-size:16px;
}
.menuInfoCat {
  font-family:sans-serif;
  font-size:11px;
}
.totalImages {
  text-align:center;
  margin-top:5px;
  font-family:sans-serif;
  font-size:11px;
}

.infoCat {
  margin-top:10px;
  margin-bottom:10px;
  text-align:left;
}

.copyright {
  font-size:10px;
  text-align:center;
  letter-spacing:-1px;
}

.errors {
  text-align:left;
  margin-top:5px;
  margin-bottom:5px;
  background-color:red;
  font-weight:bold;
  border:1px solid black;
  color:white;
}

div.information {
  text-align:center;
  border:2px solid #E0E0E0;
  margin:10px;
  padding:5px;
}

span.selected {
  font-weight:bold;
}

span.thumb_picture {
  font-weight:normal;
}

span.thumb_category {
  font-weight:normal;
}
