@import url("default.css");

a, a:hover {
color:#006699;
}

body,font,table,input,form,select,textarea {
font-family:arial,verdana,sans-serif;
font-size:12px;
color:#000000;
text-align:left;
}
table 
{
border-collapse:separate;
}
body {
background-color:#E5E5E5;
margin:5px;
}

.table1 {
border-collapse:collapse;
background-color:#FFFFFF;
}
.contenucellule {
background-color:#EEEEEE;
border:2px solid #006699;
}
.style1 {
margin-top:20px;
}
th {
font-weight:bold;
background-color:#D3DCE3;
margin-bottom:10px;
text-align: center;
}
td.row1 {
background-color:#E6E4E4;
}
td.row2,td.throw2 {
background-color:#E8E8E8;
}
td.throw2 {
text-align:center;
font-weight:bold;
}
td.row3 {
background-color:#eeeeee;
}
td.row4 {
background-color:#cccccc;
}
.info {
color:darkblue;
text-align:center;
}
div.key {
margin-left : 10px;
}
td.choice {
text-align : center;
}
div.install_warning {
text-align:center;
color:red;
margin:20px;
font-weight:bold;
}

.tableComment,.cellAuthor,.cellInfo {  
color:#000000; 
border-color:#006699;
}
.commentsAuthor,.commentsTitle,.commentsInfos,.commentsContent
{
color:#000000;
}
.errors {
  text-align:left;
  margin:25px;
  background-color:#ffe1e1;
  border:1px solid red;
  color:black;
}
.errors_title {
  margin:5px;
  font-weight:bold;
  font-size:120%;
  text-align:center;
  color:red;
}