/* BACKGROUND */

body { background-color:#000000;} /*General background color*/
.main, .throw, .admin {	background-color:#3F3F3F;} /*Main background color*/
.row1,input,select,textarea, .table1, .home { background-color:#5F5F5F;} /* Tables & forms */
.table2, .commentTitle { background-color: #797979;} /* Alternate table & comments  */
.errors { background-color:red;} /* Errors display */
.titreMenu,.titrePage,.imgMenu a:hover { background-image: url(theme/tableh1_bg.gif);} /* Titles background image  */
.bouton, .imgMenu a, #imgBarMenu { background-image: url(theme/button_bg.gif);} /* Buttons background image */

/* FONT COLORS */

body { color:#E0E0E0;} /* General font color */
input,select,textarea { color:#FFFFCC;} /* Forms font color */
.titreMenu, .titreMenu a, .info, .admin{ color:#FFF48E;} /* Menu & sections titles */
.titrePage, .titreMenu a:hover { color:#E0E0E0;} /* Page title */
.comment{ color:#C6B78E;} /* Comments */
.commentDate { color:#999999;} /* Comments date */
.throw { color:#FFFFCC;} /* First line of tables */
.bouton, .errors { color:#FFFFFF;} /* Buttons & errors */
.update_summary_new { color:#9cb4ce;} /* Update results (admin side only) */
.update_summary_del { color:#ffe1e1;} /* Update results (admin side only) */

/* ANCHORS */

a { text-decoration:none; color:#FFFFFF;}
a:hover { text-decoration:none; color:#FFF48E;}
a.none:hover { text-decoration:none;}
a.image:hover { text-decoration:none;}
a.thumbLink:hover { text-decoration:none;}

/* FONT STYLES */

body /* Main font style */
{
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size:12px;
  margin:5px;
}

h1 /* H1 tag style (admin side only) */
{
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	text-decoration:none; 
	line-height:	120%;
	font-size:18px;
	font-weight: bold;
}

h2 /* H2 tag style (admin side only) */
{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none; 
	line-height:	120%; 
	font-size:12px;
	font-weight: bold;
}

.titreMenu /* Menu titles */
{
  font-size:12px;
  font-weight:600;
}

.titrePage /* Page titles */
{
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-weight:600;
  font-size:16px;
}

.commentTitle /* Comments title */
{
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:bold;
}

.menu .thumbnail, .totalImages { font-size:11px;}
.small{ font-size:10px;}
.menuCategorySelected, .throw, .admin, .errors { font-weight:bold;}
.menuCategoryNotSelected, .dateSelected, .pageNumberSelected, .thumb_picture, .thumb_category  { font-weight:normal;}
.commentDate, .bouton  { font-weight:lighter;}
.commentImage { font-style:italic; font-size:16px;}
.nameImage { font-size:20px;}
.info { font-size:16px;}
.copyright { font-size:10px; text-align:center; letter-spacing:-1px;}
div.information {  font-size:14px; font-weight:bold;}

/*----------------------------------------------*/
/* Under this point, do not modify the values   */
/* unless you are aware of what you are doing!  */
/*----------------------------------------------*/

/* POSITION */

#gauche,#droite
{
  float:left;
  width:30%;
  text-align:left;
}

#centre
{
  float:left;
  width:40%;
  text-align:center;
}

#droite{text-align:right;}
#left {float:left; }
#right{float:right; }

/* GENERAL LAYOUT STYLES */

.main 
{
	border: 1px solid #E0E0E0; 
	width:100%;
	padding-bottom:30px;
	text-align:center;
	display:block;
}

.home
{
  border: 1px solid #000000;
  display:block;
  text-align:center;
  width:100%;
}

.navigationBar 
{
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}

.info 
{
  margin:5px 0px 5px 0px;
  white-space:nowrap;
  text-align:center;
}

.errors 
{
  text-align:left;
  margin-top:5px;
  margin-bottom:5px;
  border:1px solid black;
}

div.information {
  text-align:left;
  margin:10px;
  padding:5px;
}

span.dateSelected, span.pageNumberSelected {
  text-decoration:underline;
}
/* MENU LAYOUT STYLES */

.titreMenu,.titrePage
{
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  height: 25px;
  line-height: 25px;
  text-align:center;
}
.titrePage {text-align:left;}

.menu 
{
  margin:10px 5px 10px 5px;
  white-space:nowrap;
  text-align:left;
}

ul.menu 
{
  text-align:left;
  list-style-type: square ;
  padding-left:15px;
  margin:5px;
}

.totalImages {
  text-align:center;
  margin-top:5px;
}

 /* IMAGE LAYOUT STYLES */
 
.image 
{
	border : 3px solid #FFFFFF;
	margin : 10px 4px 10px 4px;
}

#imgBarMenu
{
  width:100%;
  display:block;
  height:25px;
  border-bottom: 1px solid #000000;
}
  
.imgMenu
{
  width:48px;
  border:none;
  float:left;
}

.imgMenu img
{
 border:none;
 text-align:center;
 margin-top:4px;
}
  
.imgMenu a
{
  display:block;
  height: 25px;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #838383;
  border-right: 1px solid #000000;
}

.imgMenu a:hover
{
  border-bottom: 1px solid #3F3F3F;
  border-left: 1px solid #3F3F3F;
  border-right: 1px solid #3F3F3F;
}

.commentImage {
  text-align:justify;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* TABLE LAYOUT STYLES */

.table1
{
  border: 1px solid #000000;
  display:block;
}
  
.table2 {
	border: 1px solid #000000; 
	margin:	0px 10px 0px 0px;
	padding:0px;
}

.tablecompact{
  width:100%;
  border-collapse:collapse;
}

.row1,.row2 {
  text-align:left;
  padding:5px 0px 5px 0px;
  height:20px;
} 

.throw {
  text-align:center;
  border-top: 1px solid #000000; 
  border-bottom: 1px solid #000000; 
  height:20px;
}

td.throw{
  text-align:left;
  width:auto;
}

/* THUMBNAILS LAYOUT STYLES */

.thumbnail {
	text-align:center;
	vertical-align: baseline;
	white-space: nowrap;
}

table.thumbnail {
  border-collapse:separate;
  display:inline-table;
}

.thumbLink {
	border-style: solid;
	border-width:1px;
	border-color: #A0A0A0;
	margin: 2px;
}

/* COMMENTS LAYOUT STYLES */

.commentTitle {  padding: 15px 5px 10px 5px; }
.commentDate {
  text-align:right;
  border-top: 1px solid #000000; 
  border-bottom: 1px solid #000000;
}

/* FORM LAYOUT STYLES */

form
{
  text-align:left;
  padding:10px;
}

.bouton
{
  border: 1px solid #404750;
  padding-left: 3px;
  padding-right: 3px;
  background-position : bottom;
  margin-top:10px;
}

input,select,textarea 
{
 text-indent:2px;
 border: 1px solid #797979;
 padding: 0;
}

.radio{  border:0;}

/* ADMIN LAYOUT STYLES */

.adminMenu 
{
  text-align:center;
  font-size:12px;
}

div.adminMenu{ margin:10px 50px 10px 50px; }

.admin 
{
margin:0px 0px 12px 0px;
text-align: center;
padding:0px;
}

div.remoteOutput, div.remoteLocal {
  border:1px solid black;
  margin:10px;
  text-align:left;
  padding:5px;
}

div.remoteLocal {
  text-align:center;
}

/* for debugging purpose */
pre { text-align:left; }