/* Main styles */

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  background-color:#000000;
  color:#E0E0E0;
  margin:5px;
}

a {
  text-decoration:none;
  color:#FFFFFF;
}
a:hover {
  text-decoration:underline;
  color:#FFFFAA;
}

/* Navigation styles */

.titreMenu,.titrePage
{
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  height: 25px;
  line-height: 25px;
  font-size:12px;
  color:#E0E0E0;
  background-image: url(theme/tableh1_bg.gif);
  font-weight:600;
  text-align:center;
}

.titrePage 
{
  text-align:left;
  font-size:16px;
  margin-bottom:5px;
}

.titreImg{
  text-align:center;
  font-size:16px;
  color:#FFF48E;
  font-weight:600;
}

.menu 
{
  margin:10px 5px 10px 5px;
  white-space:nowrap;
  font-size:11px;
}

 /* Image related styles */
 
.imgLink {
	border-style: solid;
	border-width:2px;
	border-color: #A0A0A0;
	margin: 2px;
}

.imgLink:hover {
  text-decoration:none;
}

.image {
	border: 1px solid #000000;
	background-color: #FFFFFF;
	text-align:center;
	margin-top: 10px;
	margin-bottom: 20px;
	white-space: nowrap;
	padding: 0px;
	display: table;
}

.commentImage {
  font-weight:bold;
  text-align:center;
  font-size:17px;
  color:#F0F0F0;
  margin-bottom: 10px;
}

/* Table styles */

.main {
	background-color:#444444;
	border: 1px solid #E0E0E0; 
	width:100%;
	padding-bottom:30px;
}

.table1, .home
{
  border: 1px solid #000000;
  background-color:#555555;
}

.home
{
  text-align:center;
  width:100%;
}
  
.table2 {
	background: #797979;
	border: 1px solid #000000; 
	margin: 0px 10px 10px 10px;
}

td{
  padding:0px;
}

/* Thumbnails styles */

.thumbnail {
	font-size:11px;
	text-align:center;
	display:inline-table;
	vertical-align: baseline;
}

table.thumbnail {
  border-collapse:separate;
}

/* Other styles */
a.back {
  color:#E0E0E0;
}

input {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
}

.info,.commentsAuthor,.commentsTitle,.commentsInfos,.commentsContent,.commentsNavigationBar {
  color:#E0E0E0;
  background-color:#444444;
}
.info {
  margin-bottom:5px;
  white-space:nowrap;
  margin-left:5px;
  margin-right:5px;
  text-align:right;
}
.menuInfoCat {
  font-family:sans-serif;
  font-size:11px;
}
.totalImages {
  text-align:center;
  margin-top:5px;
  font-family:sans-serif;
  font-size:11px;
}

.comments, .infoCat, .navigationBar {
  margin-top:10px;
  margin-bottom:10px;
}
.comments {
  text-align:justify;
  font-style:italic;
}
.navigationBar {
  text-align:center;
}
.infoCat {
  text-align:left;
}

.copyright {
  font-size:10px;
  text-align:center;
  letter-spacing:-1px;
}

.bouton {
  background:#E0E0E0;
}
textarea,input {
  color:black;
}



.errors {
  text-align:left;
  margin-top:5px;
  margin-bottom:5px;
  background-color:red;
  font-weight:bold;
  border:1px solid black;
  color:white;
}

div.information {
  text-align:center;
  border:2px solid #E0E0E0;
  margin:10px;
  padding:5px;
}
.commentsAuthor, .commentsTitle, .commentsInfos, .commentsContent, .commentsNavigationBar {
	
  font-family:arial, sans-Serif;
  font-size:12px;
}
.commentsTitle, .commentsAuthor {
  text-align:center;
  font-weight:bold;
}
.commentsInfos {
  padding:3px 3px 3px 10px;
  font-size:11px;
  text-align:right;
}
.commentsContent {
  margin:10px;
}
.commentsTitle {
  margin-top:15px;
}
.commentsAuthor {
  margin:5px;
}
.commentsNavigationBar {
  margin:10px;
}
.tableComment,.cellAuthor,.cellInfo {
  border-color:#E0E0E0;
  border-style:solid;
}
.tableComment {
  width:100%;
  border-width:2px;
  text-align:left;
  padding: 10px;
}
.cellAuthor {
  border-width:0px;
  border-right-width:1px;
  width:20%;
}
.cellInfo {
  border-width:0px;
  border-bottom-width:1px;
}

      .miniature {
        border:solid 1px black;
      }
	        .titretable1 {
        color:black;
        background-color:#D3DCE3;
        text-align:center;
        border:2px solid #006699;
        font-weight:bold;
        border-bottom:0px;
      }
      .grostitre {
        text-align:center;
        margin:10px 50px 10px 50px;
        font-size:20px;
        width:300px;
      }
      .plan {
        margin:10px 10px 10px 2px;
        white-space:nowrap;
      }
	        .cat_plan {
        font-weight:bold;
      }
      .retrait {
        margin:10px;
        margin-left:30px;
        margin-top:2px;
      }
	        .erreur {
        color:red;
        text-align:center;
      }
      .errors_title {
        margin:5px;
        font-weight:bold;
        font-size:120%;
        text-align:center;
        color:red;
      }
	  
