a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
a.back {
  color:#ffffff;
}
body {
  font-family:arial, sans-serif;
  font-size:12px;
  background-color:#444444;
  color:#ffffff;
  margin:5px;
}
table, input {
  font-family:arial, sans-serif;
  font-size:12px;
}
.imgLink {
  border:1px solid #ffffff;
}
.imgLink:hover {
  text-decoration:none;
}
.titrePage, .titreMenu, .menu, .info, a {
  color:#ffffff;
}
.titreMenu, .menu, .info {
  margin-bottom:5px;
  white-space:nowrap;
}
.menu, .titrePage, .info {
  margin-left:2px;
  margin-right:2px;
}
.menuInfoCat {
  font-family:sans-serif;
  font-size:11px;
}
.totalImages {
  text-align:center;
  margin-top:5px;
  font-family:sans-serif;
  font-size:11px;
}
.titreMenu {
  font-weight:600;
  text-align:center;
}
.info {
  text-align:right;
}
.titrePage {
  white-space:nowrap;
  font-weight:500;
  font-size:18px;
  text-align:center;
}
.comments, .infoCat, .navigationBar {
  margin-top:10px;
  margin-bottom:10px;
}
.comments {
  text-align:justify;
  font-style:italic;
}
.navigationBar {
  text-align:center;
}
.infoCat {
  text-align:left;
}
.thumbnail {
  font-size:11px;
  text-align:center;
}
.copyright {
  font-size:11px;
  text-align:center;
  font-family:sans-serif;
  letter-spacing:0.3mm;
}
.commentImage {
  font-weight:bold;
  text-align:center;
  font-size:17px;
}
.bouton {
  background:#eeeeee;
}
input {
  border-color:#000000;
  background:#ffffff;
  color:#000000;
}
table {
  border-collapse:collapse;
}
table.thumbnail {
  border-collapse:separate;
}
td {
  font-family:sans-serif;
  padding:0;
}
.errors {
  text-align:left;
  margin-top:5px;
  margin-bottom:5px;
  background-color:red;
  font-weight:bold;
  border:1px solid black;
  color:white;
}
div.information {
  text-align:center;
  border:2px solid #ffffff;
  margin:10px;
  padding:5px;
}
.commentsAuthor, .commentsTitle, .commentsInfos, .commentsContent, .commentsNavigationBar {
  color:#ffffff;
  font-family:arial, sans-Serif;
  font-size:12px;
}
.commentsTitle, .commentsAuthor {
  text-align:center;
  font-weight:bold;
}
.commentsInfos {
  padding:3px 3px 3px 10px;
  font-size:11px;
  text-align:right;
}
.commentsContent {
  margin:10px;
}
.commentsTitle {
  margin-top:15px;
}
.commentsAuthor {
  margin:5px;
}
.commentsNavigationBar {
  margin:10px;
}
.tableComment {
  width:100%;
  border:2px solid #ffffff;
  text-align:left;
  padding: 10px;
}
.cellAuthor {
  border-right:1px solid #ffffff;
  width:20%;
}
.cellInfo {
  border-bottom:1px solid #ffffff;
}

