/* $Id: /piwigo/trunk/template/yoga/theme/clear/theme.css 6421 2008-09-24T19:15:01.483154Z vdigital  $ */

/* text color */
BODY, H1, H2, H3, DT,
INPUT.rateButtonSelected /* <= why IE doesn't inherit this ? */ {
	color:#696969;	/* dimgray */
}

/* backgrounds */
BODY, H3 {
	background-color: #ffffff;	/* white */
}

H2, #menubar DT, #imageHeaderBar, #imageToolBar A:hover {
	background-color: #d3d3d3;
}

#menubar DL, .content, #imageToolBar, .header_notes {
  background-color: #eeeeee;
}

/* borders */
#menubar DL, .content, #imageToolBar {
  border: 1px solid #d3d3d3;
}

#theImage IMG {
  border: 3px solid #d3d3d3;
}

.content UL.thumbnail IMG {
    border: 1px solid #a0a0a0;
}

FIELDSET, INPUT, SELECT, TEXTAREA,
.content DIV.thumbnailCategory {
  border: 1px solid gray;
}

.content UL.thumbnails SPAN.wrap2 {
  border: 1px solid #aaaaaa;	/* thumbnails border color and style */
  border-radius: 4px 4px;	/* round corners with CSS3 compliant browsers */
}

.content UL.thumbnails SPAN.wrap2:hover,
.content UL.thumbnailCategories DIV.thumbnailCategory:hover,
.content UL.thumbnailCategories DIV.thumbnailCategory:hover A {
  background-color: #faebd7;
  border-color: yellow;		/* thumbnails border color when mouse cursor is over it */
  color: black;
}

/* links */
A, INPUT.rateButton {
    color: #005e89;
    background: transparent;
}

A:hover, INPUT.rateButton:hover {
    color: #858460;
}

#imageToolBar A, #imageToolBar A:hover {
    border-bottom: none;
}

A.navThumb, A.navThumb:hover {
    border-bottom: none;
}

/*calendar elements*/
SPAN.calItem, SPAN.calItemEmpty
{
  border: 1px solid silver;
}

#qsearchInput { color: #d3d3d3; }
#qsearchInput:focus { color: #005e89; }