/* $Id$ */

/* text color */
BODY, H1, H2, H3, DT,
INPUT.rateButtonSelected /* <= why IE doesn't inherit this ? */ {
  color:#696969;	/* dimgray */
}

/* backgrounds */
BODY, H3, .throw {
  background-color: #ffffff;	/* white */
}

H2, #menubar DT, #imageHeaderBar, #imageToolBar A:hover, .row1 {
  background-color: #d3d3d3;
}

#menubar DL, #content, #imageToolBar, .header_notes, .content {
  background-color: #eeeeee;
}

/* borders */
#menubar DL, #content, #imageToolBar, 
#comments DIV.comment BLOCKQUOTE {
  border: 1px solid #d3d3d3;
}

#theImage IMG {
  border-color: #d3d3d3;
}

#content UL.thumbnail IMG {
    border: 1px solid #a0a0a0;
}

FIELDSET, INPUT, SELECT, TEXTAREA,
#content DIV.comment  A.illustration IMG,
#content DIV.thumbnailCategory {
  border: 1px solid gray;
}

#comments DIV.comment BLOCKQUOTE {
  border-left: 2px solid #696969;
  background-color: #eee;
}

#content UL.thumbnails SPAN.wrap2 {
  border: 1px solid #aaaaaa;	/* thumbnails border color and style */
  border-radius: 4px 4px;	/* round corners with CSS3 compliant browsers */
}

#content UL.thumbnails SPAN.wrap2:hover,
#content UL.thumbnailCategories DIV.thumbnailCategory:hover,
#content UL.thumbnailCategories DIV.thumbnailCategory:hover A {
  background-color: #faebd7;
  border-color: yellow;		/* thumbnails border color when mouse cursor is over it */
  color: black;
}

/* links */
A, INPUT.rateButton {
    color: #005e89;
    background: transparent;
}

A:hover, INPUT.rateButton:hover {
    color: #858460;
}

#imageToolBar A, #imageToolBar A:hover {
    border-bottom: none;
}

A.navThumb, A.navThumb:hover {
    border-bottom: none;
}

/*calendar elements*/
SPAN.calItem, SPAN.calItemEmpty
{
  border: 1px solid silver;
}

.virtual_cat { background: #fff !important; }
#mbMenu #quicksearch > p { text-align: left; }
#qsearchInput { color: #d3d3d3; }
#qsearchInput:focus { color: #005e89; }


UL.tabsheet LI.normal_tab { background-color: #d3d3d3; }
UL.tabsheet LI.selected_tab { background-color: #eeeeee; }

UL.tabsheet, UL.tabsheet LI {border-color: gray;}
UL.tabsheet LI.normal_tab:hover { border-color: black; }
