/* $Id$ */
.content div.thumbnailCategory div.illustration { width:165px !important; /* Usable range 162px-360px , optimal : Thumbnail width + 40px */ }
.content div.thumbnailCategory { height: 180px !important; /* Usable range 172px-250px , optimal : Thumbnail height + 30px */ }
.content div.thumbnailCategory div.description .text { height: 130px !important; /* -42px than previous one */ }

/*  Sylvia Theme is close to the Roma Admin theme */
BODY, H1, H3, DT, INPUT.rateButtonSelected { color:#666; }
H2, #menubar DT { color: #666; }
#imageHeaderBar, #imageToolBar A:hover { background-color: transparent; }
BODY { background:#111 url(images/bottom-left-bg.jpg) no-repeat fixed left bottom;
margin:0; min-height: 100%; height: 100%; padding:0; }
#the_page { background:transparent url(images/top-left-bg.jpg) no-repeat scroll left top;
left:0; margin:0; padding:0; position:absolute; top:0; z-index:0; width: 100%; min-width: 100%; }
#mbIdentification p, .totalImages { color: #333; }
.header_msgs { background:transparent url(images/header_msgs-bg.gif) repeat scroll right top;
border:0; color:#333; font-size:24px; left:0; margin:0; padding:10px 0 6px 0; position:absolute;
text-align:center; top:0; width:100%; z-index:99; }
.header_notes { border:0; color:#333; margin:0; padding:12px 44px 0 0; position:absolute;
right:9px; top:48px; z-index:99; background-position: right top; }
#menubar DL { background:transparent url(images/menuBox_top.gif) no-repeat scroll left top;
margin:0 0 5px 40px; padding:0; width: 231px; min-width: 231px; border: 0; min-height: 32px; overflow-x: hidden;}
#imageHeaderBar H2 { border: 0; }
#menubar DT { background-color:#111; border:0; display:inline; margin-left:8px; text-align:left; }
#menubar DD { background:transparent url(images/menuBox_bottom.gif) no-repeat scroll left bottom;
margin:14px 0 0 0; padding:0 0 22px; width: 231px; min-width: 231px; border: 0; overflow-x: hidden;}
#menubar UL, #menubar p, 
#menubar .illustration  { background:transparent url(images/menuBox_sides.gif) repeat-y scroll left bottom;
margin:0; }
#menubar DT A { font-size: 100%; }
#menubar UL { color: #333; font-size: 16px; line-height: 15px; }
#menubar LI { padding-left: 12px; }
#menubar A, .menuInfoCat { font-size: 13px; }
#menubar form { background:transparent url(images/menuBox_sides.gif) repeat-y scroll left bottom; margin:0; }
#menubar DL#mbIdentification { background:transparent url(images/menuId_top.gif) no-repeat scroll left top !important;}
#menubar #mbIdentification DD { background:transparent url(images/menuId_bottom.gif) no-repeat scroll left bottom; }
#menubar #mbIdentification UL, #menubar #mbIdentification p, 
#menubar #mbIdentification .illustration  { background:transparent url(images/menuId_sides.gif) repeat-y scroll left bottom; }
#menubar #mbIdentification form { background:transparent url(images/menuId_sides.gif) repeat-y scroll left bottom; }
#menubar #mbIdentification  .actions, #menubar ul ul, #menubar #mbIdentification form  p { background-image:none; }
#menubar #mbIdentification p { padding: 2px 16px 0; }
#menubar p { padding: 16px 16px 0; }
#menubar .button { position:relative; right:9px; top:12px; height:16px; }
#menubar #mbIdentification .button { height:24px; right:0px; top:0px; }
#menubar #mbIdentification fieldset { border:0; margin:0 24px 0 23px; }
#menubar #mbIdentification legend { display: none; }
#menubar #menuTagCloud { margin: 0; padding: 0 8px 0 16px; }
#content { background:#222 url(images/fillet.gif) repeat-x scroll left top; min-height:466px; }
.content { border: 1px solid #000; border-top: 0; margin:21px 7px 0 290px; padding-top:7px; }
.content h2 { margin:0; padding:0px 10px 15px 15px; border:0;}
#content ul.thumbnailCategories li {
background:#222 url(images/cat_bottom-right.gif) no-repeat scroll right bottom; width:49%; margin: 0; padding:0; }
.content div.thumbnailCategory { background:transparent url(images/cat_bottom-left.gif) no-repeat scroll left bottom; 
padding: 0; margin:0; }
#content .thumbnailCategory div.illustration { background:transparent url(images/cat_top-left.gif) no-repeat scroll left top; 
padding: 0 0 0 10px; margin: 0; }
.content .thumbnailCategory div.illustration a { display: block; margin: 0; padding:20px 0 0 8px; }
#content .thumbnailCategory div.description { background:transparent url(images/cat_top-right.gif) no-repeat scroll right top;
margin: 0; padding:15px 10px 3px 0; overflow: hidden; }
#content .thumbnailCategory div.description .text { display:block; margin:10px 2px 0 0;
overflow: auto; overflow-x:hidden; padding:0 0 5px;  /* Only IE family supports colored scrollbar */
 scrollbar-face-color: #222; scrollbar-shadow-color: #444; scrollbar-highlight-color: #000;
 scrollbar-3dlight-color: #292929; scrollbar-darkshadow-color: #333; scrollbar-track-color: #111;
 scrollbar-arrow-color: #f70; }
.content div.thumbnailCategory div.description p.dates { margin: 0 15px 0 15px; text-align: right; }
#content.content .thumbnailCategory div.description H3 { display: block; margin: 0; }
#content ul.thumbnailCategories li:hover { background-color:#111; } 
#imageHeaderBar .imageNumber { margin-right:170px; }
#imageHeaderBar .browsePath { margin-left:125px; }
H2 { border-bottom: 1px solid #000000; }
FIELDSET, INPUT, SELECT, TEXTAREA { border: 1px solid #666; }
INPUT, select, textarea { color:#999; background-color: #444; } 
input:focus, select:focus, textarea:focus, input.focus, form .focus { background-color:#444;color: #999; }
.content UL.thumbnails SPAN.wrap2 {
border: 1px solid #666;	/* thumbnails border color and style */
border-radius: 4px 4px;	/* round corners with CSS3 compliant browsers */ }
.content UL.thumbnails SPAN.wrap2:hover { color: #666;
background-color: #111; border:1px solid #ff3363;	/* thumbnails border color when mouse cursor is over it */ }
A, INPUT.rateButton { color:#f70; border-color: #f70; }
A:hover, A:active { color: #f33; border-color: #FF3363; cursor: pointer; }
input:active, a:active, input:focus, a:focus { outline: none; -moz-outline-width: 0px; }
#debug { margin: 15px 15px 5px 248px; font-size:12px; clear: both; word-wrap:break-word;}