/* $Id$ */

/* text color */
BODY, H1, H3, DT,
INPUT.rateButtonSelected /* <= why IE doesn't inherit this ? */ {
	color:#d0d0d0;
}

H2, #menubar DT {
	color: #fff48e;
}


/* backgrounds */

H3, #imageHeaderBar, #imageToolBar A:hover {
	background-color: #111;
}

body {
background:#111111 url(images/bottom-left-bg.jpg) no-repeat fixed left bottom;
margin:0; min-height: 100%; height: 100% padding:0; }
#the_page {
background:transparent url(images/top-left-bg.jpg) no-repeat scroll left top;
left:0; margin:0; padding:0; position:absolute; top:0; z-index:0; 
width: 100%; min-width: 100%; }

.header_notes {	background-color: #222; border: 1px solid #000; margin:0 7px -12px 290px; padding-top:0;}
#menubar DL { background:transparent url(images/menuBox_top.gif) no-repeat scroll left top;
margin:0 0 5px 40px; padding:0; width: 231px; min-width: 231px; border: 0;
min-height: 32px; overflow-x: hidden;}
#imageHeaderBar H2 { border: 0; }
#menubar DT { background-color:#111; border:0; display:inline; margin-left:8px; text-align:left; }
#menubar DD { background:transparent url(images/menuBox_bottom.gif) no-repeat scroll left bottom;
margin:14px 0 0 0; padding:0 0 22px; width: 231px; min-width: 231px; border: 0; overflow-x: hidden;}
#menubar UL, #menubar p, 
#menubar .illustration  { background:transparent url(images/menuBox_sides.gif) repeat-y scroll left bottom;
margin:0; }
#menubar DT A { font-size: 100%; }
#menubar UL { color: #333; font-size: 16px; line-height: 13px; }
#menubar LI { padding-left: 12px; }
#menubar A, .menuInfoCat { font-size: 13px; }
#menubar form { background:transparent url(images/menuBox_sides.gif) repeat-y scroll left bottom;
margin:0; }
#menubar DL#mbIdentification { background:transparent url(images/menuId_top.gif) no-repeat scroll left top !important;}
#menubar #mbIdentification DD { background:transparent url(images/menuId_bottom.gif) no-repeat scroll left bottom; }
#menubar #mbIdentification UL, #menubar #mbIdentification p, 
#menubar #mbIdentification .illustration  { background:transparent url(images/menuId_sides.gif) repeat-y scroll left bottom; }
#menubar #mbIdentification form { background:transparent url(images/menuId_sides.gif) repeat-y scroll left bottom; }
#menubar #mbIdentification  .actions, #menubar ul ul, #menubar #mbIdentification form  p { background-image:none; }
#menubar #mbIdentification p { padding: 2px 16px 0; }
#menubar p { padding: 16px 16px 0; }
#menubar .button { position:relative; right:9px; top:12px; height:16px; }
#menubar #mbIdentification .button { height:24px; right:0px; top:0px; }
#menubar #mbIdentification fieldset { border:0; margin:0 24px 0 23px; }
#menubar #mbIdentification legend { display: none; }
#content { background:#222 url(images/fillet.gif) repeat-x scroll left top;
min-height:466px; }
/* borders */
.content { border: 1px solid #000000; border-top: 0; margin:21px 7px 0 290px; padding-top:7px; }
.content h2 { margin:0; padding:0px 10px 15px 15px; border:0;}

#imageHeaderBar {
	border-top: 1px solid #000000;
}
H2, #imageToolBar {
	border-bottom: 1px solid #000000;
}

FIELDSET, INPUT, SELECT, TEXTAREA,
.content DIV.thumbnailCategory {
	border: 1px solid gray;
}

.content UL.thumbnails SPAN.wrap2 {
	border: 1px solid #aaaaaa;	/* thumbnails border color and style */
	border-radius: 4px 4px;	/* round corners with CSS3 compliant browsers */
}

.content UL.thumbnails SPAN.wrap2:hover,
.content UL.thumbnailCategories DIV.thumbnailCategory:hover,
.content UL.thumbnailCategories DIV.thumbnailCategory:hover A {
	background-color: #faebd7;
	border: 1 solid #f33;	/* thumbnails border color when mouse cursor is over it */
	color: black;
}


/* links */
A, INPUT.rateButton {
	color: #f70;
	border: none;
}

A:hover {
	color: #f33; border: 0;
}

.virtual_cat { background: #3f3f3f; }
