/* $Id$ */

/**
 * Color scheme (Remember #6699cc = #69c)
 * #000000 #336699 #4477aa #6699cc (Black -> Blues)
 * #cc6600 #ff9933 (Oranges)
 * #cccccc
 * #ccddee #dfe8ff #eeeeff #ffffff (Light colors -> White)
 * */  
/**
 * Logic
 * - Texts
 * - Backgrounds
 * - Borders, Margins, Padding
 * - Visibility / Display
 */

/******************************************************************************/
/* Texts Only */
BODY, H1, H3, DT, H2, .throw { color: #369; }
H2, #menubar DT, .throw, TD H3, #theAdminPage H3 {
  color: #fff;
}
#menubar DT, #menubar DT A {
  color: #fff;
  font-weight: bold;
}
#content .titrePage .categoryActions li { color: #cde;}
#menubar DT A:hover {
  color: #f92;
  font-weight: bold;
}
h1 { font-weight: bold; letter-spacing: 0.2em; }
#mbIdentification dd p,
#menubar .selected A { color: #c60; font-weight: bold; }
#copyright { color: #c60; }
#content .pageNumberSelected,
A, INPUT.rateButton, legend { color: #369; }
A:hover { color: #f92; }
INPUT.rateButtonSelected /* <= why IE doesn't inherit this ? */ {
  color:#69c;
}
.infoTable,
#theAdminPage #content,
input#qsearchInput { color: #369; }
#content .infos { color: #036; }
#content .errors { color: #900; }
#content .titrePage H2 A { color: #dfe8ff; }
input.rateButtonSelected,
#content .titrePage H2 A:hover { color: #f92; }
#content H2 {
  letter-spacing: 0.01em;
  text-indent: 1em;
  font-weight: normal;
}
#content ul.thumbnailCategories li div.thumbnailCategory .description h3,
#content h3 { text-align: center; }
.browsePath, .imageNumber,
#imageHeaderBar H2,
.browsePath A {
  color: #eef;
  font-weight: bold;
}
.browsePath A:hover { color: #fff; }
#content H2:before, .browsePath:before, .imageNumber:before,
#imageHeaderBar H2:before,
#content H2:after, .browsePath:after, .imageNumber:after,
#imageHeaderBar H2:after {
 content: "   ";
 color: #fff;
 font-family: sans-serif;
 font-weight: normal;
 letter-spacing: 0em;
}
#thePicturePage #comments H2 {
  color: #69c;
}
#content ul.thumbnailCategories li div.thumbnailCategory .description p {
  color: #c60;
}
#content ul.thumbnailCategories li div.thumbnailCategory .description p + p {
  color: #369;
}
.tabsheet li, .tabsheet li a, #theAdminPage h3 a,
#content div.thumbnailCategory .description h3 a {
  color: #fff;
}
.tabsheet li a:hover, #content div.thumbnailCategory .description h3 a:hover {
  color: #f92;
}


/******************************************************************************/
/* Backgrounds Only */
BODY { background: #cde; }
.header_notes,
#thePicturePage #the_page,
#thePicturePage #theImage,
#theAdminPage #the_page,
#content, DIV.content { background-color: #dfe8ff; }
#the_page { background-color: #dfe8ff; }
#menubar, H3, #imageHeaderBar,
.row1  { background-color: #eef; }
H2, #menubar DT, .throw, TD H3,
#imageToolBar,
#imageHeaderBar, #imageHeaderBar H2, .tabsheet li,
#theAdminPage H3 { background-color: #369; }
#content H2 { background-color: #369; }
#content .infos { background-color: #47a; ;}
#content .errors { background-color: #fc5; ;}
#thePicturePage #comments H2 { background-color: #eef; ;}
#content ul.thumbnailCategories li div.thumbnailCategory .description h3 {
  background-color: #69c; 
}
#content ul.thumbnailCategories li div.thumbnailCategory,
#content UL.thumbnails SPAN.wrap2 { background-color: #eef; }
#content ul.thumbnailCategories li div.thumbnailCategory:hover,
#theImage IMG, .navThumb IMG,
#content UL.thumbnails SPAN.wrap2:hover { background-color: #fff; }
#content UL.thumbnails SPAN.wrap2:active img {
  outline: 3px ridge #f92;
}
input#qsearchInput { background-color: #cde; }
.virtual_cat { background: #fff !important; }
.selected_tab { background-color: #69c !important; }
/******************************************************************************/
/* Borders, Margins, Padding Only */
BODY { margin: 0px;  padding: 0px; }
#menubar {
  margin : 0px 0px 0px 8px;
  border: 0px;
  text-decoration: none;
  border: 1px solid #369;
}
A { border: 0px; text-decoration: none; }
A:hover { text-decoration: none; border: 0px; }
#content, DIV.content {
  border: 1px solid #369;
  padding: 0px;
}
#menubar DT, #content H2 {
  background-image: url(images/button-bg.png);
  border: 0px;
  margin-bottom: 3px;
}
#content ul.thumbnailCategories li div.thumbnailCategory .description h3 {
  background-image: url(images/button-bg.png);
  border-width: 1px;
  border-style: outset;
  border-color: #369;
}
#content ul.thumbnailCategories li div.thumbnailCategory .description h3:active
{
	background: #69c;
	border: 1px inset #369;
}
#content .errors { border-color: #f92; }
#imageHeaderBar H2 { border: 0px; }
#thePicturePage #imageToolBar { padding: 0px 25px 5px 25px; }
#thePicturePage #theImage {
  margin: 0px;
  padding: 3px 0px 15px 0px;
}
#thePicturePage #comments H2 {
  border-top: 2px solid #69c;
  border-bottom: 1px solid #369;
}
#comments DIV.comment BLOCKQUOTE {
  border: 1px solid #fff;
}
H2, #imageToolBar {
  border-bottom: 1px solid #fff;
}
.navThumb IMG { border: 1px solid #c60; padding: 1px; opacity: 0.8; }
.navThumb:hover IMG { border: 1px solid #f92; padding: 1px; opacity: 1; }
#theImage IMG {
  border: 3px solid #369;
  margin: 2px auto;
  padding: 1px;
  box-shadow: 0.2em 0.2em #ccc;
}
#content UL.thumbnail IMG {
  border: 1px solid #666;
}
.illustration A {
  border: 0px;
}
FIELDSET, INPUT, SELECT, TEXTAREA,
#content DIV.comment  A.illustration IMG,
#content DIV.thumbnailCategory {
  border: 1px solid #69c;
  background-color: #dfe8ff;
  margin: 3px;
}
#content DIV.thumbnailCategory:hover {
  border: 1px solid #f92;
}
#content UL.thumbnails SPAN.wrap2 {
  border: 1px solid #69c;	/* thumbnails border color and style */
  border-radius: 4px 4px;	/* round corners with CSS3 compliant browsers */
}
#content UL.thumbnails SPAN.wrap2:hover {
  border-color: #f92;		/* thumbnails border color when mouse cursor is over it */
}
A.navThumb, A.navThumb:hover,
#imageToolBar A, #imageToolBar A:hover {
  border-bottom: none;
}
#the_page {
  border: 0px;
  padding: 5px 0px 30px 0px;
  margin: 0px;
}
#theAdminPage #content table td { padding: 2px 8px; }
ul.tabsheet, ul.tabsheet li { border-color: #369 !important; }
.tabsheet li:hover { border-color: #f92 !important; }

/******************************************************************************/
/* Display, Visibility, buttons and others */
label { cursor:pointer }
.zero { display: none }

#the_page {
  text-align:center;
  display:block;
}

input[type="text"], input[type="password"], input.button,
input.submit, input.reset, input.file,
select, textarea {
  color: #369;
  border: 1px solid #369;
  background-color: #eeeeff;
}
input.submit[type="reset"]:focus,
input.submit:focus {
  background-color: #369;
}
input.submit[type="reset"],
input.submit {
  background-image: url(images/button-bg.png);
  height:22px;
  font-weight: bold;
	color: #fff;
  border-width: 1px;
  border-style: outset;
  border-color: #369;
  padding-left: 2em;
  padding-right: 2em;
}
input.submit[type="reset"]:active,
input.submit:active {
	background: #69c;
  height:22px;
	border: 1px inset #369;
}
#addComment fieldset input.submit[type="submit"]  {
  height: 38px;
  padding-left: 4em;
  padding-right: 4em;
}
#menubar .menuInfoCat, #menubar .menuInfoCatByChild {
  font-size: 80%;
  font-style: normal;
}
* { outline: none; }

tr.throw td a { color: #fff; }
tr.throw td a:focus { color: #f92; }