/* $Id: theme.css 1677 2006-12-21 21:38:20Z rub $ */

/* text color */
BODY, H1, H3, DT,
INPUT.rateButtonSelected /* <= why IE doesn't inherit this ? */ {
  color:#69c;
}
#menubar { 
  margin : 0px;
  background-color: transparent;
  border: 0px;
}
H2, .throw {
  color: #69c;
}
#menubar DT, #menubar DT A {
  color: #69c; 
  font-weight: lighter;
}
#menubar DT A:hover {
  color: #f92; 
  font-weight: lighter;
}
#menubar .selected  A {
  color: #69c; 
}
#menubar .selected  A:hover {
  color: #f92; 
}
#menubar DT:before {
 content: "__\\_ "; 
 color: #f92; 
}
#menubar DT:after {
 content: " _/__"; 
 color: #69c;
}
#theAdminPage #menubar DT:before,
#theAdminPage #menubar DT:after {
 content: ''; 
}
#content .navigationBar {
  color: #666;
}
#content .pageNumberSelected {
  color: #f92;
}
#content .infos {
  background-color: #69c;
  color: #036;
}
#content .errors {
  background-color: #fc5;
  border-color: #f92;
  color: #900;
}
/* backgrounds */


BODY {
  background: #ddd;
  margin: 0px;
  padding: 0px;
}
H3, #imageHeaderBar, #imageToolBar A:hover, .row1  {
  background-color: #fff;
} 

#theAdminPage #the_page {
  background-color: #fff;
}
#imageToolBar, .header_notes {
  background-color: #fff;
}
A {
  border-color: #69c;
}
A:hover {
  border-color: #f92;
}

#content, DIV.content { 
      /* All div similar to #content can be classified as content */

  background-color: #eee; 
  border: 1px solid #69c;
  padding: 5px;
}
H2, #menubar DT, .throw, TD H3, #theAdminPage H3 {
  background-image: url(images/tableh1_bg.png);
}
#content H2 {
  background: none;
  border: 0px;
  letter-spacing: -0.05em; 
  text-indent: 1em;
  text-transform:	uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}
#content H3 {
  text-indent: 3em
}
.browsePath A {
  color: #999;
}
#content H2:before, .browsePath:before, .imageNumber:before,
#imageHeaderBar H2:before {
 content: "____\\_ "; 
 color: #f92; 
 font-family: Times, Zapf-Chancery, Cottonwood, Helvetica;
 letter-spacing: 0em; 
}
#content H2:after, .browsePath:after, .imageNumber:after,
#imageHeaderBar H2:after {
 content: " _/____"; 
 color: #69c;
 font-family: Times, Zapf-Chancery, Cottonwood, Helvetica;
 letter-spacing: 0em; 
}
#imageHeaderBar H2 {
  background-image: none;
  background-color: transparent;
  border: none;
}
#thePicturePage #the_page {
  background-color: #fff;
}
#thePicturePage #imageHeaderBar {
  background-image: url(images/tableh2_bg.png); 
  background-repeat: repeat-x;
}
#thePicturePage #imageToolBar {
  background-color: #fff;
  border-bottom: 2px solid #f92;
}
#thePicturePage #theImage {
  background-color: #fff;
  margin: 0px;
  padding: 3px 0px 15px 0px;
}

#thePicturePage #comments H2 {
  background-image: none;
  background-color: #ddd;
  border-top: 2px solid #f92;
  border-bottom: 2px solid #f92;
  color: #f92; 
  font-weight: lighter;
}

/* borders */
#comments DIV.comment BLOCKQUOTE {
  border: 1px solid #fff;
}
#imageHeaderBar {
  border-top: 1px solid #fff;
}
H2, #imageToolBar {
  border-bottom: 1px solid #fff;
}

#theImage IMG {
  border-color: #111;
}

#content UL.thumbnail IMG {
  border: 1px solid #666;
}
.illustration A {
  border: 0px;
}
FIELDSET, INPUT, SELECT, TEXTAREA,
#content DIV.comment  A.illustration IMG, #infos,
#content DIV.thumbnailCategory {
  border: 1px solid gray;
}
#content DIV.thumbnailCategory {
  border: 1px solid #69c;
  margin: 8px 4px;
}
#content DIV.thumbnailCategory:hover {
  border: 1px solid #f92;
  background-color: #fff;
}
#comments DIV.comment BLOCKQUOTE {
  border-left: 2px solid #969696;
}

#content UL.thumbnails SPAN.wrap2 {
  border: 1px solid #69c;	/* thumbnails border color and style */
  -moz-border-radius: 4px;	/* round corners with Geko */
  border-radius: 4px 4px;	/* round corners with CSS3 compliant browsers */
}
#content UL.thumbnails SPAN.wrap2:hover {
  border-color: #f92;		/* thumbnails border color when mouse cursor is over it */
  background-color: #fff;
}
#menubar .buttonmenu {
  margin: 0 2px;
  width: auto;
  padding: 0;
  text-indent: 0;
  list-style: none;
  text-align: center;
  float: left;
}
/* links */
A, INPUT.rateButton, legend {
  color: #69c;
}

A:hover {
  color: #f92;
}

#imageToolBar A, #imageToolBar A:hover {
  border-bottom: none;
}
A.navThumb, A.navThumb:hover {
  border-bottom: none;
}
/* others */
.pleaseNote {
  background: #9c9c9c;
  color: #ffff99;
  padding: 1ex;
  font-weight: bold;
}
#the_page {
  border: 1px dotted #69c;
  padding-top: 5px;
  padding-bottom:30px;
  text-align:center;
  display:block;
  margin: 2px;
}
#copyright {
  color: #69c;
}
/*calendar elements*/
SPAN.calItemEmpty { color: silver; }

SPAN.calItem, SPAN.calItemEmpty
{
  border: 1px solid gray;
}
label {
	cursor:pointer
}

.zero { display: none }
.one { }
.2nmore { }

/* nice looking month calendar*/
TD.calDayCellEmpty, TD.calDayCellFull { border: 1px solid gray;}

TD.calDayCellEmpty { color: silver; }

.calBackDate { color: #000; }
.calForeDate { color: #fff; }
.virtual_cat { background: #fff !important; }
