/* $Id$ */
/* .Content  is on every pages so it is common and it will no longer be a specific css */
.content { margin-right: 1em; margin-bottom: 1em; }
.content h3 { margin-bottom: 1ex; text-align: center; }
.content h2 { margin-bottom: 3px;}
.content .navigationBar { margin: 10px 0; text-align: center; }
.content form { text-align: left; }
.content dt { margin-bottom: 5px; font-style: italic;
  font-size: 110%; }
ul.categoryActions { margin: 0 2px; width: auto;
  padding: 0; text-indent: 0; list-style: none; text-align: center; }
.content div.titrePage ul.categoryActions { float: right; }
.content div.titrePage { padding: 0 0 3px; }
.content ul.categoryActions li { display: inline; }
.content ul.categoryActions a img, ul.categoryActions a {
  border: none; margin-bottom: -5px; }
.content div.comment { margin: 0 0 0.5em 0; padding: 0; 
  overflow: hidden; width: 100%;	/* don't ask why. It's a very usefull trick  */ }
.content div.comment a.illustration {
  display: block; float: left; margin: 0.5em 0 0 0.5em; }
.content div.comment p.commentHeader {
  text-align: right; margin: 0.5em 0.5em 0 0; }
.content div.comment ul.actions { text-align: center; margin: 0.2em; }
.content div.comment blockquote {
  margin-right: 0.5em; overflow: visible; /*avoid a very strange margin behaviour (all browsers) */ }

  /* not used but should be */
body#thePopuphelpPage .content { margin: 1em; }