/* $Id$ */
#content {
    margin-left: 14em;
    margin-right: 1em;
    margin-bottom: 1em; /* when it's longer than menu bar */
}

#content H2 {
    margin-bottom: 1ex;
}

#content H3 {
    margin-bottom: 1ex;
}

#content UL.thumbnails {
    margin: 0; padding: 0;
    list-style-type: none;
    /*text-align: center;  eventuellement */
}

#content UL.thumbnails LI {
	display: inline;
	/*text-align: center; */
	padding: 0; text-indent: 0;
	margin: 0 10px 10px 10px;
}
#content UL.thumbnails UL LI {
	dislplay: list-item;
}

#content UL.thumbnails SPAN {
	margin: 0;
    	/*margin: 0 10px 10px 10px;*/
    	vertical-align: top;
    	width: 128px;
    	display:table-cell;   /* for geko */
	display:inline-table; /* for ??? (ask yoDan) */
	display:inline-block; /* for IE */
	text-align: center;    for IE */
border: 1px solid yellow;
}
/*#content UL.thumbnails LI>SPAN { vertical-align: baseline; }*/
#content UL.thumbnails LI IMG.thumbnail { margin-bottom: .4ex; }

#content UL.thumbnails IMG.thumbnail { border: 1px solid #000000; }

#content UL.thumbnails SPAN A:first-child { border: none }




#content .navigationBar, #content .additional_info {
    margin: 10px 0;
    text-align: center;
}

#content .pageNumberSelected {
    font-style: italic;
}

#content .additional_info {
    font-size: 110%;
}

#content FORM {
    text-align: left;
}

/* content defaults */
#content dl, dd { margin: 10px; }
#content dt {
  margin-bottom: 5px;
  font-style: italic;
  font-size: 110%;
}

/* actions */
ul.categoryActions {
  text-align: center;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

#content div.titrePage ul.categoryActions {
  float: right;
}

#content ul.categoryActions>li {
  display: inline;
}

#content ul.categoryActions a img, ul.categoryActions a {
  border: none;
}

