
@import "menubar.css";
@import "content.css";
@import "image.css";

/* $Id$ */

/* * { padding: 0 !important; margin: 0 !important; } */

BODY {
    margin: 5px;
    padding: 0;
    font-size: 100%;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    text-align: center; /* be nice to IE5 */
}

#the_page {
    /* Just in case another template needs an inner frame */
}

H1 {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    padding: 0; margin: 1ex 0 2ex 0;
}

H2 {
    margin: 0;
    padding: 5px 10px;
    text-align: left;
    font-size: 120%;
}

A {
    text-decoration:none;
    border-bottom: 1px dotted #005e89;
}
A:hover {
    border-bottom: 1px solid #858460;
}

IMG {
    border: none;
}

HR.separation {
  visibility: hidden;
  clear: both;
}

#copyright {
    clear: both;
    font-size: 83%;
    text-align: center;
    margin: 0 0 10px 0;
}

/** General defaults **/
ul, dl, li { text-align: left;}
/* for debugging purpose */
pre { text-align:left; }

/** forms **/
div.formbox {
  width: 70%;
  margin: 0 auto 1em auto;
}
form { padding: 0.5em; }
/* form row are dl instead of table rows */
form dl {
  text-align: left;   /* must set it there otherwise IE render dl.biglabel dt incorectly */
  margin-top: 0;
  margin-bottom: 0;
    font-size: 100%; /* TO DO : alignement pb in Opera !!!*/
}
form dt {
  float: left;
  /*text-align: left;*/
  width: 60%;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
form dd {
  /*text-align: left;*/
  /*margin-top: 0.5em;*/
  margin:0;
  padding:0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
/* we must use one dl.biglabel per <dt><dl> because of positionning */
form dl.biglabel {
  position: relative; /* to allow position: absolute in dd*/
}
form dl.biglabel dt {
  float: none;
}

form dl.biglabel dd {
  /*float: right; do not whant to float ????*/
  /*width: 60%;*/
  position: absolute;
  top: 0;
  left: 60%; /* same as form dt width */
}
form dl.biglabel dd { padding-left:2px;} /* IE */
form dl.biglabel>dd { padding-left:0;}	/* other browsers */

form p {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

form table {
	width: 99%; /* IE 6 seems to dislike 100% in admin->user */
}
.small {
	font-size: 80%;
}

textarea.description {
  height: 100px;
  width: 500px;
  overflow: auto;
}
select.categoryList {
  width: 400px;
}

/** go to an admin.css ? **/
/**
 * Informations box in administration
 */
#infos {
  text-align: left;
  background-color: #eee;
  background-image: url(admin/images/infos.png);
  background-repeat: no-repeat;
  background-position: top right;
  color: black;
  font-weight: bold;
  margin: 5px;
  border:1px solid gray;
  padding: 10px 50px 10px 10px;
}

.table2 {
	border: 1px solid #000000; 
	margin:	auto 10px auto 10px;
	padding:0px;
}
form#add_virtual p { text-align: left; }
form#categoryOrdering p {
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
}
form#categoryOrdering>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form#categoryOrdering>ul>li {
  border: 1px solid grey;
  padding: 0px 5px;
  margin-bottom: 5px;
}

form#categoryOrdering ul.categoryActions {
  float: right;
  margin-top: 5px;
}

form#cat_modify table { width: auto; }

/**
 * Filter forms are displayed label by label with the input (or select...)
 * below the label
 */
FORM.filter FIELDSET {
  padding: 10px;
}

FORM.filter FIELDSET LABEL {
  display: block;
  float: left;
  width: auto;
  margin-right: 10px;
  padding: 0;
}

FORM.filter>FIELDSET>LABEL>INPUT, FORM.filter>FIELDSET>LABEL>SELECT {
  display: block;
}

FORM.filter FIELDSET P, FORM.filter FIELDSET>INPUT {
  clear: left;
  display: block;
}

FORM.filter FIELDSET {
  border: 1px solid gray;
}

FORM.filter FIELDSET + INPUT {
  margin-top: 10px;
}
