
/* text color */
BODY, H1, H3,
INPUT.rateButtonSelected /* <= why IE doesn't inherit this ? */ {
	color:#d0d0d0;
}

H2, #menubar DT {
	color: #ffff80;
}


/* backgrounds */

BODY, H3, #imageToolBar A:hover {
	background-color: #2f2f2f;
}

#menubar DL, .content, #imageToolBar, #imageHeaderBar, #derivativeSwitchLink, #derivativeSwitchBox, #sortOrderBox, .header_notes {
	background-color: #505050;
}

H2, #menubar DT {
	background-image: url(images/tableh1_bg.png);
}

#imageHeaderBar H2 {
	background-image: none;
	border: 0;
}

#imageHeaderBar {
	border-top: 1px solid #000;
}

/* borders */
#menubar DL, .content, #derivativeSwitchLink, #derivativeSwitchBox, #sortOrderBox{
	border: 1px solid #000;
}

H2, #menubar DT, #imageToolBar {
	border-bottom: 1px solid #000;
}

FIELDSET, INPUT, SELECT, TEXTAREA,
.content .thumbnailCategory ,
.thumbnails .wrap2 {
	border: 1px solid gray;
}


.thumbnails .wrap2:hover,
.content .thumbnailCategories .thumbnailCategory:hover,
.content .thumbnailCategories .thumbnailCategory:hover A {
	background-color: #faebd7;
	border-color: yellow;	/* thumbnails border color when mouse cursor is over it */
	color: black;
}


/* links */
A, INPUT.rateButton {
	color: #fff;
}

A:hover {
	color: #ffff80;
}

.pwg-icon {
	background-image: url(../default/s26/outline_ffffff.png);
}

A:hover .pwg-icon {
	background-image: url(../default/s26/outline_ffff80.png);
}

.message {
  color:white;
  background-color:#666;
}