
/* text color */
BODY, H1, H2, H3, DT,
INPUT.rateButtonSelected /* <= why IE doesn't inherit this ? */ {
	color:#696969;	/* dimgray */
}

/* backgrounds */
BODY, H3 {
	background-color: #ffffff;	/* white */
}

H2, #menubar DT, #imageHeaderBar, #imageToolBar A:hover {
	background-color: #d3d3d3;
}

#menubar DL, .content, #imageToolBar, .header_notes {
  background-color: #eeeeee;
}

/* borders */
#menubar DL, .content, #imageToolBar {
  border: 1px solid #d3d3d3;
}

#theImage IMG {
  border: 3px solid #d3d3d3;
}

.content UL.thumbnail IMG {
    border: 1px solid #a0a0a0;
}

FIELDSET, INPUT, SELECT, TEXTAREA,
.content .thumbnailCategory {
  border: 1px solid gray;
}

UL.thumbnails SPAN.wrap2 {
  border: 1px solid #aaaaaa;	/* thumbnails border color and style */
}

UL.thumbnails SPAN.wrap2:hover,
.content UL.thumbnailCategories .thumbnailCategory:hover,
.content UL.thumbnailCategories .thumbnailCategory:hover A {
  background-color: #faebd7;
  border-color: yellow;		/* thumbnails border color when mouse cursor is over it */
  color: black;
}

/* links */
A, INPUT.rateButton {
	color: #005e89;
	background: transparent;
	border-bottom: 1px dotted #005e89;
}

A:hover, INPUT.rateButton:hover {
    color: #808060;
}

A.pwg-state-default {
	border: 0;
}

A.navThumb, A.navThumb:hover {
    border-bottom: none;
}

/*calendar elements*/
.calItem, .calItemEmpty
{
  border: 1px solid silver;
}

#qsearchInput { color: #005e89; }

.pwg-icon {
	background-image: url(../default/s26/outline_005e89.png);
}

A:hover .pwg-icon {
	background-image: url(../default/s26/outline_808060.png);
}

