@import "jquery.mobile.css";
@import "photoswipe.css";

.title { margin: 10px; text-align: center; }
.title .ui-btn { margin-top: -5px; }
. { float: right; }
.home_button { float: left; }
.pwg_footer h6 { margin: 8px; text-align:right;}

.errors  h3, .infos  h3{ float:left; margin-top:8px; }
.errors div, .infos div { float:right; margin-top:4px; }
.errors p, .infos p { clear:both; font-size:85%; margin-bottom:8px; }

.ui-icon-profil { background-image: url("images/profil.png"); background-color: transparent; }

.ui-content { overflow: hidden; }
.ui-field-contain, .ui-br { padding: 5px; border: 0 !important; }

.thumbnails { list-style: none; padding: 0}
.thumbnails:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.thumbnails li {
	float: left;
	position: relative;
	overflow: hidden;
	display: inline;
}
.thumbnails li a { 
	position: absolute;
}

#more_link {
  color: #FFFFFF;
  display: table-cell;
  font-size: 1.1em;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}
.ui-panel-inner > .ui-listview {
 margin: -15px -15px 0;
}
#menubar .ui-collapsible-heading-toggle.ui-btn-up-a {
  background:linear-gradient(#6FACD5, #497BAE) repeat scroll 0 0 #5E87B0;
}

.ui-li-desc {
  text-overflow: clip;
  white-space: normal;
}
#PictureInfo  {
  font-size: 0.8em;
}
#PictureInfo * {
  font-size: 1em;
}
#addComment textarea.ui-input-text {
  min-height: 100px;
}
#picture_page {
    text-align: center;
}

#colorbox, #cboxOverlay, #cboxWrapper {
  display:none;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index:-1;
  opacity:0 !important
}
