/* $Id$ */
/* Issues in IE from 5 to 6 only not to be used with IE7                      */

@import "thumbnails-fix-ie5-ie6.css";

/* to avoid vanishing objects in IE6 */
H1, #theHeader {
  width: 100%;	/* <- useless but seems to make IE6 happy */
}
.content {
  height: 1em;	/* for IE6 it's like min-height */
}

/* fix category thumbnails on main page */
.content UL.thumbnailCategories {
  width: 99%;	/* buggy IE box model */
}


/* fix quickconnect layout */
FORM#quickconnect FIELDSET {
  width: 99%;	/* correct an ugly 1 or 2 px misalignement with IE */
}
