/* $Id: */
BODY#theAdminPage #theHeader P {
  display: none;
}

/* History tables */
TABLE.table2 {
  border: 1px solid black;
  margin: 1em auto;
  padding: 0;
}

TABLE.table2 TD, TABLE.table2 TH {
  padding: 0 1em;
}

TABLE.table2 TR {
  text-align: left;
}

TABLE.table2 TR.throw {
  text-align: center;
}

.hour {
  white-space: pre;
}

.number {
  text-align: right;
}

TABLE#dailyStats {
  width: 60%;
}

TABLE#detailedStats {
  width: 99%;
}

/* categoryOrdering */
SELECT.categoryList {
  width: 100%;
}

FORM#categoryOrdering {
  padding-left: 1em; /* same as FIELDSET margin (there is no fieldset in this form) */
  padding-right: 1em; /* same as FIELDSET margin (there is no fieldset in this form) */
}
FORM#categoryOrdering p {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
}
UL.categoryUl {
  list-style: none;
  padding: 0;
  margin: 0;
}

LI.categoryLi {
  border: 1px solid gray;
  padding: 0px 5px;
  margin-bottom: 5px;
}

FORM#categoryOrdering UL.categoryActions {
  float: right;
  margin-top: 5px;
}
/* */

FORM#catModify TABLE { width: auto; }

FIELDSET.elementEdit A {
  display: block;
  float: right;
}

TABLE.doubleSelect {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

TABLE.doubleSelect TD {
  padding: 0 5px;
  width: 50%;
}

TABLE.doubleSelect SELECT.categoryList {
  width: 100%;
}

FORM#categoryPermissions LI {
  display:inline;
  white-space: nowrap;
}

FIELDSET#mainConfCheck SPAN.property,
FIELDSET#historyConf SPAN.property,
FIELDSET#commentsConf SPAN.property {
  float: right;
  text-align: left;
}
FIELDSET#mainConfCheck INPUT,
FIELDSET#historyConf INPUT,
FIELDSET#commentsConf INPUT {
  float: none;
}

FIELDSET#mainConf SPAN.property {
  width: 25%;
}
FIELDSET#mainConf TEXTAREA.description {
  width: 70%;
}

FIELDSET#mainConfCheck SPAN.property,
FIELDSET#historyConf SPAN.property {
  width: 90%;
}
FIELDSET#mainConfCheck INPUT,
FIELDSET#historyConf INPUT {
  margin-left: 5%;
}

FIELDSET#commentsConf SPAN.property {
  width: 85%;
}
FIELDSET#commentsConf INPUT {
  margin-left: 5%;
}

/* PWG Links Menu is fixed Graphic charts */
.pwgmenu {
  display: table;
  list-style-type: none;
  list-style-image: none; /* for firefox */
  white-space: nowrap; 
  position: relative;
  text-decoration : none;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 70%;
  line-height: 1.1em;
  width: 66em;
  margin: 1px 8px 1px auto;
  padding: 3px;
  background: transparent;
}
.pwgmenu li {
  float: left;
  width: 10em !important;
  text-align: center;
  margin: 0 6px;
  padding: 0;

}
.pwgmenu a {
  width: 9em !important;
  display: block;
  padding: 4px 8px;
  background: #69c; /* PWG Graphic charts */
  color: white;
  text-align: center;  
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #fff; /* Why bordered? in case of #69c background */ 
}
.pwgmenu a:hover {
  background: #f92;
  color: white;
} /* PWG Graphic charts */


.statBar {
  height: 10px;
  background-color: #66f;
  border: 1px solid black;
}

/* Tabsheet */
ul.tabsheet {
  display: table;
  list-style-type: none;
  list-style-image: none; /* for firefox */
  white-space: nowrap; 
  margin-left: auto; margin-right: auto;
  text-decoration : none;
  background: transparent;
  border-bottom: 1px solid #fff;
}

ul.tabsheet li {
  float: left;
  text-align: center;
  margin: 0 6px;
  color: white;
  font-size: 110%;
  font-weight: bold;
  padding: 4px 8px;
  border: 1px solid #fff;
  border-radius: 6px 6px 0px 0px; /* round corners with CSS3 compliant browsers */
  padding: 5px 2em 2px 2em;
}

.over{
position: relative;
z-index: 0;
}

.over:hover{
background-color: transparent;
z-index: 50;
}

.over span{ /*CSS for enlarged image*/
position: absolute;
background-color: #eee;
padding: 5px;
left: -1000px;
border: 1px solid #69c;
visibility: hidden;
color: black;
text-decoration: none;
}

.over span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.over:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 60px; /*position where enlarged image should offset horizontally */
}
