/* $Id$ */
/* text color */
body, h3, dt, h2, .throw, .content, label,
input.rateButtonSelected /* <= why IE doesn't inherit this ? */ { color:#666; }
INPUT, select, textarea { color:#999; background-color: #444; }  
input[type="radio"], input[type="checkbox"] { background-color: transparent; }  
/* INPUT[type="checkbox"], INPUT[type="radio"]
{ color:#999; background-color: #eee; }  */
INPUT[type="submit"], INPUT[type="reset"]  { color:#999; border: 1px solid #666; background-color: #444; padding: 1px 15px; }
input.rateButton, legend, h3 { color: #666; }
#theAdminPage h2 { color: #333; }
.content .infos { color: #f70; border:0; background-color: transparent;
padding:5px 0px 0pt 10pt; min-height: 48px; text-align:left; }
.content .infos li, .content .errors li { list-style-type:none; }
.content .errors { color: #f30; border:0; background-color: transparent;
padding:5px 0px 0pt 10pt; min-height: 48px; text-align:left; font-weight:bold; }
#copyright { color:#666; margin:60px auto 0px 240px; text-align:center; 
padding-bottom: 15px; }
.header_notes { background: transparent url(../../icon/note.png) no-repeat right top;
border:0; font-weight:bold; min-height: 48px;
padding:15px 60px 0 0; position:absolute; right:0;
text-align:right; top:90px; width:550px;  }
html, body { min-height: 100%; }
body { margin: 0; padding: 0;
background:#111111 url(images/bottom-left-bg.png) no-repeat fixed left bottom; }
#the_page { margin: 0; padding: 0; z-index: 1; top:0px;
padding-top: 0; min-height: 100%; width:100%; position:absolute; left:0px; }
#headbranch { width: 233px; height: 240px; margin: 0; padding: 0;
position:absolute; left:0px; top:0px; z-index: 0; 
background:transparent url(images/top-left-bg.png) no-repeat scroll left top; }
#theHeader { min-height:105px; margin: 0; padding: 0;
background:transparent url(images/piwigo_logo_sombre_214x100.png) no-repeat scroll 245px top; }
h3, #imageToolBar a:hover, .row2, .content { background-color: #222; }
.throw, .row1 { background-color:#111; }
.throw em { font-style: normal; color: #ff3363; }
#content { background: #222 url(images/fillet.png) repeat-x top left; min-height: 466px; margin-top: 9px; }
.content { padding:5px 5px 5px 5px; margin: 0 10px 0 248px; z-index:99; }
.content h3 { font-size:20px; letter-spacing:-0.4px; margin:0 20px 12px 0;
 text-align:right; background:none; border: 0; }
.content h3 ~ h3{ margin-top: 40px; }
.content h4 { font-size:14px; text-align:left; padding:3px; margin: 2px;}
/*.content h2:before, .content h2:after, */ 
.content h2 { 
letter-spacing:2px; margin-right:30px; text-align:right; color: #666; 
text-transform:none; font-weight:bold; padding-left:20px; width:54%; }
.content dl, dd { margin:5px; }
.content div.titrePage { height:55px; }
.instructions { height:450px; overflow:scroll; padding:0 20px 0; text-align:left; margin-bottom: 20px;
font-size:14px; line-height:21px; }
.instructions { overflow-y:scroll; overflow-x:hidden; }
.instructions  h3 { text-align: center; margin: 30px 0 0 0; }
/* .throw, */ td h3 {
 background-image: url(images/fillet.png); background-repeat: repeat-x; }
/* borders */ 
fieldset { border: 1px solid #999; }
INPUT, SELECT, TEXTAREA { border: 1px solid #666; }
input:focus, select:focus, textarea:focus, input.focus, form .focus { background-color:#444;color: #999; }
TEXTAREA { cursor:text; font-size: 13px; }
.bigbutton { background:transparent url(images/quickLocalSync_inactiv.png) no-repeat scroll left top; display: block;
color:#111; font-size:28px; height:161px; margin: 0 20px 0 auto; padding:0 18px 0; text-align:center; width:625px; 
position:relative;  z-index: 50;}
.bigtext { display:block; font-weight:bold; left:225px; position:relative; top:35px; width:320px;  z-index: 55; cursor:pointer; }
.bigbutton:hover { background:transparent url(images/quickLocalSync_hover.png) no-repeat scroll left top; color: #000; }
.bigbutton input { background:transparent url(images/transparent.gif) repeat scroll left top; border:0;
display:block; height:85px; left:225px; position:relative; top:-42px; width:313px; z-index:99; padding:0;}
.bigbutton input:hover { cursor:pointer; background:transparent url(images/transparent.gif) repeat scroll left top; border:0; padding:0;}
.content UL.thumbnails SPAN.wrap2 {
  border: 1px solid #aaaaaa;	/* thumbnails border color and style */
  border-radius: 4px 4px;	/* round corners with CSS3 compliant browsers */
}
.tagSelection label { padding-right:12px; }
.content ul.categoryActions a img { margin-left: 10px; }
ul.thumbnails input { border:3px double #999; color:#999; font-size:10px; margin:0; background-color:#444; text-align: center;}
INPUT[type="submit"]:hover , INPUT[type="reset"]:hover  { cursor: pointer; }
INPUT.bigbutton:hover { background-color: #222;  color:#f33; border: 0; }
.throw  { font-size: 120%; line-height: 26px; padding-top: 10px; font-weight: bold; color: #ff3363; }
label { cursor:pointer }
.categoryLi { background: #222 }
.virtual_cat { background: #333 !important; }
a.Piwigo {
  font-family: verdana, arial, helvetica, sans-serif !important;
  font-size: 11px; font-weight: normal; letter-spacing: 0;
  color : #f36; text-decoration: none; border: 0; color: #f36; }
*, *:focus, *:active, input:active, a:active, input:focus, a:focus { outline: none; -moz-outline-width: 0px; }
a { color:#f70; border-width: 0; }
a:hover, a:active { color: #f33; border-bottom: 1px solid #f33; cursor: pointer; }

h2 { display:block; font-size:28px; letter-spacing:-1px; 
margin:0 20px; height:95px; overflow:hidden; padding:0; position:absolute; 
right:0; text-align:right; top:0; width:770px; }
.header_msgs { background:transparent url(images/header_msgs-bg.gif) repeat scroll right top;
border:0; color:#333; font-size:24px; height:30px; left:0; margin:0; padding:10px 0 0; position:absolute;
text-align:center; top:0; width:100%; z-index:99; }
.HelpActions a { border:0; margin:-14px 14px 0 0; position:absolute; right:0; }
.HelpActions li {list-style-image:none; list-style-position:outside; 
list-style-type:none; text-align:center; text-indent:0pt; }
#content.content div.comment a.illustration{ margin-right: 30px;}
/* tabsheets are often used in admin  pages => No specific css files */
.tabsheet { 
background-color:transparent; border:0; display:table; float:right; 
font-family:verdana,arial,helvetica,sans-serif; font-size:8px; line-height:14px; 
list-style-image:none; padding: 0; position:relative; text-decoration:none;
top:-2px; white-space:nowrap; margin: 0 28px 0 0;}
.tabsheet li { background:transparent url(images/inactive_tab.png) no-repeat scroll left 0;
float:left; margin:0 2px 0 5px; overflow:hidden; text-align:right; }
.tabsheet a { 
background:transparent url(images/inactive_tab2.png) no-repeat scroll right 0px;
color:#666; display:block; font-size:11px; text-transform:capitalize; border:0;
font-weight:bold; height:18px; overflow:hidden; padding:8px 7px 5px 18px; line-height: 18px;
text-align:right; text-decoration:none; margin: 0; }
.tabsheet li:hover, .tabsheet li.selected_tab  { 
background:transparent url(images/active_tab.png) no-repeat scroll left 0px; }
.tabsheet a:hover, .tabsheet li.selected_tab  a { color: #F36;
background:transparent url(images/active_tab2.png) no-repeat scroll right 0px; }
.tabsheet a span { background-color:#222; display:block; font-size:10px; margin-right:2px; padding:0 3px 0 1px; }
#debug { margin-left:248px; font-size:12px; }
/* menubar is on all admin pages => No specific css file */
#menubar {
background:transparent url(images/menuBoxBottom_new.png) no-repeat scroll left bottom;
border:0; display:inline; float:left; left:0; margin: 0 0 0 35px; min-height:475px; height:475px; /* should be 477 */
padding:0; width:207px; z-index:99; text-align: left; }
#menubar ul.scroll { height:163px; margin-right:10px; overflow-y:auto; 
 /* Only IE family supports colored scrollbar */
 scrollbar-face-color: #222; scrollbar-shadow-color: #444; scrollbar-highlight-color: #000;
 scrollbar-3dlight-color: #292929; scrollbar-darkshadow-color: #333; scrollbar-track-color: #111;
 scrollbar-arrow-color: #ff3333; }
#menubar .selected a { color: #f70; }
#menubar .selected a:hover { color: #f36; border-bottom: 0px solid #f33;}
#menubar dd { 
background: transparent url(images/menubar-detail.png) repeat-y top left; 
margin: 10px 0 0 0; padding: 0; height:232px; }
#menubar dl {
background:transparent url(images/menuBoxTop_new.png) no-repeat scroll left top; 
width: 207px; border:0; margin: 0; padding: 0; display: block; min-height:35px; }
#menubar dl.first { 
background:transparent url(images/menubar-top.png) no-repeat scroll left 1px; }
#menubar dt { margin: 0; display: block; background: none; left:10px; font-weight:bold;
position:relative; padding: 5px 1px 4px 5px; top:-10px; font-size: 13px; color: #666; }
#menubar dt  span { background-color: #111; cursor:pointer; }
#menubar a { text-decoration:none; font-size: 12px;
color: #F70; border-bottom: 0px dotted #F70;}
#menubar li { margin: 0 0 0 6px; }
#menubar li.external { list-style-image:url(images/external_inactive.png); padding:10px 0px 0pt 10px; }
#menubar li.external:hover { list-style-image:url(images/external_active.png); }
#menubar ul { color: #333; margin:0 0 0 9px; line-height: 16px;
  list-style-type: square; list-style-position: inside; padding: 0; }
/* jQuery tooltips */
.cluetip-default #cluetip-outer { border-color: #666; color: #666; background-color: #222; }
.cluetip-default h3#cluetip-title { color: #ff3363; background-color: #111; }
/* jQuery ui resizable */
.ui-resizable { position: relative; }
.ui-wrapper { border: 0; }
.ui-wrapper input, .ui-wrapper textarea { border: 0; }

/* Global handle styles */
.ui-resizable-handle { position: absolute; display: none; font-size: 0.1px; }
.ui-resizable .ui-resizable-handle { display: block; }
body .ui-resizable-disabled .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
body .ui-resizable-autohide .ui-resizable-handle { display: none; } /* use 'body' to make it more specific (css order) */
.ui-resizable-n { cursor: n-resize; height: 6px; width: 100%; top: 0px; left: 0px; background: transparent url(images/resizable-n.gif) no-repeat scroll center top; }
.ui-resizable-s { cursor: s-resize; height: 6px; width: 100%; bottom: 0px; left: 0px; background: transparent url(images/resizable-s.gif) no-repeat scroll center top; }
.ui-resizable-e { cursor: e-resize; width: 6px; right: 0px; top: 0px; height: 100%; background: transparent url(images/resizable-e.gif) no-repeat scroll right center; }
.ui-resizable-w { cursor: w-resize; width: 6px; left: 0px; top: 0px; height: 100%; background: transparent url(images/resizable-w.gif) no-repeat scroll right center; }
.ui-resizable-se { cursor: se-resize; width: 9px; height: 9px; right: 0px; bottom: 0px; background: transparent url(images/resizable-se.gif); }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: 0px; bottom: 0px; background: transparent url(images/resizable-sw.gif); }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: 0px; top: 0px; background: transparent url(images/resizable-nw.gif); }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: 0px; top: 0px; background: transparent url(images/resizable-ne.gif); }
#ui-datepicker-div .ui-datepicker-control, #ui-datepicker-div  a { background: #111; color: #f70 !important; }
#ui-datepicker-div .ui-datepicker-days-row { background: #444;}
#ui-datepicker-div .ui-datepicker-current-day { background: #222;}
#ui-datepicker-div .ui-datepicker-week-end-cell, #ui-datepicker-div .ui-datepicker-week-end-cell  a { background: #222; color: #ff3363; }
#ui-datepicker-div .ui-datepicker-title-row { background: #111;}
#ui-datepicker-div .ui-datepicker-title-row .ui-datepicker-week-end-cell a { color: #ff3363; }
#ui-datepicker-div  a:hover { color: #ff3363 !important; border: 0; background: #111 !important; }
#ui-datepicker-div .ui-datepicker-header select { color:#999; font-weight:normal; }
/* hacks */
html>body #menubar {min-height:477px; height:477px;} /* IE 7 and modern browsers */
*+html  .bigtext { left: 70px; }
*+html  .bigbutton input, * html  .bigbutton input  { left:0px; position:relative; top:-40px; }