/* $Id$ */
/* text color */
body, h3, dt, h2, .throw, .content,
input.rateButtonSelected /* <= why IE doesn't inherit this ? */ { color:#ccc; }
INPUT[type="text"], INPUT[type="password"], INPUT[type="button"],
INPUT[type="submit"], INPUT[type="reset"], INPUT[type="file"], select, textarea {
color:#111; background-color: #eee; }  
input.rateButton, legend, #theAdminPage h3 { color: #777; }
#theAdminPage h2 { color: #333; }

.content .infos { color: #3f6; border:0pt none; background-color: transparent;
padding:5px 0px 0pt 10pt; min-height: 48px; text-align:left; }
.content .infos li, .content .errors li { list-style-type:none; }
.content .errors { color: #f70; border:0pt none; background-color: transparent;
padding:5px 0px 0pt 10pt; min-height: 48px; text-align:left; font-weight:bold; }
#copyright { color:#777; margin:60px auto 0px 240px; text-align:center; 
padding-bottom: 15px; }
.header_notes {
background: transparent url(../../../../../template/yoga/icon/note.png) no-repeat right top;
border:0; font-weight:bold; min-height: 48px;
padding:15px 60px 0 0; position:absolute; right:0;
text-align:right; top:90px; width:550px;  }

html, body { min-height: 100%; }
body { margin: 0; padding: 0;
background:#111111 url(images/bottom-left-bg.png) no-repeat fixed left bottom; }
#the_page { margin: 0; padding: 0; z-index: 1; top:0px;
padding-top: 0; min-height: 100%; width:100%; position:absolute; left:0px; }
#headbranch { width: 233px; height: 240px; margin: 0; padding: 0;
position:absolute; left:0px; top:0px; z-index: 0; 
background:transparent url(images/top-left-bg.png) no-repeat scroll left top; }
#theHeader { min-height:105px; margin: 0; padding: 0;
background:transparent url(images/piwigo_logo_sombre_214x100.png) no-repeat scroll 245px top; }
h3, #imageToolBar a:hover, .row1, .content { background-color: #222; }
.row2 { background-color:#111; }
#content { background: #222 url(images/fillet.png) repeat-x top left; min-height: 466px; }
.content { padding:0px 5px 5px 5px; margin: 0 10px 0 248px; z-index:99; }
.content h3 { font-size:20px; letter-spacing:-0.4px; margin:0 20px 12px 0;
 text-align:right; background:none; border: 0; }
.content h4 { font-size:14px; text-align:left; padding:3px; margin: 2px;}
.content h2:before, .content h2:after, 
.content h2 { 
letter-spacing:0.1em; margin-right:30px; text-align:right; color: #777; 
text-transform:none; font-weight:bold; padding-left:20px; }
.content dl, dd { margin:5px; }
.content div.titrePage { height:55px; }
.instructions { text-align: left; padding: 20px 20px 0 20px; }
.throw, td h3 {
 background-image: url(images/fillet.png); background-repeat: repeat-x; }
/* borders */ /* TODO */
INPUT, SELECT, TEXTAREA { border-left: 2px inset #696969; 
cursor:text; text-indent:4px; }
.content UL.thumbnails SPAN.wrap2 {
  border: 1px solid #aaaaaa;	/* thumbnails border color and style */
  border-radius: 4px 4px;	/* round corners with CSS3 compliant browsers */
}
label { cursor:pointer }
.virtual_cat { background: #222 !important; }
a.Piwigo {
  font-family: verdana, arial, helvetica, sans-serif !important;
  font-size: 11px; font-weight: normal; letter-spacing: 0;
  color : #f36; text-decoration: none; border: 0; color: #f36; }

* { outline-width: 0; }
a { color:#f70; border-color: #FF3363; }
a:hover { color: #f33; border-color: #FF3363; }

h2 { display:block; font-size:28px; letter-spacing:-1px; 
margin:0 20px; height:95px; overflow:hidden; padding:0; position:absolute; 
right:0; text-align:right; top:0; width:770px; }
.header_msgs { background-color:transparent; }
.HelpActions a { border:0; margin:4px 14px 0 0; position:absolute; right:0; }
.HelpActions li {list-style-image:none; list-style-position:outside; 
list-style-type:none; text-align:center; text-indent:0pt; }

/* tabsheets are often used in admin  pages => No specific css files */
.tabsheet { 
background-color:transparent; border:0; display:table; float:right; 
font-family:verdana,arial,helvetica,sans-serif; font-size:8px; line-height:14px; 
list-style-image:none; padding: 0; position:relative; text-decoration:none;
top:-2px; white-space:nowrap; margin: 0 28px 0 0;}
.tabsheet li { float:left; margin: 0 8px; text-align:right; overflow: hidden; 
background:transparent url(images/inactive_tab2.png) no-repeat scroll right 5px; }
.tabsheet a { 
background:transparent url(images/inactive_tab.png) no-repeat scroll left 5px;
color:#777; display:block; font-size:11px; text-transform:capitalize; border:0;
font-weight:bold; height:28px; overflow:hidden; padding:12px 7px 5px 18px; line-height: 18px;
text-align:right; text-decoration:none; margin: 0 4px 0 0; }
.tabsheet li:hover, .tabsheet li.selected_tab  { 
background:transparent url(images/active_tab2.png) no-repeat scroll right 5px; }
.tabsheet a:hover, .tabsheet li.selected_tab  a { color: #F36; 
background:transparent url(images/active_tab.png) no-repeat scroll left 5px; }
.tabsheet a span { background-color: #222; }

#debug { margin-left:248px; font-size:12px; }
/* menubar is on all admin pages => No specific css file */
#menubar {
background:transparent url(images/menuBoxBottom_new.png) no-repeat scroll left bottom;
border:0; display:inline; float:left; left:0; margin: 0 0 0 35px; min-height:475px; height:475px; /* should be 477 */
padding:0; width:207px; z-index:99; text-align: left; }
#menubar ul.scroll { overflow-y:auto; height: 148px; margin-right:8px;
 /* Only IE family supports colored scrollbar */
 scrollbar-face-color: #222; scrollbar-shadow-color: #444; scrollbar-highlight-color: #000;
 scrollbar-3dlight-color: #292929; scrollbar-darkshadow-color: #333; scrollbar-track-color: #111;
 scrollbar-arrow-color: #ff3333; }
html>body #menubar {min-height:477px; height:477px;} /* IE 7 and modern browsers */
#menubar .selected a { color: #f70; border-color: #f36;}
#menubar .selected a:hover { color: #f36; border-bottom: 1px solid #f36;}
#menubar dd { 
background: transparent url(images/menubar-detail.png) repeat-y top left; 
margin: 10px 0 0 0; padding: 0; height:232px; }
#menubar dl {
background:transparent url(images/menuBoxTop_new.png) no-repeat scroll left top; 
width: 207px; border:0; margin: 0; padding: 0; display: block; min-height:35px; }
#menubar dl.first { 
background:transparent url(images/menubar-top.png) no-repeat scroll left 1px; }
#menubar dt { margin: 0; display: block; background: none; left:10px; font-weight:bold;
position:relative; padding: 5px 1px 4px 5px; top:-10px; font-size: 13px; color: #666; }
#menubar dt  span { background-color: #111; cursor:pointer; }
#menubar a { border-bottom:0; text-decoration:none; font-size: 12px;
color: #F70; border-bottom: 1px dotted #777;}
#menubar li { margin: 0 0 0 6px; }
#menubar li.external { list-style-image:url(images/external_inactive.png); padding:10px 0px 0pt 10px; }
#menubar li.external:hover { list-style-image:url(images/external_active.png); }
#menubar ul { color: #333; margin:10px 0pt 3px 9px; 
  list-style-type: square; list-style-position: inside; padding: 0 0 0 2px; }
