/* $Id$ */
/* Issues in IE from 5 to 6 only not to be used with IE7                      */


/* to avoid vanishing objects in IE6 */
H1, #theHeader {
  width: 100%;	/* <- useless but seems to make IE6 happy */
}
.content {
  height: 1em;	/* for IE6 it's like min-height */
}

/* fix quickconnect layout */
FORM#quickconnect FIELDSET {
  width: 99%;	/* correct an ugly 1 or 2 px misalignement with IE */
}

/* fix IE with another layout for thumbnails */
.content UL.thumbnails SPAN.wrap2 {
  display: block;
  position: relative;
  text-align: left;
}

.content UL.thumbnails IMG.thumbnail {
  position: relative;
  top: -50%;  /* Is this following hacking technic required ? */
  /*\*//*/
    margin-top: -40%;
  /**/
}
.content UL.thumbnails INPUT {
  position: absolute;
  left: 2px;
  top: 2px;  /* same as other browsers but not so pretty */
}
