/* $Id: /piwigo/trunk/admin/template/goto/thumbnails.css 7049 2009-03-17T16:48:04.081028Z nikrou  $ */
.content UL.thumbnails {
  margin: 0; padding: 0; list-style: none;
  text-align: center;	/* to center the whole collection in .content */
  float: left;
}
.content UL.thumbnails LI { display: inline }
.content ul.thumbnails li.rank-of-image { 
  float: left;
  background-color: #111;
  border: 1px solid #666;
  color: #666;
  -moz-border-radius: 4px;
  display: block;
  width: 104px;
  height: 128px;
  cursor: move;
  margin: 10px;
}
.content ul.thumbnails li.rank-of-image img {
  width: 96px;
  height: 96px;
  margin: 4px;
  float: left;
}
.content ul.thumbnails li.rank-of-image input {
  height: 12px; 
  width: 50px;
  position: relative;
  top: 0;  
}
.content UL.thumbnails SPAN.wrap1 {
  margin: 0 5px 5px 5px;
  display: table-cell; display: inline-table;
  display: inline-block; /* Why 3 display option ??? */
  vertical-align: top;		/* OK with Opera and IE6 not Geko */
  text-align: center;		/* to center the thumbnail and legend in Geko/Opera */
}
.content UL.thumbnails SPAN.wrap2 {
  margin: 0;			/* important reset the margins */
  display: table-cell;		/* block prevents vertical-align here */
  vertical-align: middle;	/* Ok with Opera and Geko not IE6 */
}
.content UL.thumbnails LABEL { display: block; border-bottom: none; }
.content UL.thumbnails IMG {
  margin-bottom: -4px;  /* why ??? something wrong with Geko and Opera ignored by IE6*/
}
.content UL.thumbnails LABEL { position: relative; }
.content UL.thumbnails INPUT {
  position: relative;	/* <= Opera can handle relative here */
  top: -20px;
}
:root .content UL.thumbnails INPUT { /* hide from Opera */
  position: absolute;	/* <= Opera hide 1 checkbox over 2 !!! */
  left: 2px; top: 2px;
}
UL.thumbnails .levelIndicatorB {
display:block; position:absolute; z-index:100;padding:0px 0 0 14px; color:black; font-weight:bold; font-size:120%;
}
UL.thumbnails .levelIndicatorF {
display:block; position:absolute; z-index:101;padding:1px 0 0 15px; color:white; font-weight:bold; font-size:120%;
}
