/* $Id$ */

/* text color */
BODY, H1, H3, DT,
INPUT.rateButtonSelected /* <= why IE doesn't inherit this ? */ {
	color:#d0d0d0;
}

H2, #menubar DT, .throw {
	color: #fff48e;
}


/* backgrounds */

BODY, H3, #imageHeaderBar, #imageToolBar A:hover, .row1, UL.tabsheet LI.normal_tab {
	background-color: #2f2f2f;
}

#menubar DL, #content, #imageToolBar, .header_notes, .content, UL.tabsheet LI.selected_tab {
	background-color: #505050;
}

H2, #menubar DT, .throw {
	background-image: url(images/tableh1_bg.png);
}

#imageHeaderBar H2 {
	background-image: none;
	background-color: transparent;
	border: none;
}

#imageHeaderBar {
	background-image: url(images/tableh2_bg.png);
	background-repeat: repeat-x;
	background-position: center;
}

/* borders */
#menubar DL, #content, .content,
#comments DIV.comment BLOCKQUOTE {
	border: 1px solid #000000;
}

#imageHeaderBar {
	border-top: 1px solid #000000;
}
H2, #menubar DT, #imageToolBar {
	border-bottom: 1px solid #000000;
}

#theImage IMG {
	border-color: #000000;
}

FIELDSET, INPUT, SELECT, TEXTAREA,
#content DIV.comment  A.illustration IMG,
#content DIV.thumbnailCategory {
	border: 1px solid gray;
}

#comments DIV.comment BLOCKQUOTE {
	border-left: 2px solid #696969;
}

#content UL.thumbnails SPAN.wrap2 {
	border: 1px solid #aaaaaa;	/* thumbnails border color and style */
	border-radius: 4px 4px;	/* round corners with CSS3 compliant browsers */
}

#content UL.thumbnails SPAN.wrap2:hover,
#content UL.thumbnailCategories DIV.thumbnailCategory:hover,
#content UL.thumbnailCategories DIV.thumbnailCategory:hover A {
	background-color: #faebd7;
	border-color: yellow;	/* thumbnails border color when mouse cursor is over it */
	color: black;
}

UL.tabsheet LI.normal_tab:hover { border-color: #fff48e; }

/* links */
A, INPUT.rateButton {
	color: #FFFFFF;
	border: none;
}

A:hover {
	color: #FFF48E;
}

.virtual_cat { background: #3f3f3f; }
