/* $Id$ */

/* text color */
BODY, H1, H3, DT,
INPUT.rateButtonSelected /* <= why IE doesn't inherit this ? */ {
  color:#e0e0e0;
}

H2, #menubar DT, .throw {
  color: #fff48e;
}

#content .navigationBar {
  color: #aaaaaa;
}
#content .pageNumberSelected {
  color: #000000;
}

.tabsheet li,
.tabsheet li a { color: #fff; }
.tabsheet li a:hover { color: #fff48e; }

/* backgrounds */
BODY {
  background-color: #000000;
}

H3, #the_page, #imageHeaderBar, #imageToolBar A:hover, .row1  {
  background-color: #3f3f3f;
}

#menubar DL, #content, #imageToolBar, .header_notes, .content {
  background-color: #5f5f5f;
}

H2, #menubar DT, .throw  {
  background-image: url(images/tableh1_bg.png);
}

#imageHeaderBar H2 {
  background-image: none;
  background-color: transparent;
  border: none;
}

#imageHeaderBar {
  background-image: url(images/tableh2_bg.png);
  background-repeat: repeat-x;
  background-position: center;
}
.tabsheet li { background-color: #3f3f3f; }

.selected_tab { background-color: #5f5f5f !important; }

/* borders */
#menubar DL, #content, .content,
#comments DIV.comment BLOCKQUOTE {
  border: 1px solid #000000;
}

#imageHeaderBar {
  border-top: 1px solid #000000;
}
H2, #menubar DT, #imageToolBar {
  border-bottom: 1px solid #000000;
}

#theImage IMG {
  border-color: #000000;
}

#content UL.thumbnail IMG {
  border: 1px solid #a0a0a0;
}

FIELDSET, INPUT, SELECT, TEXTAREA,
#content DIV.comment  A.illustration IMG, #infos,
#content DIV.thumbnailCategory {
  border: 1px solid gray;
}

#comments DIV.comment BLOCKQUOTE {
  border-left: 2px solid #696969;
}

#content UL.thumbnails SPAN.wrap2 {
  border: 1px solid #aaaaaa;	/* thumbnails border color and style */
  border-radius: 4px 4px;	/* round corners with CSS3 compliant browsers */
}

#content UL.thumbnails SPAN.wrap2:hover,
#content UL.thumbnailCategories DIV.thumbnailCategory:hover,
#content UL.thumbnailCategories DIV.thumbnailCategory:hover A {
  background-color: #faebd7;
  border-color: yellow;		/* thumbnails border color when mouse cursor is over it */
  color: black;
}

ul.tabsheet { border-color: #fff48e; }
.tabsheet li { border: 1px solid #fff; }
.tabsheet li:hover { border-color: #fff48e !important; }

/* links */
A, INPUT.rateButton {
  color: #FFFFFF;
}

A:hover {
  color: #FFF48E;
}

#imageToolBar A, #imageToolBar A:hover,
A.navThumb, A.navThumb:hover {
  border-bottom: none;
}

/* others */
.pleaseNote {
  background: #9c9c9c;
  color: #ffff99;
  padding: 1ex;
  font-weight: bold;
}
#the_page {
  border: 1px solid #e0e0e0;
  padding-top: 5px;
  padding-bottom:30px;
  text-align:center;
  display:block;
}

/*calendar elements*/
SPAN.calItemEmpty { color: silver; }

SPAN.calItem, SPAN.calItemEmpty
{
  border: 1px solid gray;
}

/* nice looking month calendar*/
TD.calDayCellEmpty, TD.calDayCellFull { border: 1px solid gray;}

TD.calDayCellEmpty { color: silver; }

.calBackDate { color: #000; }
.calForeDate { color: #fff; }
.virtual_cat { background: #3f3f3f !important; }
.qsearch { font-size: 80%; font-style: normal; }
#mbMenu #quicksearch > p { text-align: left; }
