/* $Id$ */
#content {
    margin-left: 24em;
    margin-right: 1em;
    margin-bottom: 1em; /* when it's longer than menu bar */
}
BODY#theAdminPage #content {
    margin-left: 14em;
}

BODY#theCommentsPage #content,
BODY#theRegisterPage #content,
BODY#theIdentificationPage #content,
BODY#theProfilePage #content,
BODY#theSearchPage #content,
BODY#theAboutPage #content,
BODY#thePopuphelpPage #content,
BODY#thePasswordPage #content,
BODY#theNotificationPage #content
{
  margin: 1em;
}

#content H2 {
    margin-bottom: 1ex;
}

#content H3 {
    margin-bottom: 1ex;
}

/* Thumbnails customization */
#content UL.thumbnails SPAN, #content UL.thumbnails SPAN.wrap2 A {
  width: 140px;			/* max thumbnail width + 2px */
}
#content UL.thumbnails SPAN.wrap2 {
  height: 140px;		/* max thumbnail height + 2px */
}
#content UL.thumbnails SPAN.wrap2 {
  border: 1px solid #aaaaaa;	/* thumbnails border color and style */
  -moz-border-radius: 4px;	/* round corners with Geko */
  border-radius: 4px 4px;	/* round corners with CSS3 compliant browsers */
}
#content UL.thumbnails SPAN.wrap2:hover {
  border-color: yellow;		/* thumbnails border color when mouse cursor is over it */
}
#content UL.thumbnails SPAN.thumbLegend {
  font-size: 80%;		/* font size */
  height: 3em;			/* max legend height (don't set auto to be Geko friendly)*/
  display: block;		/* display: none; if you don't want legend */
  overflow: hidden;		/* oversized legend is clipped */
}

/* Thumbnail "elastic" layout */
#content UL.thumbnails {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;	/* to center the whole collection in #content */
}
#content UL.thumbnails LI { display: inline }

#content UL.thumbnails SPAN.wrap1 {
  margin: 0 5px 5px 5px;
  display: table-cell; display: inline-table; display: inline-block;
  vertical-align: top;		/* OK with Opera and IE6 not Geko */
  text-align: center;		/* to center the thumbnail and legend in Geko/Opera */
}
#content UL.thumbnails SPAN.wrap2 {
  margin: 0;			/* important reset the margins */
  display: table-cell;		/* block prevents vertical-align here */
  vertical-align: middle;	/* Ok with Opera and Geko not IE6 */
}
#content UL.thumbnails SPAN.wrap2 A {
  display: block;
  border-bottom: none;
}
#content UL.thumbnails IMG {
  margin-bottom: -4px;  /* why ??? something wrong with Geko and Opera ignored by IE6*/
}

/* fix IE with another layout */
* html #content UL.thumbnails SPAN.wrap2 {
  display: block;
  position: relative;
  text-align: left;
}
* html #content UL.thumbnails SPAN.wrap2 A {
  overflow: visible;
  position: absolute;
  top: 50%;
  text-align: center;
}
* html #content UL.thumbnails IMG.thumbnail {
  position: relative;
  top: -50%;
}

#content .navigationBar, #content .additional_info {
    margin: 10px 0;
    text-align: center;
}

#content .pageNumberSelected {
    font-style: italic;
}

#content .additional_info {
    font-size: 110%;
}

#content FORM {
    text-align: left;
}

/* content defaults */
#content dl, dd { margin: 10px; }
#content dt {
  margin-bottom: 5px;
  font-style: italic;
  font-size: 110%;
}

/* actions */
ul.categoryActions {
  margin: 0 0 0 0;
  width: auto;
  padding: 0;
  text-indent: 0;
  list-style: none;
  text-align: center;
}

#content div.titrePage ul.categoryActions {
  float: right;
  text-align: center;
}

#content ul.categoryActions li {
  display: inline;
}

#content ul.categoryActions a img, ul.categoryActions a {
  border: none;
}

/* User comments */

#content DIV#comments {
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: padding-box;
}
#content DIV.comment {
  margin: 0 0 0.5em 0;
  padding: 0;
  overflow: hidden; /* these 2 lines ensure the floating child is kept in the DIV */
  width: 100%;	    /* don't ask why. It's a very usefull trick                   */
}

#content DIV.comment A.illustration {
  display: block;
  float: left;
  margin: 0.5em 0 0 0.5em;
}

#content DIV.comment P.commentHeader {
  text-align: right;
  margin: 0.5em 0.5em 0 0;
}

#content DIV.comment UL.actions {
  text-align: center;
  margin: 0.2em;
}

#content DIV.comment  UL.actions  LI {
  display: inline;
}

#content DIV.comment BLOCKQUOTE {
  margin: 1em 0.5em 0.5em 150px; /* margin-left corresponds to maximum thumbnail width + ~10px */
  padding: 0.5em;
}

/* should be in admin.css ? CSS properties also used in popuphelp */

SPAN.pwgScreen {
  border-bottom: 1px dotted black;
}

SPAN.filename:before {
  content: "[";
}

SPAN.filename:after {
  content: "]";
}
