/* $Id$ */

/* others */
.pleaseNote {
    background: #9c9c9c;
    color: #ffff99;
    padding: 1ex;
    font-weight: bold;
}

#imageToolBar * {
    background: inherit;
}

/* So that non-links are slightly greyed out */
#content .navigationBar {
    color: #696969;
}
#content .pageNumberSelected {
    color: #000000;
}

/* Tables & forms */

/* IE <= 6 is so bad with this that you can't merge with the following rule */
INPUT[type="text"], INPUT[type="password"], INPUT[type="button"],
INPUT[type="submit"], INPUT[type="reset"], INPUT[type="file"] {
  color:black;
  background-color: #d3d3d3;	/* lightgrey */
}

INPUT.text, INPUT.password, INPUT.button,
INPUT.submit, INPUT.reset, INPUT.file,
SELECT, TEXTAREA {
  color:black;
  background-color: #d3d3d3;	/* lightgrey */
}

INPUT:focus, SELECT:focus, TEXTAREA:focus, INPUT.focus, FORM .focus {
  background-color: #f5f5f5;	/* whitesmoke */
}

/* some theme set a border on INPUT  which is not pretty for radio/checkbox */
INPUT[type="radio"], INPUT[type="checkbox"] {
  border: none;	/* <= Opera needs this */
}

INPUT.radio, INPUT.checkbox {
  border: none;	/* <= IE6 needs this */
}

/* rate buttons displayed like links */
INPUT.rateButton, INPUT.rateButtonSelected, INPUT.rateButtonStarFull, INPUT.rateButtonStarEmpty {
  color:inherit;
  background-color:transparent;	/* Konqueror doesn't accept transparent here */
}

.errors { /* Errors display */
  color: red;
  background-color: #ffe1e1;
  font-weight: bold;
  text-align: left;
  margin: 5px;
  border: 1px solid red;
  background-image: url(icon/admin/errors.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 10px 50px 10px 10px;
}

.errors UL LI
{
  font-weight: normal;
}

/**
 * Informations box in administration
 */
.infos {
  text-align: left;
  background-color: palegreen;
  background-image: url(icon/admin/infos.png);
  background-repeat: no-repeat;
  background-position: top right;
  color: darkgreen;
  font-weight: bold;
  margin: 5px;
  padding: 10px 50px 10px 10px;
}

/**
 * Header message like upgrade or adviser mode
 */
.header_msgs {
  text-align:center;
  font-weight: bold;
  color:#696969;	/* dimgray */
  background-color: #d3d3d3;
  margin: 1px;
  padding: 1px;
}

LEGEND {
  font-style: italic;
}
