/* $Id$ */

/* others */
.pleaseNote {
    background: #9c9c9c;
    color: #ffff99;
    padding: 1ex;
    font-weight: bold;
}

#imageToolBar * {
    background: inherit;
}

/* So that non-links are slightly greyed out */
#content .navigationBar {
    color: #696969;
}
#content .pageNumberSelected {
    color: #000000;
}

/* Tables & forms */
INPUT, SELECT, TEXTAREA {
	color:black;
}
INPUT, SELECT, TEXTAREA, FORM .nofocus {
	background-color: #d3d3d3;	/* lightgrey */
}
FORM .focus {
  background-color: #f5f5f5;		/* whitesmoke */
}
INPUT[type="radio"] {	/* for Opera */
  border: none;
  background-color: transparent;
}

.errors { /* Errors display */
  color: red;
  background-color: #ffe1e1;
  font-weight: bold;
  text-align: left;
  margin: 5px;
  border: 1px solid red;
  background-image: url(icon/admin/errors.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 10px 50px 10px 10px;
}

.errors UL LI
{
  font-weight: normal;
}

/**
 * Informations box in administration
 */
.infos {
  text-align: left;
  background-color: palegreen;
  background-image: url(icon/admin/infos.png);
  background-repeat: no-repeat;
  background-position: top right;
  color: darkgreen;
  font-weight: bold;
  margin: 5px;
  padding: 10px 50px 10px 10px;
}

/**
 * Header message like upgrade or adviser mode
 */
.header_msgs {
  text-align:center;
  font-weight: bold;
  color:#696969;	/* dimgray */
  background-color: #d3d3d3;
  margin: 1px;
  padding: 1px;
}

LEGEND {
  font-style: italic;
}
