/* $Id$ */
BODY {
  margin: 5px;
  padding: 0;
  font-size: 0.8em;
  font-family:  Univers, Helvetica, Optima, "Bitstream Vera Sans", sans-serif;
  text-align: center; /* be nice to IE5 */
}


H1 {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  padding: 0;
  margin: 0.5em 0 1em 0;
}

H2 {
	margin: 0;
	padding: 5px 0.5em 5px 0.5em;
	text-align: left;
	font-size: 120%;
}

A {
	text-decoration:none;
	border-bottom: 1px dotted #005e89;
}
A:hover {
	border-bottom: 1px solid #858460;
}
A.button, A.button:hover { 
	border: 0; 
}
IMG {
	border: none;
}

HR.separation {
  visibility: hidden;
  clear: both;
}

#copyright {
    clear: both;
    font-size: 83%;
    text-align: center;
    margin: 0 0 10px 0;
}

/** General defaults **/
INPUT, SELECT {
  margin: 0;
  font-size: 1em;	/* <= some browsers don't set it correctly */
}
UL, DL, LI { text-align: left;}
TABLE {			/* horizontaly centered */
  margin-left: auto;
  margin-right: auto;
}
/* for debugging purpose */
PRE { text-align:left; }

/** forms **/

FORM { padding: 0em; }

FORM P {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

FORM FIELDSET P {
	margin-top: 1em;
	margin-bottom: 0;
}

TEXTAREA.description {
  height: 6em;
  width: 40em;
  overflow: auto;
}

SELECT.categoryList {
  height: 20em;
  width: auto;
}

DIV.comment BLOCKQUOTE {
  padding: 0.5em;
  overflow: auto;	/* no solution for IE6 */
  min-height: 2.75em;	/* fix a Gecko bug whith scrollbar and 1 line only */
}


/**
 * Filter forms are displayed label by label with the input (or select...)
 * below the label. Use an UL to make a group (radiobox for instance).
 * Use a SPAN to group objects in line
 */
FIELDSET {
  padding: 1em;
  margin: 1em;
  overflow: hidden; /* <- makes Opera happy */
}

FORM.filter FIELDSET UL {
  margin: 0;
}
FORM.filter FIELDSET UL,
FORM.filter FIELDSET LABEL {
  display: block;
  float: left;
  margin-right: 1em;
  padding: 0;
}

FORM.filter FIELDSET LI {
  list-style: none;
  margin-bottom: 0.5em;
}

FORM.filter FIELDSET LI LABEL {
  display: inline;
  float: none;
}

FORM.filter FIELDSET UL.tagSelection LABEL {
  display: inline;
  float: none;
  margin-right:0.5em;/*reduce from above*/
}

/* cannot use FIELDSET>LABEL because of IE<=6 */
FORM.filter FIELDSET LABEL INPUT,
FORM.filter FIELDSET LABEL SELECT,
FORM.filter FIELDSET LABEL SPAN,
FORM.filter FIELDSET LABEL TEXTAREA {
  display: block;
  margin: 0.5em 0;
}
FORM.filter FIELDSET * LABEL INPUT,
FORM.filter FIELDSET * LABEL SELECT,
FORM.filter FIELDSET * LABEL TEXTAREA,
FORM.filter FIELDSET LABEL SPAN INPUT,
FORM.filter FIELDSET LABEL SPAN SELECT,
FORM.filter FIELDSET LABEL SPAN TEXTAREA {
  display: inline;
  vertical-align: top;
  margin: 0 0.5em 0 0;
}

FORM.filter FIELDSET UL.tagSelection LI LABEL INPUT {
  margin-right:0;
}

/* following declaration is important to avoid strange FF behaviour */
FORM.filter FIELDSET LABEL SPAN SELECT {
  margin: 0;
}

FORM.filter FIELDSET P
{
	clear: left;
	display: block;
}

FORM.filter INPUT[type="submit"] {
	margin-top: 1em;
}

FORM.properties UL {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

FORM.properties LI {
	margin-bottom: 0.5em;
	padding: 0;
	line-height: 1.8em;
	clear: left;
}

FORM.properties SPAN.property {
  font-weight: bold;
  float: left;
  width: 50%;
  text-align: right;
  margin: 0;
  padding: 0 0.5em 0 0;
}

#theHeader H1 {
  margin-bottom: 0.5em;
}

/* button tools */
UL.actions {
  text-indent: 0;
  list-style: none;
}
UL.actions  LI {
  display: inline;
}
UL.actions  A {
  border: none;
}

UL.tagSelection {
  width: 99%;
  margin: 1em 0 1em 0;
  padding: 0;
}

UL.tagSelection LI {
  display: inline;
  white-space: nowrap;
}

#fullTagCloud {
  font-size: 120%;
  text-align: justify;
  padding: 0;
  margin: 1em 2em 1em 2em;
}

#fullTagCloud LI {
  display: inline;
  white-space: nowrap;
  margin: 0 2px;
}


.tagLevel5 { font-size: 150%; }
.tagLevel4 { font-size: 140%; }
.tagLevel3 { font-size: 120%; }
.tagLevel2 { font-size: 100%; }
.tagLevel1 { font-size: 90%; }


/* Popup help page */
BODY#thePopuphelpPage #copyright {
  display: none;
}

BODY#thePopuphelpPage .content P {
  text-align: justify;
  padding: 0.5em;
}

BODY#thePopuphelpPage .content OL LI,
BODY#thePopuphelpPage .content UL LI
{
  margin-bottom: 0.5em;
}

BODY#thePopuphelpPage P#pageBottomActions A {
  border: none;
}

TR.tagLine {
  border-bottom: 1px solid #ddd;
  text-align: left;
}
TD.nbEntries {
  text-align: right;
  font-style: italic;
  font-size: 90%;
}

FIELDSET.tagLetter {
  border: 1px solid #d3d3d3;
  width: 200px;
  margin: 0.5em;
  padding: 10px;
}

LEGEND.tagLetterLegend {
  border: 1px solid #d3d3d3;
  font-size:120%;
  font-weight: bold;
  padding: 0 5px;
  font-style: normal;
}

TABLE.tagLetterContent {
  width:100%;
  font-size:80%;
  border-collapse : collapse;
}
