
@import "menubar.css";
@import "content.css";
@import "image.css";
@import "popuphelp.css";

/* $Id$ */

/* * { padding: 0 !important; margin: 0 !important; } */

BODY {
    margin: 5px;
    padding: 0;
    font-size: 0.8em;
    font-family: Bitsream Vera Sans, Helvetica, Arial, sans-serif;
    text-align: center; /* be nice to IE5 */
}

#the_page {
    /* Just in case another template needs an inner frame */
}

H1 {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    padding: 0; margin: 1ex 0 2ex 0;
}

H2 {
    margin: 0;
    padding: 5px;
    text-align: left;
    font-size: 120%;
}

A {
    text-decoration:none;
    border-bottom: 1px dotted #005e89;
}
A:hover {
    border-bottom: 1px solid #858460;
}

IMG {
    border: none;
}

HR.separation {
  visibility: hidden;
  clear: both;
}

#copyright {
    clear: both;
    font-size: 83%;
    text-align: center;
    margin: 0 0 10px 0;
}

/** General defaults **/
INPUT {margin: 0;}
ul, dl, li { text-align: left;}
/* for debugging purpose */
pre { text-align:left; }

/** forms **/

form { padding: 0em; }

/* form row are dl instead of table rows */
form dl {
  text-align: left;   /* must set it there otherwise IE render dl.biglabel dt incorectly */
  margin-top: 0;
  margin-bottom: 0;
    font-size: 100%; /* TO DO : alignement pb in Opera !!!*/
}
form dt {
  float: left;
  /*text-align: left;*/
  width: 60%;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
form dd {
  /*text-align: left;*/
  /*margin-top: 0.5em;*/
  margin:0;
  padding:0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
/* we must use one dl.biglabel per <dt><dl> because of positionning */
form dl.biglabel {
  position: relative; /* to allow position: absolute in dd*/
}
form dl.biglabel dt {
  float: none;
}

form dl.biglabel dd {
  /*float: right; do not whant to float ????*/
  /*width: 60%;*/
  position: absolute;
  top: 0;
  left: 60%; /* same as form dt width */
}
form dl.biglabel dd { padding-left:2px;} /* IE */
form dl.biglabel>dd { padding-left:0;}	/* other browsers */

form p {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}
.small {
	font-size: 80%;
}

textarea.description {
  height: 100px;
  width: 500px;
  overflow: auto;
}
select.categoryList {
  width: 100%;
}

/** go to an admin.css ? **/

.table2 {
  border: 1px solid black; 
  margin: 1em auto;
  padding: 0;
}

.table2 TD, .table2 TH {
  padding: 0 1em;
}

form#add_virtual p { text-align: left; }
form#categoryOrdering p {
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
}
form#categoryOrdering>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form#categoryOrdering>ul>li {
  border: 1px solid grey;
  padding: 0px 5px;
  margin-bottom: 5px;
}

form#categoryOrdering ul.categoryActions {
  float: right;
  margin-top: 5px;
}

form#cat_modify table { width: auto; }

/**
 * Filter forms are displayed label by label with the input (or select...)
 * below the label
 */
FIELDSET {
  padding: 1em;
  margin: 1em;
}

FORM.filter FIELDSET LABEL {
  display: block;
  float: left;
  width: auto;
  margin-right: 10px;
  padding: 0;
}

FORM.filter FIELDSET LABEL INPUT, FORM.filter FIELDSET LABEL SELECT {
  display: block;
  margin: 0.5em 0;
}

FORM.filter FIELDSET P, FORM.filter FIELDSET INPUT {
  clear: left;
  display: block;
}

FORM.filter INPUT[type="submit"] {
  margin-top: 1em;
}

FORM.properties UL, FORM#quickconnect UL, FORM#update UL {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

FORM.properties LI, FORM#quickconnect UL, FORM#update UL  {
  margin-bottom: 0.5em;
  padding: 0;
  line-height: 1.8em;
}

FORM.properties LABEL {
  float: left;
  width: 50%;
  text-align: right;
  margin: 0;
  padding: 0 0.5em 0 0;
}

FORM#quickconnect LABEL {
  float: left;
  width: 30%;
  text-align: right;
  margin: 0.5em 0 0 0;
  padding: 0 0.5em 0 0;
}

FORM#quickconnect INPUT {
  margin-top: 0.5em;
}

FORM.properties LABEL.mandatory {
  font-weight: bold;
}

FORM.properties .focus {
  background-color: whitesmoke;
}

FORM.properties .nofocus {
  background-color: lightgrey; /* must be the same as input background-color */
}

FIELDSET.elementEdit A {
  display: block;
  float: right;
}

TABLE.doubleSelect {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

TABLE.doubleSelect TD {
  padding: 0 5px;
  width: 50%;
}

FORM#categoryPermissions LI {
  display:inline;
  white-space: nowrap;
}

#theHeader {
}

#theHeader H1 {
  margin-bottom: 0.5em;
}

#theHeader P {
  margin-top: 0;
  padding: 0;
}

BODY#theAdminPage #theHeader P { 
  display: none;
}

BODY#thePopuphelpPage #copyright {
  color: green;
  display: none;
}
