/* $Id$ */
/* fix IE with another layout for thumbnails */

#content UL.thumbnails SPAN.wrap2 {
  display: block;
  position: relative;
  text-align: left;
}
#content UL.thumbnails SPAN.wrap2 A,
#content UL.thumbnails SPAN.wrap2 SPAN {
  overflow: visible;
  position: absolute;
  top: 50%;
  text-align: center;
}

#content UL.thumbnails IMG.thumbnail {
  position: relative;
  top: -50%;   
  margin-top: 2%;
}
#content UL.thumbnails SPAN.wrap2 {
  border-radius: 8px;
}
.tabsheet li {
  border-radius: 12px 12px 0px 0px;	/* round corners with CSS3 compliant browsers */
}
ul.tabsheet {
  padding: 0px 0em 1.98em 6em;
  border-bottom: 1px solid #fff;
  border-top: 0px;
}
