/* $Id: /piwigo/trunk/template/yoga/fix-khtml.css 6488 2008-10-03T23:48:03.552613Z rvelices  $ */
/* Issue in Safari/Konqueror only                                                 */
/* If H2 has a 0 margin-top categoryActions doesn't float right but overwrites H2 */
.content>DIV.titrePage>H2 {
    margin: 1px 0 0 0;	/* add an arbitrary margin-top */
}

.content>div.titrePage {
    position: relative;
    top: -1px;		/* move the container up by the same amount */
    margin-bottom: 5px; 
}

#menubar #menuTagCloud SPAN
{
  display: inline-block;/* required for Safari 3.1 - otherwise overflows on the right */
}

