/* $Id$ */
/* Issues in IE from 5 to 6 only not to be used with IE7                      */

@import "thumbnails-fix-ie5-ie6.css";

/* to avoid vanishing objects in IE6 */
H1, #theHeader {
  width: 100%;	/* <- useless but seems to make IE6 happy */
}
#content {
  height: 1em; /* for IE6 it's like min-height */
}

/* to get less hugly checkboxes at least in tagSelection */
/* as well as several forms */
FORM#update FIELDSET INPUT,
UL.tagSelection LI INPUT,
#content UL.thumbnails SPAN.wrap2 INPUT {
  border: none;
  background-color: transparent;
}

/* fix category thumbnails on main page */
#content UL.thumbnailCategories {
  width: 99%; /* buggy IE box model */
}

/* fix tag clouds : IE doesn't like anything but inline */
#menubar #menuTagCloud LI
{
  display: inline;
}
