/* $Id$ */
/* Issues in IE from 5 to 6 only not to be used with IE7                      */

@import "thumbnails-fix-ie5-ie6.css";

/* to avoid vanishing objects in IE6 */
H1, #theHeader {
  width: 100%;	/* <- useless but seems to make IE6 happy */
}
#content {
  height: 1em; /* for IE6 it's like min-height */
}

/* some theme set a border on INPUT  which is not pretty for those */
INPUT.radio, INPUT.checkbox {
  border: none;
}

/* fix category thumbnails on main page */
#content UL.thumbnailCategories {
  width: 99%; /* buggy IE box model */
}

/* fix tag clouds : IE doesn't like anything but inline */
#menubar #menuTagCloud LI
{
  display: inline;
}

/* fix quickconnect layout */
FORM#quickconnect UL.actions {
  width: 30px;	/* <= get icons not so badly positionned */
}

FORM#quickconnect INPUT.text,
FORM#quickconnect INPUT.password,
FORM#quickconnect INPUT.submit {
  position: relative;
  left: -0.5em;	/* definitively a bug ! */
}

FORM#quickconnect INPUT.text,
FORM#quickconnect INPUT.password {
  width: 10em;
}


