/* $Id: layout.css 1131 2006-04-06 02:23:54Z rvelices $ */

/* template css */
@import "menubar.css";
@import "content.css";
@import "thumbnails.css";
@import "image.css";
@import "popuphelp.css";
@import "default-layout.css";
/* Override properties with import local file */
@import "local-layout.css";
/* common css */
@import "../../template-common/layout.css";

