#menubar {
	float: left;
	margin: 0 0 10px 1em;
	padding: 0;
	display: inline;
}

#menubar DL, #menubar DT, #menubar DD {
	margin: 0; padding: 0; display: block;
}

#menubar .button {
	margin: 2px 2px ;
	width: auto;
	padding: 0;
	text-indent: 0;
	list-style: none;
	text-align: center;
	float: right;
}

/* H2 properties copied here */
#menubar DT {
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	font-size: 120%;
	text-align: center;
}

#menubar UL,
#menubar FORM,
#menubar P {
	font-size: 92%;
	margin: 10px 0 10px 5px;
}
#menubar UL {
	list-style-type: square;
	list-style-position: inside;
	padding: 0 0 0 2px;
}
#menubar UL UL {
	font-size: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

#menubar LI.selected A {
	font-weight: bold;
}

#menubar LI.selected LI A {
	font-weight: normal;
}

#menubar .menuInfoCatByChild {
	font-size: 80%;
	font-style: italic;
}

#menubar INPUT {
	text-indent: 2px;
}

/* quickconnect form */
FORM#quickconnect {
	margin: 5px;
	padding: 0;
}

FORM#quickconnect FIELDSET {
	margin: 0;
	padding: 0; /*IE6 requires padding 0*/
}

FORM#quickconnect FIELDSET DIV {
	margin: 8px 5px;
	padding: 0;
}

#menubar #menuTagCloud {
	text-align: center;
	margin: 5px 0;
}

#menubar #menuTagCloud LI
{
	display: inline;
	white-space: nowrap;	/* No line break in the LI but Opera set nowrap to */
}
