#menubar {
    /* Do not put font-size: 90% here for it makes it harder to have correct
       margin for contentarea */
    float: left;
    left: 0px;

    width: 22em;
    margin: 0 0 10px 1em;
    padding: 0;
    /* Fix against the "double margin of a floated item" IE bug */
    /* Damned: that screws up top_navbar in opera 7.54/Linux! */
    display: inline;
    text-align: left; /* follow-up of the "be nice to IE5" rule */
}

BODY#theAdminPage #menubar {
    width: 12em;
}

#menubar DL, #menubar DT, #menubar DD {
    margin: 0; padding: 0; display: block;
}

/* H2 properties copied here */
#menubar DT {
    font-weight: bold; /* default for h2 */

    margin: 0;
    padding: 5px 10px;
    font-size: 120%;

    text-align: center;
}

#menubar UL,
#menubar HR,
#menubar FORM,
#menubar P, /* ooh, careful... */
#menubar .totalImages {
    font-size: 92%;
    margin: 10px 0 10px 10px;
}
#menubar UL {
    list-style-type: square;
    list-style-position: inside;
    padding: 0 0 0 2px;
}
#menubar UL UL {
    font-size: 100%;
    margin-top: 0;
}

#menubar LI.selected A {
  font-weight: bold;
}

#menubar LI.selected LI A {
  font-weight: normal;
}

#menubar HR {
    display: block;
    margin: 10px auto;
    width: 90%;
}
#menubar FORM P {
    margin: 5px;
    font-size: 100%;
}
#menubar INPUT {
    text-indent: 2px;
}

/* quickconnect form */
FORM#quickconnect { 
  margin: 0;
}

FORM#quickconnect FIELDSET {
  margin: 5px;
}

FORM#quickconnect P {
  float: left;
  margin: 0;
}

FORM#quickconnect UL.actions {
  display: inline;
  margin: 0,5em 0 0 0;
  float: right;
}
