#menubar {
    float: left;
    margin: 0 0 10px 1em;
    padding: 0;
    /* Fix against the "double margin of a floated item" IE bug */
    /* Damned: that screws up top_navbar in opera 7.54/Linux! */
    display: inline;
    text-align: left; /* follow-up of the "be nice to IE5" rule */
}

#menubar DL, #menubar DT, #menubar DD {
    margin: 0; padding: 0; display: block;
}

/* H2 properties copied here */
#menubar DT {
    font-weight: bold; /* default for h2 */
    margin: 0;
    padding: 5px 5px 5px 5px;
    font-size: 120%;
    text-align: center;
}

#menubar UL,
#menubar HR,
#menubar FORM,
#menubar P, /* ooh, careful... */
#menubar .totalImages {
    font-size: 92%;
    margin: 10px 0 10px 10px;
}
#menubar UL {
    list-style-type: square;
    list-style-position: inside;
    padding: 0 0 0 2px;
}
#menubar UL UL {
    font-size: 100%;
    margin-top: 0;
}

#menubar LI.selected A {
  font-weight: bold;
}

#menubar LI.selected LI A {
  font-weight: normal;
}

#menubar .menuInfoCatByChild {
  font-size: 80%;
  font-style: italic;
}

#menubar HR {
    display: block;
    margin: 10px auto;
    width: 90%;
}
#menubar INPUT {
    text-indent: 2px;
}

/* quickconnect form */
FORM#quickconnect {
  margin: 0;
  padding: 5px;
}

FORM#quickconnect FIELDSET {
  margin: 0;
  padding: 0 0 0.5em 0;
}

FORM#quickconnect P {
  margin-left: 0;
  font-size: 100%;
  float: left;
  clear: left;
}

FORM#quickconnect P INPUT {
  margin: 0;
}

FORM#quickconnect UL.actions {
  display: inline;
  float: right;
  padding: 0;
  text-align: right;	/* Opera 7.5 */
}
FORM#quickconnect FIELDSET>UL.actions {
  width: 40%;		/* Opera 7.5 cannot find why width:auto fails :-( */
}

FORM#quickconnect UL.actions,
FORM#quickconnect P,
FORM#quickconnect LABEL {
  padding: 0 0.5em 0 0.5em;
}

FORM#quickconnect LABEL {
  margin:0;
  width: 100%;
 /* -moz-box-sizing: padding-box;*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

FORM#quickconnect INPUT[type=text],
FORM#quickconnect INPUT[type=password] {
  width: 100%;	/* mozilla can handle 100% */
}
/* same as above for IE with inputfix.htc              */
/* unfortunately IE doesn't handle that correctly      */
/* so you should set a width in em in local_layout.css */
/*FORM#quickconnect INPUT.text,
FORM#quickconnect INPUT.password {
  width: 95%;
}*/

FORM#quicksearch {
  margin-top: 4px;
  margin-bottom: 1px;
}

#menubar #menuTagCloud {
  text-align: center;
  margin: 5px 0;
}

#menubar #menuTagCloud LI
{
  display: inline;	/* FF doesn't see the inline-block below */
  white-space: nowrap;	/* No line break in the LI but Opera set nowrap to */
  display: inline-block;/* the whole UL, inline-block fix it.              */
  /* IE wants inline in fix-ie5-ie6.css */
}
