/* $Id$ */
#imageHeaderBar {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 4px;
	overflow: hidden;
	width: 100%;
}

#imageHeaderBar .browsePath {
	float: left;
	margin-left: 10px;
}

#imageHeaderBar .imageNumber {
	float: right;
	margin-right: 10px;
}

#imageHeaderBar H2 {
	text-align: center;
	padding: 0;
	clear: both;
}

#imageToolBar {
	text-align: center;
	position: relative;
	clear: both;
	margin-bottom: 4px;
	padding: 0;
	height: 28px;
}

#imageToolBar A, #imageToolBar IMG {
	display: block;
	border: none;
	margin: 0; padding: 0;
}
#imageToolBar A { width: 48px; }
#imageToolBar IMG { margin: 2px auto; }
#imageToolBar .randomButtons A { float: left; }
#imageToolBar .navButtons    A { float: right; }

#theImage {
	clear: left;
	text-align: center;
}

#theImage>IMG {
	display: block;
	margin: 0 auto;
	border: none;
}

#linkPrev {
	float: left;
}

#linkNext {
	float: right;
}

#linkPrev IMG {
	margin-right: 10px;
	margin-left: 5px;
}

#linkNext IMG {
	margin-right: 5px;
	margin-left: 10px;
}

TABLE.infoTable .label {
	font-weight: bold;
	text-align: right;
	padding-right: 0.5em;
}

TABLE.infoTable TD.value UL {
	margin: 0;
	padding: 0 0 0 1.5em;
	list-style-type: square;
}

.thumbnailCategories li { list-style: none; }

.rateButton, .rateButtonSelected, .rateButtonStarFull, .rateButtonStarEmpty  {
	padding:0;
	border:0;
}

.rateButton, .rateButtonStarFull, .rateButtonStarEmpty {
	cursor: pointer;
}

.rateButtonSelected {
	font-weight:bold;
	font-size:120%;
}

.rateButtonStarFull {
	background: url('icon/rating-stars.gif') no-repeat scroll; background-position:-16px center; width:16px;
}

.rateButtonStarEmpty {
	background: url('icon/rating-stars.gif') no-repeat scroll; background-position:0 center; width:16px;
}

