/* $Id: thumbnails-fix-ie5-ie6.css 1385 2006-06-24 09:09:17Z chrisaga $ */
/* fix IE with another layout for thumbnails */
#content UL.thumbnails SPAN.wrap2 {
  display: block;
  position: relative;
  text-align: left;
}
#content UL.thumbnails SPAN.wrap2 A,
#content UL.thumbnails SPAN.wrap2 LABEL {
  overflow: visible;
  position: absolute;
  top: 50%;
  text-align: center;
}
#content UL.thumbnails IMG.thumbnail {
  position: relative;
  top: -50%;
  /*\*//*/
    margin-top: -40%;
  /**/
}
#content UL.thumbnails SPAN.wrap2 input {
  position: absolute;
  left: 0;
  top: -50%;  /* same as other browsers but not so pretty */
}

