

/* So that non-links are slightly greyed out */
.content .navigationBar {
	color: #999;
}

/* Tables & forms */

INPUT.text, INPUT.password, INPUT.button,
INPUT.submit, INPUT.reset, INPUT.file,
SELECT, TEXTAREA {
  color:#999;
  background-color: #666;	
}

INPUT:focus, SELECT:focus, TEXTAREA:focus, INPUT.focus, FORM .focus {
  background-color: #444;	/* whitesmoke */
}

/* some theme set a border on INPUT  which is not pretty for radio/checkbox */
INPUT[type="radio"], INPUT[type="checkbox"] {
  border: none;	/* <= Opera needs this */
}

INPUT.radio, INPUT.checkbox {
  border: none;	/* <= IE6 needs this */
}


/**
 * Header message like upgrade
 */
.header_msgs {
  text-align:center;
  font-weight: bold;
  color:#333;
  background-color: transparent;
  margin: 1px;
  padding: 1px;
}

/**
 * Header notes box in public/administration
 */
.header_notes {
  border: 1px solid #666;
  background: transparent url(icon/note.png) no-repeat right top;
  font-weight: bold;
  margin: 14px 24px 14px 14px;
  padding: 5px 0 0 0;
  top: 90px; 
  position: absolute;
  text-align: right;
}

LEGEND {
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0 10px;
}