

/* So that non-links are slightly greyed out */
.content .navigationBar {
	color: #999;
}

/* Tables & forms */

INPUT.text, INPUT.password, INPUT.button,
INPUT.submit, INPUT.reset, INPUT.file,
SELECT, TEXTAREA {
  color:#999;
  background-color: #666;	
}

INPUT:focus, SELECT:focus, TEXTAREA:focus, INPUT.focus, FORM .focus {
  background-color: #444;	/* whitesmoke */
}

/* some theme set a border on INPUT  which is not pretty for radio/checkbox */
INPUT[type="radio"], INPUT[type="checkbox"] {
  border: none;	/* <= Opera needs this */
}

INPUT.radio, INPUT.checkbox {
  border: none;	/* <= IE6 needs this */
}

.errors { /* Errors display */
  color: #f33;
  background-color: transparent;
  font-weight: bold;
  text-align: left;
  margin: 5px;
  border: 1px solid #666;
  background-image: url(icon/errors.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 10px 50px 10px 10px;
}

/**
 * Informations box in administration
 */
.infos {
  text-align: left;
  color: #f70;
  background-color: transparent; 
  background-image: url(icon/infos.png);
  background-repeat: no-repeat;
  background-position: top right;
  margin: 5px;
  padding: 10px 50px 10px 10px;
}

/**
 * Header message like upgrade or adviser mode
 */
.header_msgs {
  text-align:center;
  font-weight: bold;
  color:#333;
  background-color: transparent;
  margin: 1px;
  padding: 1px;
}

/**
 * Header notes box in public/administration
 */
.header_notes {
  border: 1px solid #666; 
  text-align: center;
  background-image: url(icon/note.png);
  background-repeat: no-repeat;
  background-position: top left;
  font-weight: bold;
  margin: 14px;
  padding: 5px 00px 0px 0px;
}

LEGEND {
  font-style: italic;
}