/* content.css */

/* .Content  is on every pages so it is common and it will no longer be a specific css */
.content h2 {margin: 0; padding: 5px 0.5em 5px 0.5em; text-align: right; font-size: 120%;}
.content .navigationBar { margin: 10px 0; text-align: center; }
.content form { text-align: left; }
.content dt { margin-bottom: 5px; font-style: italic;
  font-size: 110%; }
.content ul.categoryActions a img, ul.categoryActions a {
border:0; margin-bottom:-5px; }
ul.categoryActions { margin: 0 2px; width: auto; list-style-position:outside;
  padding: 0; text-indent: 0; list-style: none; text-align: center; }
.content div.titrePage ul.categoryActions { float: right; }
.content div.titrePage { padding: 0 0 3px; }
.content ul.categoryActions li { display: inline; }
.content div.comment { margin: 0 0 0.5em 0; padding: 0;
  overflow: hidden; width: 100%;	/* don't ask why. It's a very usefull trick  */ }

.content DIV.comment A.illustration {
	display: block;
	float: left;
	margin: 0.5em 30px 0 0.5em;
}

.content div.comment p.commentHeader {
  text-align: right; margin: 0.5em 0.5em 0 0; }
.content div.comment ul.actions { text-align: center; margin: 0.2em; }
.content div.comment blockquote {
  margin-right: 0.5em; overflow: visible; /*avoid a very strange margin behaviour (all browsers) */ }

/* not used but should be */
#thePopuphelpPage .content { margin: 1em; }

/* thumbnails.css */
UL.thumbnails {
  margin: 0; padding: 0; list-style: none;
  text-align: center;	/* to center the whole collection in .content */
  float: left;
}
UL.thumbnails LI { display: inline }
UL.thumbnails li.rank-of-image {
  float: left;
  background-color: #333;
  color: #666;
  -moz-border-radius: 5px;
  display: block;
  width: 104px;
  height: 104px;
  cursor: move;
  margin: 10px;
}
.clipwrapper {
  position:relative;
  width: 96px;
  height: 96px;
  margin: 3px;
}
.clip {
  position:absolute;
}
UL.thumbnails li.rank-of-image input {
}
UL.thumbnails SPAN.wrap1 {
  margin: 5px;
  display: table-cell; display: inline-table;
  display: inline-block; /* Why 3 display option ??? */
  vertical-align: top;		/* OK with Opera and IE6 not Geko */
  text-align: center;		/* to center the thumbnail and legend in Geko/Opera */
}
UL.thumbnails SPAN.wrap2 {
  margin: 0;			/* important reset the margins */
  display: table-cell;		/* block prevents vertical-align here */
  vertical-align: middle;	/* Ok with Opera and Geko not IE6 */
}
UL.thumbnails LABEL { display: block; border-bottom: none; }
UL.thumbnails IMG {
  margin-bottom: -4px;  /* why ??? something wrong with Geko and Opera ignored by IE6*/
}
UL.thumbnails LABEL { position: relative; }
UL.thumbnails INPUT {
  position: relative;	/* <= Opera can handle relative here */
  top: -20px;
}
:root UL.thumbnails INPUT { /* hide from Opera */
  position: absolute;	/* <= Opera hide 1 checkbox over 2 !!! */
  left: 2px; top: 2px;
}
UL.thumbnails .levelIndicatorB {
display:block; position:absolute; z-index:100;padding:0px 0 0 14px; color:black; font-weight:bold; font-size:120%;
}
UL.thumbnails .levelIndicatorF {
display:block; position:absolute; z-index:101;padding:1px 0 0 15px; color:white; font-weight:bold; font-size:120%;
}

/* default-layout.css */

/* History tables */
TABLE.table2 {
	border: 1px solid #111;
	margin: 1em auto;
	padding: 0;
}

TABLE.table2 TD, TABLE.table2 TH {
	padding: 0 5px;
}

TABLE.table2 TR {
	text-align: left;
}

TABLE.table2 THEAD TD { padding:7px 10px 3px 10px; }
TABLE.table2 TR.throw { text-align: center; }
TABLE.table2 { margin:0pt auto; }
.sort { display:block; padding:8px 5px 0px 1px; clear: right; float:left; }


.hour {
	white-space: pre;
}

.number {
	text-align: right;
}

TABLE#dailyStats {
	width: 60%;
}

TABLE#detailedStats {
	width: 99%;
}

/* Plugins, languages tables */
TABLE.plugins,
TABLE.languages {
  min-width: 500px;
}
TABLE.plugins A { border: 0; }
TABLE.plugins TR TD { padding: 4px 10px; }
TABLE.languages TR TD { padding: 7px 20px; }


/* categoryOrdering */
FORM#categoryOrdering .orderParams {
  line-height:30px;
  margin-bottom:10px;
}

SELECT.categoryList {
	width: 100%;
}

FORM#categoryOrdering {
	padding-left: 1em; /* same as FIELDSET margin (there is no fieldset in this form) */
	padding-right: 1em; /* same as FIELDSET margin (there is no fieldset in this form) */
}
FORM#categoryOrdering p {
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
}
UL.categoryUl {
	list-style: none;
	padding: 0;
	margin: 0;
}

LI.categoryLi {
	width: 100%;
	border: 1px solid #666;
	padding: 0px 5px;
	margin-bottom: 5px;
}

FORM#categoryOrdering UL.categoryActions {
	float: right;
        height:45px;
        line-height:45px;
}
/* */

/* menuOrdering */
FORM#menuOrdering {
	padding-left: 1em;
	padding-right: 1em;
}
FORM#menuOrdering p {
	text-align: left;
	margin: 0 10px;
}
FORM#menuOrdering p span {
	float:right;
}
FORM#menuOrdering input {
	vertical-align: middle;
  margin:0 10px;
}
FORM#menuOrdering .menuAuthor {
  margin: 5px 0 0 40px;
}
FORM#menuOrdering .menuSubmit {
  margin: 20px 0;
}

UL.menuUl {
	list-style: none;
	padding: 0;
	margin: 0;
}

LI.menuLi {
	width: 100%;
	border: 1px solid #666;
	padding: 12px 0;
	margin-bottom: 5px;
}
/* */

FORM#catModify TABLE { width: auto; }

FIELDSET.elementEdit .thumb {
	display: block;
	float: right;
	text-align: center;
}

TABLE.doubleSelect {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

TABLE.doubleSelect TD {
	padding: 0 3px;
	width: 50%;
}

TABLE.doubleSelect SELECT.categoryList {
	width: 100%; max-width: 100%; overflow-x: auto;
}

FORM#categoryPermissions LI {
	display:inline;
	white-space: nowrap;
}

.statBar {
	height: 10px;
	background-color: #ff7700;
	border: 1px solid #666;
}

.over{
position: relative;
z-index: 0;
}

.over:hover{
background-color: transparent;
z-index: 50;
}

.over SPAN{ /*CSS for enlarged image*/
position: absolute;
background-color: #222;
padding: 5px;
left: -1000px;
border: 1px solid #ff3363;
visibility: hidden;
color: black;
text-decoration: none;
}

.over SPAN IMG{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.over:hover SPAN{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 60px; /*position where enlarged image should offset horizontally */
}

BODY {
	margin: 5px;
	padding: 0;
	font-size: 0.8em;
	font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	text-align: center; /* be nice to IE5 */
}

H1 {
color:#eee;
letter-spacing:1px;
text-align: left;
font-size: 150%;
font-weight: normal;
font-style:italic;
padding: 8px 0 0 10px;
margin: 0;
float:left;
}

#pwgHead {color:#aaa;}
#pwgHead A {color:#ccc;}
#pwgHead A:hover {color:#fff;border-bottom:1px solid #fff}

#headActions {float:right; height:46px; line-height:46px; margin-right:10px;}

A {
	text-decoration:none;
	border-bottom: 0;
}
A:hover {
	border-bottom: 1px solid #FF3363;
}
A.button, A.button:hover {
	border: 0;
}
IMG {
	border: none;
}

/** General defaults **/
INPUT, SELECT {
	margin: 0;
	font-size: 1em;	/* <= some browsers don't set it correctly */
}
UL, DL, OL { text-align: left;}
TABLE { /* horizontaly centered */
	margin-left: auto;
	margin-right: auto;
}
/* for debugging purpose */
PRE { text-align:left; }

/** forms **/

FORM { padding: 0em; }

FORM P {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

form p.field {
  text-align: left;
}

FORM FIELDSET P {
	margin-top: 1em;
	margin-bottom: 0;
}

.small {
	font-size: 80%;
}

TEXTAREA.description {
	height: 6em;
	width: 40em;
	overflow: auto;
}

SELECT.categoryList {
	height: 20em;
	width: auto;
}

DIV.comment BLOCKQUOTE {
	padding: 0.5em;
	overflow: auto;	/* no solution for IE6 */
	min-height: 2.75em;	/* fix a Gecko bug whith scrollbar and 1 line only */
}


/**
 * Filter forms are displayed label by label with the input (or select...)
 * below the label. Use an UL to make a group (radiobox for instance).
 * Use a SPAN to group objects in line
 */
FIELDSET {
	padding: 1em;
	margin: 1em;
	overflow: hidden; /* <- makes Opera happy */
}

FORM.filter FIELDSET UL {
	margin: 0;
}
FORM.filter FIELDSET UL,
FORM.filter FIELDSET LABEL {
	display: block;
	float: left;
	margin-right: 1em;
	padding: 0;
}

FORM.filter FIELDSET LI {
	list-style: none;
	margin-bottom: 0.5em;
}

FORM.filter FIELDSET LI LABEL {
	display: inline;
	float: none;
}

FORM.filter FIELDSET UL.tagSelection LABEL {
	display: inline;
	float: none;
	margin-right:0.5em;/*reduce from above*/
}

/* cannot use FIELDSET>LABEL because of IE<=6 */
FORM.filter FIELDSET LABEL INPUT,
FORM.filter FIELDSET LABEL SELECT,
FORM.filter FIELDSET LABEL SPAN,
FORM.filter FIELDSET LABEL TEXTAREA {
	display: block;
	margin: 0.5em 0;
}
FORM.filter FIELDSET * LABEL INPUT,
FORM.filter FIELDSET * LABEL SELECT,
FORM.filter FIELDSET * LABEL TEXTAREA,
FORM.filter FIELDSET LABEL SPAN INPUT,
FORM.filter FIELDSET LABEL SPAN SELECT,
FORM.filter FIELDSET LABEL SPAN TEXTAREA {
	display: inline;
	vertical-align: top;
	margin: 0 0.5em 0 0;
}

/* following declaration is important to avoid strange FF behaviour */
FORM.filter FIELDSET LABEL SPAN SELECT {
	margin: 0;
}

FORM.filter FIELDSET P
{
	clear: left;
	display: block;
}

/*FORM.filter INPUT[type="submit"] {
	margin-top: 1.8em;
}*/

FORM.properties UL, FORM#update UL {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

FORM.properties LI, FORM#update UL {
	margin-bottom: 0.5em;
	padding: 0;
	line-height: 1.8em;
	clear: left;
}

FORM.properties SPAN.property {
	font-weight: bold;
	float: left;
	width: 50%;
	text-align: right;
	margin: 0;
	padding: 0 0.5em 0 0;
}

#mainConf, #historyConf, #commentsConf {border:none}

#configContent label {
  font-weight: bold;
}

#mainConf li {
  margin-bottom: 1em;
}

#theHeader H1 {
	margin-bottom: 0.5em;
}

/* button tools */
UL.actions {
	text-indent: 0;
	list-style: none;
}
UL.actions LI {
	display: inline;
}
UL.actions A {
	border: none;
}

UL.tagSelection {
	width: 99%;
	margin: 1em 0 1em 0;
	padding: 0;
}

UL.tagSelection LI {
	display:inline-block;
        width:150px!important;
        overflow:hidden;
	white-space: nowrap;
}

/* jQuery tooltips */
.cluetip-default #cluetip-outer {
	position: relative;
	border: 1px solid #111111;
	color: #dddddd;
	background-color: #222222;
	text-align: left;
}
.cluetip-default h3#cluetip-title {
	margin: 0 0 5px;
	padding: 8px;
	color: #666666;
	background-color: #d3d3d3;
	font-size: 1.1em;
	font-weight: bold;
}
.cluetip-default #cluetip-inner {
	padding: 10px;
}

/* jQuery datepicker */
img.ui-datepicker-trigger {
  cursor : pointer;
  vertical-align: middle;
  margin:-3px 5px 2px 5px;
}

/* Add photos, direct mode */
#uploadBoxes P {
  margin:0;
  margin-bottom:2px;
  padding:0;
}

#batchLink {
  text-align:center;
}

.category_selection {
  min-height:65px;
  margin-top:5px;
}

.category_selection TABLE {
  margin:0;
}

#photosAddContent {
  text-align:left;
}

#photosAddContent FIELDSET {
  width:650px;
  margin:0 auto 20px auto;
}

#photosAddContent P {
  margin:0;
}

#photosAddContent TH {
  text-align:right;
  padding-right: 5px;
}

#uploadFormSettings input[type="text"] {
  text-align:right;
}

#uploadFormSettings TH {
  width:50%;
}

#pwgHead {
  background-color:#464646;
  height:46px;
}

html, body {height:100%; margin:0; padding:0;}
#the_page {min-height:100%; position:absolute; width:100%; padding:0;margin:0;}

#pwgMain {
  padding: 10px 5px 60px;
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:46px;
  background: url(images/logo.png) no-repeat 7px 8px;
  background-color:#464646;
  color:#aaa;
  line-height:46px;
}

#footer A {color:#ccc;}
#footer A:hover {color:#fff;border-bottom:1px solid #fff;}

#adminHome {
  text-align:center;
  margin-bottom:15px;
  line-height:30px;
  width:200px;
  margin-left:5px;
  -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}

#adminHome A {display:block; font-size:1.1em; font-weight:bold;}
#adminHome A {border:none;}

#piwigoInfos {float:left; margin-left:140px;}
#pageInfos {float:right; margin-right:10px;}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner {
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner {
		border-top-color: rgba(20,20,20,0.92);
	}
}

/* Set the width of the menubar for the galery */
#menubar {
  width: 18em;
  margin: 10px 0 50px 5px;
  display: inline;
  float: left;
  left: 0;
}

.content {
  padding:0 5px 0 0;
  margin: 0 5px 0 227px;
  z-index:99;
}
/* Set minimum width of the page before getting a scrollbar */
/* IE5 and IE6 don't get that */
BODY {
  min-width: 60em;  /* ~ 3* #menubar width */
}
#thePopuphelpPage {
  min-width: 0;
}

#thePopuphelpPage #pwgHead {display:none}
#thePopuphelpPage #footer  {display:none}

/* Set some sizes according to your maximum thumbnail width and height */
UL.thumbnails SPAN,
UL.thumbnails SPAN.wrap2 A,
UL.thumbnails LABEL {
  width: 140px;      /* max thumbnail width + 2px */
}
UL.thumbnails SPAN.wrap2 {
  height: 140px;    /* max thumbnail height + 2px */
}


.themeBox {display:inline-table; text-align:center; height:192px; background-color:#eee; margin:5px; -moz-border-radius:5px; overflow:hidden; }

.themeBox IMG {border:1px solid white; margin:0 15px;}
.themeName {font-size:1.1em; margin:5px 0;}
.themeActions {display: table-row; font-size:12px; height: 43px; }
.themeActions DIV {display: table-cell; vertical-align: middle; line-height:18px; }
.themeActions A {}

#themesContent .themeBox IMG {width:150px; height:120px;}
#themesContent H3 {font-size:16px; text-align:left; border-bottom:1px solid #444; letter-spacing:1px; margin:5px;}
.themeBoxes {min-height:0;text-align:left;}

h2 { letter-spacing:2px; font-weight:bold;}
h2:lang(en) { text-transform:capitalize; }

#pluginsMenuSeparator {width:80%; margin:5px auto;}

#helpContent P {text-align:left; margin-left:10px;}
#helpContent LI, #ftpPage LI {margin-top:10px;}
#helpContent P.nextStepLink {text-align:center; font-weight:bold; margin-bottom:20px;}

#availablePlugins FIELDSET  {border:none;}

/**
 * Informations box in administration
 */
.infos, .errors, .warnings {
  text-align: left;
  margin: 5px;
  padding: 10px 50px 10px 10px;
  font-weight:bold;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  padding:5px 70px 0pt 53px;
  min-height: 54px;
}

.infos {
  color: #0a0;
  background-color:#c2f5c2;
  background-image: url(icon/infos.png);
}

.errors {
  color: #f22;
  background-color: #ffd5dc;
  background-image: url(icon/errors.png);
}

.warnings {
  color: #ee8800;
  background-color:#ffdd99;
  background-image: url(icon/warnings.png);
}

.infos li, .errors li, .warnings li { list-style-type:square; }
.infos .submit {margin-left:30px;}

.checkActions {text-align:left;padding:0;margin:0;}
.comment A:hover {border:none;}

.pluginBoxes {
  text-align:left;
  position:relative;
}

.pluginBox {
  margin-bottom:10px;
  border-width:1px;
  border-style:solid;
  border-radius:5px;
  -moz-border-radius:5px;
 }
.pluginBox table {width:99%;}
.pluginBox td {text-align:left;}
.pluginBox td.pluginDesc img {vertical-align:middle;}
.pluginBoxNameCell {width:180px; vertical-align:top;}
.pluginBoxes .inactive, .pluginBoxes .uninstalled {opacity:0.8;filter:alpha(opacity=80);}

.pluginMiniBox {
  display:inline-table;
  text-align:center;
  width:250px;
  height:40px;
  margin:5px;
  border-width:1px;
  border-style:solid;
  border-radius:5px;
  -moz-border-radius:5px;
  overflow:hidden;
 }
.pluginMiniBoxNameCell {font-size:1.05em; margin:5px 0;position:relative;}
.pluginActions {display: table-row; font-size:0.95em; color:#777;}
.pluginActions DIV {display: table-cell; vertical-align: middle; line-height:18px; }
.showInfo {display:block;position:absolute;top:0;right:5px;width:15px;font-style:italic;font-family:"Georgia",serif;background-color:#464646;font-size:0.9em;border-radius:10px;-moz-border-radius:10px;}
.showInfo:hover {cursor:pointer}

.warning:before {content:url(icon/warning.png);vertical-align:top;}
.deactivate_all {text-align:right;font-size:0.95em;}
.showDetails {text-align:right; margin-bottom:-15px; margin-top:-10px; padding-right:1em;}

.languageBoxes {min-height:0;text-align:left;}
.languageBox {display:inline-table; text-align:center; width:200px; height:40px; margin:5px; -moz-border-radius:5px;border-radius:5px; overflow:hidden; }
.languageName {font-size:1.1em; margin:5px 0;}
.languageActions {display: table-row; font-size:12px; }
.languageActions DIV {display: table-cell; vertical-align: middle; line-height:18px; }

#ui-datepicker-div {-moz-border-radius:5px;}
#ui-datepicker-div .ui-icon-circle-triangle-w, #ui-datepicker-div .ui-icon-circle-triangle-e {color:transparent;}
#ui-datepicker-div A.ui-datepicker-prev, #ui-datepicker-div A.ui-datepicker-next {background-color:transparent;}
#ui-datepicker-div A.ui-datepicker-prev:hover, #ui-datepicker-div A.ui-datepicker-next:hover {-moz-border-radius:5px;}

.HelpActions {
  float:right;
  margin:0;
  padding:0;
  padding-top:2px;
  padding-left:3px;
}

.HelpActions a { border:0; margin:0; }
.HelpActions a:hover {border:0;}
.HelpActions li {list-style-image:none; list-style-position:outside; list-style-type:none; text-align:center; text-indent:0pt; }

legend {text-align:left;}

/* local-layout */
/* You can modify this file */

/* default-colors */
/* So that non-links are slightly greyed out */
.content .navigationBar {
	color: #999;
}

/* Tables & forms */

INPUT.text, INPUT.password, INPUT.button,
INPUT.submit, INPUT.reset, INPUT.file,
SELECT, TEXTAREA {
  color:#999;
  background-color: #666;
}

INPUT:focus, SELECT:focus, TEXTAREA:focus, INPUT.focus, FORM .focus {
  background-color: #444;	/* whitesmoke */
}

/* some theme set a border on INPUT  which is not pretty for radio/checkbox */
INPUT[type="radio"], INPUT[type="checkbox"] {
  border: none;	/* <= Opera needs this */
}

INPUT.radio, INPUT.checkbox {
  border: none;	/* <= IE6 needs this */
}


/**
 * Header message like upgrade
 */
.header_msgs {
  text-align:center;
  font-weight: bold;
  color:#333;
  background-color: transparent;
  margin: 1px;
  padding: 1px;
}

/**
 * Header notes box in public/administration
 */
.header_notes {
  border: 1px solid #666;
  background: transparent url(icon/note.png) no-repeat right top;
  font-weight: bold;
  margin: 14px 24px 14px 14px;
  padding: 5px 0 0 0;
  top: 90px;
  position: absolute;
  text-align: right;
}

LEGEND {
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0 10px;
}

/* Batch Manager, global mode */
#batchManagerGlobal #action p {text-align:left;}
#batchManagerGlobal .bulkAction {text-align:left;margin:15px 0;padding:0;}
#batchManagerGlobal #action_del_tags ul.tagSelection {margin:0 !important; width:620px;}
#batchManagerGlobal #checkActions {text-align:left; margin:0 0 20px 0;}
#batchManagerGlobal ul.thumbnails div.actions {display:none;position:absolute;top:0;right:5px;}
#batchManagerGlobal ul.thumbnails div.actions a {color:#222;}
#batchManagerGlobal ul.thumbnails span.wrap1:hover div.actions {display:block;}
#batchManagerGlobal #selectedMessage {padding:5px; -moz-border-radius:5px;-webkit-border-radius:5px;}
#batchManagerGlobal #selectSet a {border-bottom:1px dotted;}
#batchManagerGlobal #applyOnDetails {font-style:italic;}
#batchManagerGlobal .actionButtons {text-align:left;}
#batchManagerGlobal #filterList {padding-left:5px;}
#batchManagerGlobal #filterList li {margin-bottom:5px; list-style-type:none;}
#batchManagerGlobal a.removeFilter {background: url(icon/remove_filter.png) no-repeat top left;width:7px;height:7px;display:inline-block;}
#batchManagerGlobal a.removeFilter:hover {background: url(icon/remove_filter_hover.png); border:none;}
#batchManagerGlobal .removeFilter span {display:none}
#batchManagerGlobal #applyFilterBlock {margin-top:20px;}
#batchManagerGlobal .useFilterCheckbox {display:none;}


/* TokenInput (with Facebook style) */
ul.token-input-list {overflow: hidden; height: auto !important; height: 1%;width: 400px;border: 1px solid #8496ba;cursor: text;font-size: 12px;font-family: Verdana;min-height: 1px;z-index: 999;margin: 0;padding: 0;background-color: #fff;list-style-type: none;clear: left;}
ul.token-input-list li input {border: 0;width: 100px;padding: 3px 8px;background-color: white;margin: 2px 0;-webkit-appearance: caret;}
li.token-input-token {overflow: hidden; height: auto !important; height: 15px;margin: 3px;padding: 1px 3px;background-color: #eff2f7;color: #000;cursor: default;border: 1px solid #ccd5e4;font-size: 11px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;float: left;white-space: nowrap;}
li.token-input-token p {display: inline;padding: 0;margin: 0;}
li.token-input-token span {color: #a6b3cf;margin-left: 5px;font-weight: bold;cursor: pointer;}
li.token-input-selected-token {background-color: #5670a6;border: 1px solid #3b5998;color: #fff;}
li.token-input-input-token {float: left;margin: 0;padding: 0;list-style-type: none;width:10px;}
div.token-input-dropdown {position: absolute;width: 400px;background-color: #fff;overflow: hidden;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;cursor: default;font-size: 11px;font-family: Verdana;z-index: 1;}
div.token-input-dropdown p {margin: 0;padding: 5px;font-weight: bold;color: #777;}
div.token-input-dropdown ul {margin: 0;padding: 0;}
div.token-input-dropdown ul li {background-color: #fff;padding: 3px;margin: 0;list-style-type: none;}
div.token-input-dropdown ul li.token-input-dropdown-item {background-color: #fff;}
div.token-input-dropdown ul li.token-input-dropdown-item2 {background-color: #fff;}
div.token-input-dropdown ul li em {font-weight: bold;font-style: normal;}
div.token-input-dropdown ul li.token-input-selected-dropdown-item {background-color: #3b5998;color: #fff;}

#mainConf a.addFilter {font-weight:normal;margin-left:20px;}
#mainConf a.removeFilter {font-weight:normal;}
#mainConf span.property span.filter:first-child a.removeFilter {display:none;} /* can't delete the first field */
#mainConf span.filter {display:block;margin-left:20px;}
#mainConf .transparent {opacity:0.5;filter:alpha(opacity=50);}
#mainConf .order_by_is_custom {display:block;font-weight:normal;font-style:italic;margin-left:20px;}

/* Upload Form */
#uploadBoxes .file {margin-bottom:5px;text-align:left;}
#uploadBoxes {margin-top:20px;}
#addUploadBox {margin-bottom:2em;}

p#uploadWarningsSummary {text-align:left;margin-bottom:1em;font-size:90%;color:#999;}
p#uploadWarningsSummary .showInfo {position:static;display:inline;padding:1px 6px;margin-left:3px;}
p#uploadWarnings {display:none;text-align:left;margin-bottom:1em;font-size:90%;color:#999;}
p#uploadModeInfos {text-align:left;margin-top:1em;font-size:90%;color:#999;}

#photosAddContent p.showFieldset {text-align:left;margin: 0 auto 10px auto;width: 650px;}

#uploadProgress {width:650px; margin:10px auto;font-size:90%;}
#progressbar {border:1px solid #ccc; background-color:#eee;}
.ui-progressbar-value { background-image: url(images/pbar-ani.gif); height:10px;margin:-1px;border:1px solid #E78F08;}

/* Tag Manager */
.warningDeletion {display:none;font-style:italic;}

#debug { margin-left: 227px; font-size:12px; }
