UL.thumbnails {
  margin: 0; padding: 0; list-style: none;
  text-align: center;	/* to center the whole collection in .content */
  float: left;
}
UL.thumbnails LI { display: inline }
UL.thumbnails li.rank-of-image { 
  float: left;
  background-color: #333;
  color: #666;
  -moz-border-radius: 5px;
  display: block;
  width: 104px;
  height: 104px;
  cursor: move;
  margin: 10px;
}
UL.thumbnails li.rank-of-image img {
  margin: 0 20px;
  padding: 8px 2px;
  float: left;
}
.clipwrapper {
  position:relative;
  width: 96px;
  height: 96px;
}
.clip {
  position:absolute;
}
UL.thumbnails li.rank-of-image input {
}
UL.thumbnails SPAN.wrap1 {
  margin: 0 5px 5px 5px;
  display: table-cell; display: inline-table;
  display: inline-block; /* Why 3 display option ??? */
  vertical-align: top;		/* OK with Opera and IE6 not Geko */
  text-align: center;		/* to center the thumbnail and legend in Geko/Opera */
}
UL.thumbnails SPAN.wrap2 {
  margin: 0;			/* important reset the margins */
  display: table-cell;		/* block prevents vertical-align here */
  vertical-align: middle;	/* Ok with Opera and Geko not IE6 */
}
UL.thumbnails LABEL { display: block; border-bottom: none; }
UL.thumbnails IMG {
  margin-bottom: -4px;  /* why ??? something wrong with Geko and Opera ignored by IE6*/
}
UL.thumbnails LABEL { position: relative; }
UL.thumbnails INPUT {
  position: relative;	/* <= Opera can handle relative here */
  top: -20px;
}
:root UL.thumbnails INPUT { /* hide from Opera */
  position: absolute;	/* <= Opera hide 1 checkbox over 2 !!! */
  left: 2px; top: 2px;
}
UL.thumbnails .levelIndicatorB {
display:block; position:absolute; z-index:100;padding:0px 0 0 14px; color:black; font-weight:bold; font-size:120%;
}
UL.thumbnails .levelIndicatorF {
display:block; position:absolute; z-index:101;padding:1px 0 0 15px; color:white; font-weight:bold; font-size:120%;
}
