body{  
  background-color:white;
  color:black;
 }

#theHeader div.banner, #theHeader div.banner:hover{
  color:black;
}

#copyright{
  color:#666;
  background-color: #f2f2f2;
}

#copyright A:hover{
  color:#FF2F63;
  font-weight:normal;
}

#copyright A{
  color:black;
}

.infos{
  background:#096a09 url(../../default/icon/infos.png) no-repeat center right;
  color:black;
}
  
h2{
  color:black;
  background-color:white;
}

.albLegend {
  color:white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

#mbCategories .albSymbol{
  padding:5px;
  color:#FF2F63;
}

.albSymbol{
  color:black;
}

.albLegendRight .albSymbol{
  color:white;
}

H3, label{
  color:#8e8e93;
}

A{
  color:#FF2F63;
}

a:hover{
  text-decoration:none;
  font-weight:normal;
  color:#FF2F63;
}

#menubar{
  background-color:#FF2F63; 
}

#menubar UL{
  border-radius:5px;
}

#menubar dt A:hover{
  color:white;
  text-shadow:none;
  text-shadow:0px 0px 10px black;
}

#menubar dt A{
  color:black;
}

#comentAdd INPUT[type="text"],
INPUT[type="password"],
#comentAdd SELECT,
#comentAdd TEXTAREA,
#comments input[type="text"],
#comments TEXTAREA{
  background-color:#f2f2f2;
  color:black;
}

::placeholder,
#commentAdd ::placeholder {
  color:#717175;
}

#qsearchInput{
  background-color:#e8e8ea;
}

#qsearchInput:placeholder{
  color:#717175;
}

.search_results a, .search_results a:hover{
  color:#FF2F63;
}

.selectize-control.multi .selectize-input [data-value].active, .selectize-control.multi .selectize-input > div{
  background-color:#777;
}

.selectize-control .plugin-remove_button [data-value] .remove{
  border-left-color:#333333;
}

#menubar DD{
  background-color:#e8e8ea;
  color:black;
  border-radius:5px;
}

#menubar DD A:hover{
  color:#FF2F63;
}

#menubar DD A{
  color:black;
}

#menubar INPUT{
  background-image:none;
  font-family: 'Open Sans', sans-serif;
  background-color:#ff96af!important;
  border-radius:5px;
  cursor:pointer;
}

INPUT[type="button"],
INPUT[type="submit"],
INPUT[type="reset"],
INPUT[type="button"]:hover,
INPUT[type="submit"]:hover,
INPUT[type="reset"]:hover{
  border-radius:5px;
  color: white;
  text-shadow:0px 0px 10px black;
  background-color:#FF2F63;
}

.wide #imageToolBar{
  background-color:white;
}

#imageToolBar{
  background-color:white;
}

.switchBox{
  background-color:#e8e8ea;
  border-radius:5px;
}

.switchCheck {
  color:#FF2F63;
}

li, #mbCategories UL{
  list-style-type:none;
  padding-left:0;
}

.badge{
  background-color: #FF2F63;
  border-radius: 20px;
  color: white;
  color:#e8e8ea;
  text-shadow:0px 0px 10px black;
}

#menubar LI.selected>A{
  color:#FF2F63;
}

.wide .imageInfoTable, .wide #imageInfos{
  background-color:#f2f2f2;
  border-radius: 5px;
}

.imageInfoTable h3{
  color:black;
}

.imageInfoTable a, .imageInfoTable a:hover{
  color:#FF2F63;
}

.wide .imageInfoTable, .wide #imageInfos h3{
  color:black;
}

.wide #imageInfos a, .wide #imageInfos a:hover {
  color:#FF2F63;
  font-weight:normal;
}

.wide .imageInfo DT{
  color:#8e8e93;
}

#imageInfos{
  background-color:#f2f2f2;
  color:black;
}

#imageHeaderBar .imageNumber{
  color:black;
}

A .pwg-icon,A .pwg-icon:hover {
  color:#FF2F63;
}

.pwg-state-disabled .pwg-icon{
  color:#8e8e93;
}

.pwg-state-default .pwg-button{
  border-radius: 5px;
}

fieldset h3, fieldset label {
  color:black;
}

#quickconnect input,
.properties input{
  color:black;
}

fieldset legend{
  color:black;
}

dt, dd{
  color:black;
}

.titrePage{
  background-color:white;
  color:black;
}

#imageHeaderBar H2{
  color:black;
  text-shadow:none;
}

.titrePage H2 A:hover {
  color:#FF2F63;
}

.titrePage H2 A {
  color:black;
}

.titrePage H2 span.badge {
  background-color: #ff2f63;
  color: #fff;
}

.titrePage A, .titrePage A:hover{
  color:#FF2F63;
  font-weight:normal;
}

.titrePage .switchBox{
  color:#FF2F63;
  padding:10px;
}

.titrePage .switchBox A{
  color:black;
}

.titrePage .switchBox A:hover{
  color:#FF2F63;
}

.browsePath{
  color:black;
}

#thePicturePage .titrePage{
 background-color: #f2f2f2;
}

#thePicturePage .titrePage h2,  #thePicturePage .browsePath{
  color:black;
}

#thePicturePage .titrePage A{
  color:black;
}

#thePicturePage .titrePage A:hover{
  color:#FF2F63;
}

.overDesc{
  color:black;
  background-color: rgba(232, 232, 234,0.8);
}

#derivativeSwitchBox,
#sortOrderBox{
  border-radius:5px;
}
#derivativeSwitchBox A{
  color:black;
  padding:5px;
  display:inline-block;
  font-weight:normal;
}

.switchCheck{
  color:#FF2F63;
}

.derivativeSizeDetails{
  color:#8e8e93;
}

.switchBoxTitle{
  border-bottom: solid 2px #bfbfc2;
  color:black;
}

.switchBox{
  padding:20px;
}

#profile,
#profile fieldset h3,
#profile fieldset label  {
  color:black;
}

#comments input[type='text'],
#comments textarea{
  background-color:#e8e8ea;
  color:black;
}

#thumbnails>li,
.albThumbs>li,
.navThumb img {
  border-radius:5px;
}

.properties fieldset span label{
  color:black;
}

.imageInfo DT{
  color:#8e8e93;
}

.commentsList{
  color:black;  
}

.commentsList a{
  color:#FF2F63;
}

.commentElement{
  background-color:#e7e7e7;
  border-radius:5px;
}

hr{
  border-bottom: 2px solid #bfbfc2;
}
  
#menuTagCloud a{
  color:#FF2F63;
}

#theSearchPage fieldset legend{
  color:black;
}

.filter fieldset label{
  color:black;
}

.selectize-input > input,
INPUT[type="text"],
INPUT[type="password"],
SELECT, TEXTAREA{
  background-color:#e8e8ea!important;
  border-radius:5px !important;
  color:black;
}

.selectize-input,
.selectize-input.focus,
.selectize-dropdown,
.selectize-input input{
  background-color:#e8e8ea;
  color:black;
}

.selectize-input{
  background-color: #e8e8ea !important;
  border-radius: 5px !important;
  color: black!important;
  border:none!important;
  box-shadow:none!important;
}

.date_today{
  font-weight:normal;
  color:black;
}

.date_today:hover{
  font-weight:normal;
  color:#FF2F63;
}
  
#start_day,
#start_month,
#end_day,
#end_month {
  background-color: #e8e8ea;
  border-radius: 5px;
  color:black;
}

.filter select{
  background-color: #e8e8ea;
  border-radius: 5px;
  color:black;
}

.contact input[type="text"],
.contact textarea,
.contact select{
  border-radius:5px;
  background-color:#e8e8ea;
  color:black;
}
  
.wide .thumbHover:hover{
  text-decoration:none;
}

.calItem{
  border:1px solid #FF2F63;
}

.calItem a, .calItem:hover{
  color:#FF2F63;
}

.content .navigationBar,
SPAN.calItem,
.content .navigationBar:hover,
SPAN.calItem:hover{
  color:#8e8e93;
  border:none;
}

TD.calDayCellEmpty,
TD.calDayCellEmpty:hover{
  border:1px solid #8e8e93;
}

DIV.thumbHover, DIV.thumbHover:hover{
  color:black;
  border-radius:5px;
}

#fullTagCloud span a{
  margin-left:5px;
  color:black; 
}

#fullTagCloud span a:hover{
  text-decoration:none;
  color:#FF2F63;
}

LEGEND.tagLetterLegend, FIELDSET.tagLetter{
  border:none;
  color:black;
}

.tagLine td a{
  color:black;
}

.tagLine td a:hover{
  color:#FF2F63;
}

.tagLevel5{
  color:#FF2F63!important;
}

td .nbEntries{
  background-color:#fff;
  border:solid 1px #eee;
  color:#bbb ;
}

.totalImages{
  border-top:solid 2px #bfbfc2;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  border-left:solid 1px #333333;
}

.message{
  background-color:#e8e8ea;
}

.notification a{
  text-decoration:none;
  color:black;
  font-weight:normal;
}

.notification a:hover{
  color:#FF2F63;
}

form.properties a{
  border:solid 1px ;
  border-radius:5px;
  padding:2px 5px 5px 2px;
  margin: 0 5px;
}

#t4u-update-tags .t4u-disabled{
  color:white!important;
}

ul.token-input-list li input{
  background-color:transparent!important;
}

@media screen and (max-width: 640px){
  #menubar{
    border-radius:5px;
  }
  #copyright a{
    color:black;
  }
  #derivativeSwitchLink .pwg-icon pwg-icon-sizes{
    color:black;
  }
  #albumActionsSwitcher + .categoryActions .pwg-button-text, #imageToolBar .actionButtons .pwg-button-text {
    color:black !important;
  }
  #albumActionsSwitcher + .categoryActions{
    border-radius:5px;
    box-shadow:0px 0px transparent;
  }
  .categoryActions a .pwg-icon{
    color:#FF2F63;
  }
  #theTagsPage A .pwg-icon, #theTagsPage A:hover .pwg-icon{
    color:#FF2F63;
  }
}

.thumbnailCategory {
  background-color:#f2f2f2;
}

/*Search*/

.filetypes-option label .checked-icon,
.added_by-option label .checked-icon,
.date_posted-option label .checked-icon,
.date_created-option label .checked-icon,
.ratios-option label .checked-icon,
.ratings-option label .checked-icon,
.filter-manager-popin .mcs-popin-title,
.tags-found-popin .mcs-popin-title,
.albums-found-popin .mcs-popin-title,
.mcs-container .filter-filled .filter-icon,
.filetypes-option label .checked-icon,
.added_by-option label .checked-icon,
.date_posted-option label .checked-icon,
.mcs-container .filter-filled,
.breadcrumb-item .icon-cancel-circled:hover,
.clear-all.clickable,
.mcs-no-result .text span:first-child,
.filter-form .filter-form-title,
.no_filtered_photos,
.date_posted-option .accordion-toggle:hover,
.date_created-option .accordion-toggle:hover{
  color: #FF2F63!important;
}

.filetypes-option input:checked + label,
.ratios-option input:checked + label,
.ratings-option input:checked + label,
.preset_posted_date .date_posted-option input:checked + label,
.custom_posted_date .selected input:checked,
.preset_created_date .date_created-option input:checked + label,
.custom_created_date .selected input:checked,
.tags-found-container .tag-item,
.albums-found-container .album-item,
.breadcrumb-item,
.filter-tag-form .selectize-control.multi .selectize-input > div,
.filter-tag-form .selectize-control.multi .selectize-input [data-value].active,
.filter-author-form .selectize-control.multi .selectize-input > div,
.filter-author-form .selectize-control.multi .selectize-input [data-value].active,
.filter-added_by-form .selectize-control.multi .selectize-input > div,
.filter-added_by-form .selectize-control.multi .selectize-input [data-value].active,
.mcs-container .filter-filled,
.date_posted-option input:checked + label,
.filetypes-option  input:checked + label,
.added_by-option  input:checked + label {
  background: #FFD5DF!important;
}

.filter-manager,
.filter-validate,
.filter-manager:hover,
.filter-validate:hover,
.filetypes-option label .ext-badge,
.added_by-option label .added_by-badge,
.date_posted-option label .date_posted-badge,
.date_posted-badge,
.date_created-badge,
.ratios-option label .ratio-badge,
.ratings-option label .ratings-badge{
  background: #FF2F63!important;
}

.mcs-container .filter-filled {
  border: 1px solid #FF2F63!important;
}

.filter-manager,
.filter-validate{
  background-color:#FF2F63;
}

.mcs-container div .slider_input p,
.slider-info{
  color:#000;
}
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-slider-range.ui-widget-header.ui-corner-all{
  border: 1px solid #FF2F63;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default{
  background-color:#FF2F63;
}

.ui-slider .ui-slider-range{
  background: #FF2F63;
}

#downloadSwitchLink,
#derivativeSwitchLink,
#sortOrderLink,
.uc-icon-star-filled,
.uc-icon-star{
  color:#FF2F63!important;
}
