/* $Id: theme.css 1677 2006-12-21 21:38:20Z rub $ */

/* text color */
BODY, H1, H3, DT,
INPUT.rateButtonSelected /* <= why IE doesn't inherit this ? */ {
  color:#e0e0e0;
}
#menubar { 
  margin : 0px;
  background-color: transparent;
  border: 0px;
}
H2, .throw {
  color: #eee;
}
#menubar DT, #menubar DT A {
  color: #eee; 
  font-weight: lighter;
}
#menubar DT A:hover {
  color: #69c; 
  font-weight: lighter;
}
#menubar .selected  A {
  color: #eee; 
}
#menubar .selected  A:hover {
  color: #f92; 
}
#menubar DT:before {
 content: "__\\_ "; 
 color: #69c; 
}
#menubar DT:after {
 content: " _/__"; 
 color: #f92;
}
#menubar .button {
  margin: 0 2px 0px 8px;
  width: auto;
  padding: 0;
  text-indent: 0;
  list-style: none;
  text-align: center;
  float: left;
}
#theAdminPage #menubar DT:before,
#theAdminPage #menubar DT:after {
 content: ''; 
}
#content .navigationBar {
  color: #aaaaaa;
}
#content .pageNumberSelected {
  color: #f92;
}
#content .infos {
  background-color: #69c;
  color: #036;
}
#content .errors {
  background-color: #fc5;
  border-color: #f92;
  color: #900;
}
/* backgrounds */
BODY {
  background: #111;
  margin: 0px;
  padding: 0px;
}
H3, #imageHeaderBar, #imageToolBar A:hover, .row1  {
  background-color: #222;
}

#theAdminPage #the_page {
  background-color: #222;
}
#imageToolBar, .header_notes {
  background-color: #333;
}
A {
  border-color: #69c;
}
A:hover {
  border-color: #f92;
}
#content, .content {
  background-color: #181818;
  border: 1px solid #eee;
  padding: 5px;
}
H2, #menubar DT, .throw, TD H3, #theAdminPage H3 {
  background-image: url(images/tableh1_bg.png);
}
#content H2 {
  background: none;
  border: 0px;
  letter-spacing: -0.05em; 
  text-indent: 1em;
  text-transform:	uppercase;
  font-weight: lighter;
  margin-bottom: 20px;
}
#content H3 {
  text-indent: 3em
}
.browsePath A {
  color: #eee;
}
#content H2:before, .browsePath:before, .imageNumber:before,
#imageHeaderBar H2:before {
 content: "____\\_ "; 
 color: #69c; 
 font-family: Times, Zapf-Chancery, Cottonwood, Helvetica;
 letter-spacing: 0em; 
}
#content H2:after, .browsePath:after, .imageNumber:after,
#imageHeaderBar H2:after {
 content: " _/____"; 
 color: #f92;
 font-family: Times, Zapf-Chancery, Cottonwood, Helvetica;
 letter-spacing: 0em; 
}
#imageHeaderBar H2 {
  background-image: none;
  background-color: transparent;
  border: none;
}
#thePicturePage #the_page {
  background-color: #111;
}
#thePicturePage #imageHeaderBar {
  background-image: url(images/tableh2_bg.png); 
  background-repeat: repeat-x;
}
#thePicturePage #imageToolBar {
  background-color: #111;
  border-bottom: 2px solid #69c;
}
#thePicturePage #theImage {
  background-color: #111;
  margin: 0px;
  padding: 3px 0px 15px 0px;
}

#thePicturePage #comments H2 {
  background-image: none;
  background-color: #222;
  border-top: 2px solid #69c;
  border-bottom: 2px solid #69c;
  color: #69c; 
  font-weight: lighter;
}

/* borders */
#comments DIV.comment BLOCKQUOTE {
  border: 1px solid #000;
}
#imageHeaderBar {
  border-top: 1px solid #000;
}
H2, #imageToolBar {
  border-bottom: 1px solid #000;
}

#theImage IMG {
  border-color: #fff;
}

#content UL.thumbnail IMG {
  border: 1px solid #a0a0a0;
}
.illustration A {
  border: 0px;
}
FIELDSET, INPUT, SELECT, TEXTAREA,
#content DIV.comment  A.illustration IMG, #infos,
#content DIV.thumbnailCategory {
  border: 1px solid gray;
}
#content DIV.thumbnailCategory {
  border: 1px solid #69c;
  margin: 8px 4px;
}
#comments DIV.comment BLOCKQUOTE {
  border-left: 2px solid #696969;
}

#content UL.thumbnails SPAN.wrap2 {
  border: 1px solid #aaaaaa;	/* thumbnails border color and style */
  -moz-border-radius: 4px;	/* round corners with Geko */
  border-radius: 4px 4px;	/* round corners with CSS3 compliant browsers */
}
#content UL.thumbnails SPAN.wrap2:hover {
  border-color: #69c;		/* thumbnails border color when mouse cursor is over it */
  background-color: #080808;
}
#menubar .buttonmenu {
  margin: 0 2px;
  width: auto;
  padding: 0;
  text-indent: 0;
  list-style: none;
  text-align: center;
  float: left;
}
/* links */
A, INPUT.rateButton, legend {
  color: #69c;
}

A:hover {
  color: #f92;
}

#imageToolBar A, #imageToolBar A:hover {
  border-bottom: none;
}
A.navThumb, A.navThumb:hover {
  border-bottom: none;
}
/* others */
.pleaseNote {
  background: #9c9c9c;
  color: #ffff99;
  padding: 1ex;
  font-weight: bold;
}
#the_page {
  border: 1px dotted #f92;
  padding-top: 5px;
  padding-bottom:30px;
  text-align:center;
  display:block;
  margin: 2px;
}
#copyright {
  color: #69c;
}
/*calendar elements*/
SPAN.calItemEmpty { color: silver; }

SPAN.calItem, SPAN.calItemEmpty
{
  border: 1px solid gray;
}
label {
	cursor:pointer
}
input#qsearchInput { 
  color: #58c; 
  background-color: #222;  
  border: 1px solid #333;
  padding: 1px 3px;
}
.zero { display: none }
.one { background: transparent; }
.2nmore { background: transparent; }
.nb-hits { color: #69c; }
.nb-comments { color: #f92; }

FORM#quickconnect,
FORM#quickconnect FIELDSET,
FORM#quickconnect P,
FORM#quickconnect UL.actions,
FORM#quickconnect FIELDSET>UL.actions,
FORM#quickconnect UL.actions,
FORM#quickconnect P,
FORM#quickconnect LABEL {
  color: #69c;   
}
FORM#quickconnect P INPUT,
FORM#quickconnect INPUT[type=text],
FORM#quickconnect INPUT[type=password] {
  width: 85%;
  color: #58c;   
  background-color: #222;  
  border: 1px solid #333;
  padding: 1px 3px;
}

/* nice looking month calendar*/
TD.calDayCellEmpty, TD.calDayCellFull { border: 1px solid gray;}

TD.calDayCellEmpty { color: silver; }

.calBackDate { color: #000; }
.calForeDate { color: #fff; }
.virtual_cat { background: #222 !important; }

.PWG {
  font-family: verdana, arial, helvetica, sans-serif !important;
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 0px;
}
a.PWG { border: 0px; }
a.PWG .P { color : #f92; }
a.PWG .W { color : #aaa; }
a.PWG .G { color : #69c; }
a.PWG:hover .P { color : #69c; }
a.PWG:hover .G { color : #f92; }
