/* fix IE with another layout for thumbnails */

.thumbnails .wrap2 {
  display: block;
  position: relative;
  text-align: left;
}
.thumbnails .wrap2 A,
.thumbnails .wrap2 SPAN {
  overflow: visible;
  position: absolute;
  top: 50%;
  text-align: center;
}

.thumbnails .wrap2 IMG {
  position: relative;
  top: -50%;   
  margin-top: 2%;
}

.pwg-icon {
	display: block;
}

.imageInfoTable {display:block; margin: 0 200px;}
.imageInfo {display:block; line-height:16px;}
.imageInfo dt  {display:block; text-align:left; font-weight:bold; padding-right:0.5em;}
.imageInfo dd {display:block; text-align:left; font-weight:normal;}
.relSwitchBox {position:static;}
#imageInfos dd { margin: 0 0 5px 20px;}