.pwg-icon {
	display: inline-block; /*IE6 does not get this correctly*/
	text-indent: -9999px; overflow: hidden; background-repeat: no-repeat;
	width: 26px; height: 26px; background-image: url(s26/outline_808080.png);
	vertical-align: bottom;
}
.pwg-button-text { display:none; }

.pwg-state-disabled .pwg-icon {
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.pwg-button {
	display: inline-block;
	vertical-align: top;
  cursor:pointer;
}

.pwg-icon-home {background-position: -26px 0}
.pwg-icon-camera {background-position: -52px 0}
.pwg-icon-save {background-position: -78px 0}
.pwg-icon-cloud {background-position: -104px 0}
.pwg-icon-letters {background-position: -130px 0}
.pwg-icon-calendar {background-position: -156px 0}
.pwg-icon-camera-calendar {background-position: -182px 0}

.pwg-icon-arrow-n {background-position: 0 -26px}
.pwg-icon-arrow-e {background-position: -26px -26px}
/*.pwg-icon-arrow-s {background-position: -52px -26px}*/
.pwg-icon-arrow-w {background-position: -78px -26px}
/*.pwg-icon-arrowstop-n {background-position: -104px -26px}*/
.pwg-icon-arrowstop-e {background-position: -130px -26px}
/*.pwg-icon-arrowstop-s {background-position: -156px -26px}*/
.pwg-icon-arrowstop-w {background-position: -182px -26px}

.pwg-icon-close {background-position: 0 -52px}
.pwg-icon-category-edit {background-position: -26px -52px}
.pwg-icon-sort {background-position: -52px -52px}
.pwg-icon-sizes {background-position: -78px -52px}
.pwg-icon-category-view-normal {background-position: -156px -52px}
.pwg-icon-category-view-flat {background-position: -182px -52px}

.pwg-icon-caddie {background-position: 0 -78px}
.pwg-icon-caddie-add {background-position: -26px -78px}
.pwg-icon-caddie-del {background-position: -52px -78px}
.pwg-icon-favorite {background-position: -78px -78px}
.pwg-icon-favorite-add {background-position: -104px -78px}
.pwg-icon-favorite-del {background-position: -130px -78px}
.pwg-icon-filter {background-position: -156px -78px}
.pwg-icon-filter-del {background-position: -182px -78px}

.pwg-icon-camera-info {background-position: 0 -104px}
.pwg-icon-representative {background-position: -26px -104px}
.pwg-icon-edit {background-position: -52px -104px}
.pwg-icon-register {background-position: -78px -104px}
.pwg-icon-lost-password {background-position: -104px -104px}

.pwg-icon-slideshow {background-position: 0 -130px}
.pwg-icon-play {background-position: -26px -130px}
.pwg-icon-pause {background-position: -52px -130px}
.pwg-icon-stop {background-position: -78px -130px}
.pwg-icon-clock-plus {background-position: -104px -130px}
.pwg-icon-clock-minus {background-position: -130px -130px}
.pwg-icon-repeat-play {background-position: -156px -130px}
.pwg-icon-repeat-stop {background-position: -182px -130px}

.pwg-icon-map {background-position: 0 -156px}
.pwg-icon-globe {background-position: -26px -156px}

