#menubar, .content .navigationBar, UL.categoryActions, .content .calendarViews, .calendarBar,
#imageToolBar, .navThumb, #addComment {
	display: none;
}

BODY {
	margin: 0;
	color: #000;
	background: #fff;
}

#theCategoryPage .content {
	margin: 0 !important; 
}
