#menubar, .content .navigationBar, UL.categoryActions, .content DIV.calendarViews, .calendarBar,
#imageToolBar, .navThumb, #addComment {
	display: none;
}

BODY {
	margin: 0;
	color: #000;
	background: #fff;
}

.content {
	margin: 0;
}
