@import "iconset.css";
/**
 * Menubar
 */
#menubar {
	float: left;
	margin: 0 0 10px 1em;
	padding: 0;
	display: inline;
	width: 18em;
}

#menubar DL, #menubar DT, #menubar DD {
	margin: 0; padding: 0; display: block;
}

.menubarFilter {
	float: right;
	margin: -4px 0 0;
}

/* H2 properties copied here */
#menubar DT {
	font-weight: bold;
	padding: 5px;
	font-size: 120%;
	text-align: center;
}

#menubar UL,
#menubar FORM,
#menubar P {
	font-size: 92%;
	margin: 10px 0 10px 5px;
}
#menubar UL {
	list-style-type: square;
	list-style-position: inside;
	padding: 0 0 0 2px;
}
#menubar UL UL {
	font-size: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

/*IE6 needs override because of > selector*/
#menubar LI.selected>A {
	font-weight: bold;
}

#menubar .menuInfoCatByChild {
	font-size: 80%;
	font-style: italic;
}

#mbCategories IMG {
	vertical-align: bottom; /*otherwise line height changes*/
}

#menubar INPUT {
	text-indent: 2px;
}

/* quickconnect form */

#quickconnect FIELDSET {
	margin: 0 5px 0 0;
	padding: 0; /*IE6 requires padding 0*/
}

#quickconnect DIV {
	margin: 8px 5px;
	padding: 0;
}

#menuTagCloud {
	text-align: center;
	margin: 5px 0;
}

#menuTagCloud SPAN {
	white-space: nowrap;
	margin-right: 5px;
}

/**
 * Content
 */
.contentWithMenu {
	margin-left: 20em;  /* = #menubar width + 2em */
}

.content .navigationBar, .content .additional_info, .content .calendarBar {
	margin: 8px 4px;
	text-align: center;
}

.content .pageNumberSelected {
	font-style: italic;
	font-weight: bold;
}

.content .additional_info {
	font-size: 110%;
}

.content .titrePage {
	padding: 0 0 3px;
}

.content .notification {
  padding:0 25px;
}

#menubar .badge {
  margin-left:5px;
}

.badge::before {
  content: '[';
}

.badge::after {
  content: ']';
}

.badge.badgeCategories::before {
  content:"(";
}
.badge.badgeCategories::after {
  content:")";
}

/* A nicer (more modern) way to present badge, with a background color and no brackets */

/*
.badge::before, .badge::after {
  content:none;
}

.badge {
  display: inline-block;
  min-width: 5px;
  padding: 3px 7px;
  color: #eee;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #666;
  border-radius: 10px;
}
*/

/* category and tag results paragraphs on a quick search */
.search_results {
  font-size: 16px;
  margin: 10px 16px;
}

/* actions */
.categoryActions {
	margin: 0 2px;
	width: auto;
	padding: 0;
	text-indent: 0;
	list-style: none;
	text-align: center;
	float: right;
}

.categoryActions LI {
	display: inline;
}

/* begin chronology/calendar elements*/
.calendarViews {
	float: right;
	margin: 5px 5px 0 0;
}

.calItem {
	font-weight: bold;
	margin: 0 1px;
	padding: 0 1px;
	border: 1px solid gray;
}

.calendarCalBar {
	margin: 10px;
}

.calCalHead {
	font-weight: bold;
	font-size: 110%;
	margin: 0 2px;
}

.calCal { margin: 0 2px; }

/* nice looking month calendar*/
TABLE.calMonth {
	border: 0;
	border-collapse: collapse;
	margin-bottom: 10px;	/*<-IE ignores this */
}

TD.calDayCellFull, TD.calDayCellEmpty {
	vertical-align: top;
	font-weight: bold;
	font-size: 18px;
	border: 1px solid gray;
}

.calBackDate {
	padding-left: 4px;
	padding-top: 0;
	z-index: 2;
	position: absolute;
	vertical-align: top;
	color: #000;
}

.calForeDate {
	padding-left: 5px;
	padding-top: 1px;
	z-index: 3;
	position: absolute;
	vertical-align: top;
	color: #fff;
}

/* Category thumbnails on main page, CSS code inspired from MOD subcatify */
.thumbnailCategories {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	width: 100%;
}

.thumbnailCategories LI {
	margin: 0;
	padding: 0;
	float: left;
	width: 49.7%;    /* 49.7% for 2 per line, 33.2% for 3 per line*/
}

.thumbnailCategory {
	display:block;
	padding: 2px 0 0 2px;
	margin: 5px;
}

.thumbnailCategory .description {
	font-size: 90%;
	overflow: auto;
	/*width: inherit;*/
}

.thumbnailCategory .description H3 {
	text-align: left;
	margin: 0;
	padding: 0.1em;
	font-size: 120%;
}

.thumbnailCategory .description P {
	margin: 0;
}

.illustration {/*also used by comment lists*/
	text-align: left;
	margin: 2px 0 0 2px;
	float: left;
}

/* Loader gif new in 2.5 */
.loader {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
}

/* User comments */
#comments {
	padding-left: 5px;
	padding-right: 5px;
}

.commentsList {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	width: 100%;
}

.commentElement {
	border-radius: 5px;
	margin: 5px;
	padding: 2px 0 0 2px;
	float: left;
	width:99%;
}

.commentElement .description {
	overflow: auto;
	/*width: inherit;*/
}

/* Thumbnails */

/* Thumbnail "elastic" layout */
.thumbnails {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;	/* to center the whole collection in .content */
}
.thumbnails LI { display: inline }

.thumbnails .wrap1 {
	margin: 0 7px 5px 7px;
	display: table-cell; display: inline-table;
	display: inline-block;/* Why 3 display option ??? */
	vertical-align: top;	/* OK with Opera and IE6 not Geko */
	text-align: center;		/* to center the thumbnail and legend in Geko/Opera */
}
.thumbnails .wrap2 {
	margin: 0;			/* important reset the margins */
	display: table-cell;/* block prevents vertical-align here */
	vertical-align: middle;/* Ok with Opera and Geko not IE6 */
	border-radius: 4px;	/* round corners with CSS3 compliant browsers */
}

.thumbnails .wrap2 A {
	display: block;
	border-bottom: 0;
}
.thumbnails IMG {
	vertical-align: middle;
  max-width: 100%;
}

.thumbnails SPAN.thumbLegend {
	overflow: hidden;/* oversized legend is clipped */
	display: block;  /* display: none; if you don't want legend */
	height: 4em;    /* legend height (don't set auto to be Gecko friendly)*/
}

/**
 * Picture
 */
#imageHeaderBar {
	padding-top: 2px;
	padding-bottom: 2px;
	overflow: hidden;
	width: 100%;
}

#imageHeaderBar .browsePath {
	float: left;
	margin-left: 10px;
}

#imageToolBar .imageNumber {
	float: right;
	margin:-20px 9px 0 0;
}

#imageHeaderBar H2 {
	display: inline;
	text-align: center;
	padding: 0;
}

#imageToolBar {
	text-align: center;
	margin-bottom: 2px;
	padding: 0;
	height: 28px;
}

#imageToolBar .actionButtons { float: left; }
#imageToolBar .navigationButtons   { float: right; }
#imageToolBar .pwg-button {width:42px;}

.switchBox {
	padding: 0.5em 5px;
	border-radius: 4px;
	z-index: 100;
	text-align:left;
	display: none;
	position: absolute;
	left: 0; top: 0; /*left, right set through js*/
}

.switchBoxTitle {
  border-bottom:1px solid #ccc;
  padding-bottom:5px;
  margin-bottom:5px;
}

#downloadSwitchBox ul {
  margin:0;
  padding:0;
  list-style-type:none;
}

#theImage {
	text-align: center;
}

#imageInfos {
	position: relative; /*for IE7 positioning of "who can see this photo"*/
	min-height: 120px;
}

#linkPrev {
	float: left;
	margin: 5px 10px 0 5px;
}

#linkNext {
	float: right;
	margin: 5px 5px 0 10px;
  text-align: right;
}

#linkPrev img.svgImg,
#linkNext img.svgImg {
  width: 50px;
  height: 50px;
}

DIV.thumbHover{ /*only first & last holders are divs*/
  width: 108px;
	height: 118px;
	border: 1px solid gray;
	padding: 0 5px;
  line-height: 1.2;
}

.imageInfoTable UL { /*this is the album list*/
	margin: 0;
	padding: 0 0 0 1em;
	list-style-type: square;
}

.rateButton, .rateButtonSelected, .rateButtonStarFull, .rateButtonStarEmpty  {
	padding:0;
	border:0;
	color:inherit;
	background-color:transparent !important;	/* Konqueror doesn't accept transparent here */
}

.rateButton, .rateButtonStarFull, .rateButtonStarEmpty {
	cursor: pointer;
}

.rateButtonSelected {
	font-weight:bold;
	font-size:120%;
}

.rateButtonStarFull {
	background: url('icon/rating-stars.gif') no-repeat -16px center; width:16px;
}

.rateButtonStarEmpty {
	background: url('icon/rating-stars.gif') no-repeat 0 center; width:16px;
}

/**
 * Default Layout
 */
BODY {
	margin: 5px;
	padding: 0;
	font-size: 0.8em;
	font-family: Arial,Helvetica,sans-serif;
	min-width: 60em;  /* ~ 3* #menubar width; width of the page before getting a scrollbar; IE6 doesn't get that*/
}

IMG {
	border: 0; /*IE<=9 adds border for linked images*/
}

#thePopuphelpPage {
	min-width: 0; /*reset the min width*/
}


H1 {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	padding: 0;
	margin: 0.5em 0 1em 0;
}

H2 {
	margin: 0;
	padding: 5px 0.5em;
	text-align: left;
	font-size: 120%;
}

A {
	text-decoration:none;
}
A:hover {
	border-bottom: 1px solid #858460;
}
A.pwg-state-default:hover {
	border-bottom: 0; /*reset above for icons*/
}

#copyright {
	clear: both;
	font-size: 83%;
	text-align: center;
	margin: 0 0 10px 0;
}

INPUT, SELECT {
	margin: 0;
	font-size: 1em;	/* <= some browsers don't set it correctly */
}

TABLE {	/* horizontaly centered */
	margin-left: auto;
	margin-right: auto;
}


FORM { padding: 0; margin: 0; }

FORM P {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}


/**
 * Filter forms are displayed label by label with the input (or select...)
 * below the label. Use an UL to make a group (radiobox for instance).
 * Use a SPAN to group objects in line
 */
FIELDSET {
	padding: 1em;
	margin: 1em;
}

.filter UL {
	display: block;
	float: left;
	margin: 0 1em 1em 0;
	padding: 0;
}

.filter LI {
	list-style: none;
	margin-bottom: 0.5em;
}

.filter FIELDSET {
  padding-bottom:0;
}

.filter P {
  text-align:left;
  margin:0 0 15px 0;
  line-height:20px;
}

.filter input[name="search_allwords"], .filter #authors, .filter #tags {
  width:500px;
}

.filter P input[type="checkbox"], .filter P input[type="radio"] {
  vertical-align:middle;
  margin-top:-4px;
}

.filter input[type="submit"] {
  margin-left:1em;
}

.filter P LABEL {
  margin-right:1em;
}



.properties UL {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.properties LI {
	margin-bottom: 0.5em;
	padding: 0;
	line-height: 1.8em;
	clear: left;
}

.properties SPAN.property {
	font-weight: bold;
	float: left;
	width: 50%;
	text-align: right;
	margin: 0;
	padding: 0 0.5em 0 0;
}

#fullTagCloud {
	font-size: 120%;
	text-align: justify;
	padding: 0;
	margin: 1em;
}

#fullTagCloud SPAN {
	white-space: nowrap;
	margin: 0 2px;
}


.tagLevel5 { font-size: 150% !important; }
.tagLevel4 { font-size: 140% !important; }
.tagLevel3 { font-size: 120% !important; }
.tagLevel2 { font-size: 100% !important; }
.tagLevel1 { font-size: 90%  !important; }


/* Popup help page */
#thePopuphelpPage #copyright {
	display: none;
}

#thePopuphelpPage P {
	padding: 0.5em;
}

#thePopuphelpPage DL  {
	margin: 0 25px 25px; 
}

TR.tagLine {
	border-bottom: 1px solid #ddd;
}
TD.nbEntries {
	text-align: right;
	font-style: italic;
	font-size: 90%;
}

FIELDSET.tagLetter {
	border: 1px solid #d3d3d3;
	width: 200px;
	margin: 0.5em;
	padding: 10px;
}

LEGEND.tagLetterLegend {
	border: 1px solid #d3d3d3;
	font-size:120%;
	font-weight: bold;
	padding: 0 5px;
	font-style: normal;
}

TABLE.tagLetterContent {
	width:100%;
	font-size:80%;
	border-collapse : collapse;
}

#theHeader {text-align: center;}

/* jQuery datepicker */
IMG.ui-datepicker-trigger {
	cursor : pointer;
}


/**
 * Default colors
 */

 /* So that non-links are slightly greyed out */
.content .navigationBar, SPAN.calItem, TD.calDayCellEmpty {
	color: #b0b0b0;
}

/* Tables & forms */
/* IE <= 6 is so bad with this that you can't merge with the following rule */
INPUT[type="text"], INPUT[type="password"], INPUT[type="button"],
INPUT[type="submit"], INPUT[type="reset"], INPUT[type="file"] {
	color: #000;
	background-color: #d3d3d3;	/* lightgrey */
}

SELECT, TEXTAREA {
	color: #000;
	background-color: #d3d3d3;	/* lightgrey */
}

INPUT:focus, SELECT:focus, TEXTAREA:focus {
	background-color: #f5f5f5;	/* whitesmoke */
}

/* some theme set a border on INPUT  which is not pretty for radio/checkbox */
INPUT[type="radio"], INPUT[type="checkbox"] {
	border: none;	/* <= Opera needs this */
}


.content.messages {
  padding:0;
  background:none;
  border:none;
}

.errors { /* Errors display */
	color: red;
	font-weight: bold;
	margin: 5px;
	border: 1px solid red;
	background: #ffe1e1 url(icon/errors.png) no-repeat center right;
	padding: 10px 50px 10px 10px;
}

/* Informations box */
.infos {
	color: #002000;
	background: #98fb98 url(icon/infos.png) no-repeat center right;
	margin: 5px;
	padding: 10px 50px 10px 10px;
}

/* Header message like upgrade*/
.header_msgs {
	text-align:center;
	font-weight: bold;
	color:#696969;	/* dimgray */
	background-color: #d3d3d3;
	margin: 1px;
	padding: 1px;
}

/* Header notes box */
.header_notes {
	border: 1px solid #aaa;
	text-align: center;
	background-image: url(icon/note.png);
	background-repeat: no-repeat;
	background-position: top left;
	font-weight: bold;
	margin: 14px;
	padding: 5px 0 0 0;
}

LEGEND {
	font-style: italic;
	color: inherit; /*for IE*/
}

#piwigoAbout {width:600px;margin:0 auto;}
#linkToPiwigo {text-align:center;}

.message {
  background-color: lightyellow;
  color:#333;
  margin-bottom:1em;
  padding: 12px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#lostPassword p {
  text-align: left;
  margin: 1.5em 0;
  line-height: 1.5em;
}

/* image comments rules */

#commentAdd, #pictureCommentList 	{ width: 48%; padding: 0 1%;}
#commentAdd  						{ float: left; }
#pictureCommentList 					{ float: right; }

#commentAdd input[type="text"],
#comments TEXTAREA {
	max-width: 99%;
	width: 99%;
}

.commentAuthor {
	font-weight: bold;
}

.commentDate {
	font-style: italic
}

#pictureCommentList .commentsOrder	{ float: left; margin-bottom: 5px;}
#pictureCommentList .navigationBar	{ float: right; margin-bottom: 5px;}
#pictureComments h4					{ margin: 0;}
#comments FORM P	 {
	margin: 5px 0; text-align: left;
}

/* image info table */

.imageInfoTable {display:table; margin: auto;}
.imageInfo {display:table-row; line-height:20px;}
.imageInfo dt {display:table-cell; text-align:right; font-weight:bold; padding-right:0.5em;}
.imageInfo dd {display:table-cell; text-align:left; font-weight:normal;}

/* Selectize */
.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
    padding: 0px 5px !important;
}


#TagsGroupRemoveTag span,
#TagsGroupRemoveTag i{
  display:none;
}

/* Search */

.filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.filter .filter-icon {
  color: #474747;
}

.filter-manager-popin,
.tags-found-popin,
.albums-found-popin {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.7);
  display: none;
}

.filter-manager-popin-container,
.tags-found-popin-container,
.albums-found-popin-container {
  display:flex;
  position:absolute;
  left:50%;
  top: 50%;
  transform:translate(-50%, -48%);
  text-align:left;
  padding:20px;
  flex-direction:column;
  border-radius:15px;
  align-items:center;
  width: 400px;
  background: white;
}

.filter-manager-close,
.tags-found-close,
.albums-found-close {
  position: absolute;
  right: -40px;
  top: -40px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.filter-manager .mcs-icon::before {
  margin: 0 5px 0 -2px;
  transform: rotate(90deg);
}

.filter-manager-popin .mcs-popin-title,
.tags-found-popin .mcs-popin-title,
.albums-found-popin .mcs-popin-title {
  width: 100%;
  font-size: 19px;
  color: #ff7700;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.tags-found-container,
.albums-found-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
.albums-found-container {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.tags-found-container .tag-item,
.albums-found-container .album-item {
  background: #F4AB4F;
  color: #525252;
  padding: 3px 6px;
  border-radius: 5px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;

  direction: rtl;
  text-align: left;
}
.albums-found-container .album-item {
  max-width: -moz-available;
  max-width: -webkit-fill-available;
  max-width: fill-available;
}
.tags-found-container .tag-item a,
.albums-found-container .album-item a {
  color: inherit;
}

.filter-manager-popin .filter-manager-controller-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.filter-manager-popin .filter-manager-controller-container .mcs-icon::before {
  display: inline-block;
  width: 15px;
}

.filter-manager-popin label {
  white-space: nowrap;
  margin: 6px 0;
}

.filter-manager-popin label span {
  border: 1px solid #777;
  border-radius: 20px;
  padding: 5px 10px;
}

.filter-manager-popin :checked + span {
  border: 1px solid #777;
  background: #777;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
}

.filter-manager-popin input[type='checkbox'] {
  display: none;
}

.filter-manager-actions {
  display: flex;
  margin: 0 0 0 auto;
  gap: 10px;
}

.mcs-container {
  display: flex;
  flex-direction: row;
  gap: 10px 15px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 15px;
}

.filter-manager,
.filter-validate {
  background: #ff7700bb;
  transition: 0.3s;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  padding: 4px 10px;
  white-space: nowrap;
}
.filter-manager:hover,
.filter-validate:hover {
  background: #ff7700;
}

.filter-cancel {
  background: #e8e8ea;
  transition: 0.3s;
  cursor: pointer;
  color: #777;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  padding: 4px 10px;
}
.filter-cancel:hover {
  background: #dadada;
}

.mcs-icon.pwg-icon-cog {
  margin-right: 5px;
}

.mcs-container .filter {
  font-size: 15px;
  position: relative;
  border-radius: 20px;
  padding: 3px 6px;
  border: 1px solid #888;
  cursor: pointer;
  display: none;
}
.filter span {
  margin: 0 3px;
}

.filter .filter-arrow::before {
  transition: 0.3s;
}
.filter.show-filter-dropdown .filter-arrow::before {
  transform: rotate(180deg);
}

.filter-filled {
  background: #ffeacf;
  border: 1px solid #ff7700 !important;
  color: #ff7700;
}
.filter-filled .filter-icon {
  color: #ff7700;
}

.filter-form {
  display: none;
  background: white;
  position: absolute;
  z-index: 5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.6);
  top: 35px;
  left: 0;
  cursor: default;
  flex-direction: column;
  color: black;
}

.filter-form label {
  cursor: pointer;
}

.filter-actions {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 20px;
  right: 20px;
  color: #aaa;
  gap: 5px;
}
.filter-actions > *{
  cursor: pointer;
  transition: 0.3s;
}
.filter-actions > *:hover{
  color: #777;
}
.filter-actions span{
  margin: 0;
}

.filter-filetypes-form .filter-actions,
.filter-date_posted-form .filter-actions {
  gap: 5px;
}

.word-help {
  text-decoration: underline;
  color: #888;
  font-size: 14px;
  cursor: pointer;
}

#word-search {
  margin: 0 0 10px 0;
  width: -moz-available;
  width: -webkit-fill-available;
  background: #eee;
  color: #444;
  border-radius: 5px;
}

.word-search-options,
.filter-tag-form .search-params,
.filter-album-form .search-params {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 0 20px;
  margin: 5px 0;
}

.filter-validate {
  width: fit-content;
  margin-left: auto;
}

.form-container .filter-validate {
  width: fit-content;
  margin-left: 20px;
}

.filter .search-words {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-word-form .search-params {
  display: flex;
  flex-direction: row;
  gap: 5px 15px;
  flex-wrap: wrap;
}

.filter-word-form span {
  margin: 0;
}

.filter-word-form .search-params-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}
.filter-filetypes-form {
  width: 200px;
}
.filter-date_posted-form {
  width: 250px;
}
.filetypes-option-container,
.date_posted-option-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
}
.date_posted-option-container {
  margin: 10px 0 10px 0;
}
.filetypes-option:nth-child(odd),
.date_posted-option:nth-child(odd) label {
  background: #f3f3f3;
}

.filetypes-option input,
.date_posted-option input {
  display: none;
}
.filetypes-option label,
.date_posted-option label {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
  padding: 5px;
}
/* .date_posted-option label {
  width: 230px;
  transform: translateX(-20px);
} */
.filetypes-option label .checked-icon,
.date_posted-option label .checked-icon{
  display: none;
  position: absolute;
  left: 0;
  top: 4px;
  margin: 5px;
  color: #ff7700;
}

.filetypes-option label .ext-name {
  margin-left: 30px;
  text-transform: uppercase;
}
.date_posted-option label .date-period{
  margin-left: 30px;
}

.filetypes-option label .ext-badge,
.date_posted-option label .date_posted-badge {
  margin-left: auto;
  background: #ff7700;
  border-radius: 10px;
  padding: 0 5px;
  color: white;
  font-weight: 600;
}

.filetypes-option input:checked + label .checked-icon,
.date_posted-option input:checked + label .checked-icon{
  display: flex;
}
.filetypes-option input:checked + label {
  background: #fff5e8;
}
.date_posted-option input:checked + label {
  background: rgba(244, 171, 79, 0.17);
}

.filter-album-form {
  width: 400px;
}
.filter-album-form .search-sub-cats {
  margin-top: 10px;
}
.head-button-2 {
  position: relative;
  padding: 5px 12px 5px 8px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  color: #777;
  transition: 0.2s;
  width: fit-content;
}

.head-button-2:active {
  box-shadow: none;
  transform: translateY(2px);
}

.head-button-2 p {
  margin: 0;
  white-space: nowrap;
}

.head-button-2 {
  background: #fafafa;
  box-shadow: 0px 2px #00000024;
}

.head-button-2:hover {
  background: #eee;
  text-decoration: none !important;
  color: inherit !important;
  color: #555 !important;
}

.breadcrumb-item {
  margin: 0 10px 5px 0px;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
}
.breadcrumb-item .link-path {
  margin-right: 15px;
  white-space: nowrap;
}
.breadcrumb-item .remove-item {
  margin-left: auto;
  cursor: pointer;
}
.breadcrumb-item:hover .icon-cancel-circled{
  color: black;
}

.breadcrumb-item a {
  padding: 0 5px;
  font-weight: 400;
}

.breadcrumb-item .icon-cancel-circled,
.breadcrumb-item .help-item {
  margin-left: auto !important;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.breadcrumb-item.add-item {
  width: min-content;
  cursor: pointer;
  color: #777;
  transition: 0.3s;
}

.breadcrumb-item a:hover {
  color: #3A3A3A;
}

#addLinkedAlbum {
  display:none;
}

.linkedAlbumPopIn {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.7);
}

.linkedAlbumPopInContainer {
  display:flex;
  position:absolute;
  left:50%;
  top: 50%;
  transform:translate(-50%, -48%);
  text-align:left;
  padding:20px;
  flex-direction:column;
  border-radius:15px;
  align-items:center;
  width: 400px;
  height: 400px;
}

.linkedAlbumPopInContainer .AddIconContainer {
  margin-top: 20px;
}

.ClosePopIn {
  position: absolute;
  right: -40px;
  top: -40px;
  font-size: 30px;
  color: white;
}

.linkedAlbumPopInContainer .AddIcon {
  border-radius: 9999px;
  padding: 10px;
  font-size: 2em;
}
.AddIconTitle {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
}

#linkedAlbumSearch .search-icon {
  position: absolute;
  transform: translate(7px, 8px);
  font-size: 18px;
  top: auto;
}

.linkedAlbumPopInContainer #searchResult {
  width: 100%;
  overflow-y: auto;
  max-height: 400px;
  margin: 10px 0 0 0;
}

.search-cancel-linked-album {
  opacity: 0.4;
  cursor: pointer;
  position: absolute;
  font-size: 18px;
  transform: translate(215px, 8px);
}

.search-cancel-linked-album:hover {
  opacity: 1;
}

.search-result-item {
  margin: 10px 0px;
  padding: 5px 10px;
  height: 25px;
  background-color: #fafafa;
  box-shadow: 0px 2px #00000024;
  border-radius: 5px;
  font-weight: bold;
  color: #777;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-result-path {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  direction: rtl;
  text-align: left;
}

.search-result-item .icon-plus-circled{
  margin-left: auto;
  cursor: pointer;
}

.search-result-item .notClickable {
  opacity: 0.3;
}

.linkedAlbumPopInContainer .searching {
  margin-top: 10px;
}

.clear-all {
  color: #c4c4c4;
  cursor: not-allowed;
  font-weight: 600;
  white-space: nowrap;
}

.clear-all.clickable {
  color: #ff7700;
  cursor: pointer;
}

.mcs-side-results {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 15px 0 0 15px;
}

.mcs-side-results > div {
  background: #fafafa;
  box-shadow: 0px 2px #00000024;

  position: relative;
  padding: 4px 10px;
  border-radius: 5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  color: #777;
  width: fit-content;
}
.mcs-side-results > div:hover {
  background: #eee;
  color: #777;
}
.mcs-side-results > div:active {
  transform: translateY(2px);
  box-shadow: none;
}

.mcs-side-results > div p{
  margin: 0 0 0 10px;
  white-space: nowrap;
  font-size: 15px;
}

.mcs-side-results .mcs-side-badge {
  border-radius: 25px;
  font-weight: 700;
  color: #fafafa;
  margin-left: 5px;
  padding: 2px 5px!important;
  font-size: 10px;

  background: #777;
}

.mcs-side-results.search-in-set-button {
	margin-top:0;
}

.ClosePopIn:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.mcs-container .filter-manager-controller-container label {
  cursor: pointer;
}

.mcs-no-result {
  margin: 30vh 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mcs-no-result .text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  text-align: center;
}
.mcs-no-result .text span:first-child{
  font-size: 18px;
  font-weight: 700;
  color: #ff7700;
  margin: 0 0 15px 0;
  max-width: 450px;
}
.mcs-no-result .text span:last-child{
  font-size: 15px;
  font-weight: 500;
  color: #6e6e6e;
  max-width: 350px;
}

.filter-form .filter-form-title {
  color: #ff7700;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-tag-form .selectize-control,
.filter-author-form .selectize-control,
.filter-added_by-form .selectize-control {
  margin-top: 10px;
}

.filter-tag-form .selectize-input,
.filter-author-form .selectize-input,
.filter-added_by-form .selectize-input {
  background: #eee;
  border-radius: 5px;
  padding: 5px;

  width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.filter-tag-form .selectize-input input,
.filter-author-form .selectize-input input,
.filter-added_by-form .selectize-input input {
  background: transparent;
  color: #444;
  height: 16px;
  padding: 0;
  height: 26px;
}
.filter-tag-form .selectize-input input::placeholder,
.filter-author-form .selectize-input input::placeholder,
.filter-added_by-form .selectize-input input::placeholder {
  color: #444;
}

.filter-tag-form .selectize-control.multi .selectize-input > div,
.filter-tag-form .selectize-control.multi .selectize-input [data-value].active,
.filter-author-form .selectize-control.multi .selectize-input > div,
.filter-author-form .selectize-control.multi .selectize-input [data-value].active,
.filter-added_by-form .selectize-control.multi .selectize-input > div,
.filter-added_by-form .selectize-control.multi .selectize-input [data-value].active {
  background: #ffa835;
  color: black;
  padding: 2px 4px;
  border-radius: 5px;
  width: fit-content;
  gap: 5px;
  height: fit-content;
}
.filter-tag-form .selectize-control.multi .selectize-input > div .remove,
.filter-author-form .selectize-control.multi .selectize-input > div .remove,
.filter-added_by-form .selectize-control.multi .selectize-input > div .remove {
  text-decoration: none;
  border: none;
  margin: 0 0 0 10px;
}

.filter-tag-form .selectize-dropdown,
.filter-author-form .selectize-dropdown,
.filter-added_by-form .selectize-dropdown {
  background: #eee;
  padding: 0;
  max-height: 100px;
  overflow-y: scroll;
  position: absolute;
}
.filter-tag-form .selectize-dropdown .option,
.filter-author-form .selectize-dropdown .option,
.filter-added_by-form .selectize-dropdown .option {
  padding: 0 5px;
}
.filter-tag-form .selectize-dropdown .option.active,
.filter-author-form .selectize-dropdown .option.active,
.filter-added_by-form .selectize-dropdown .option.active {
  background: #ccc;
  border-radius: 5px;
}

.filter-tag-form .form-container,
.filter-author-form .form-container,
.filter-added_by-form .form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.linkedAlbumPopInContainer {
  background-color: white;
}
.breadcrumb-item {
  background-color: #f4ab4f;
}
.breadcrumb-item .icon-cancel-circled:hover {
  color: #ff7700;
}

.filter-validate .loading {
  display: none;
}

.filter-album-form .add-album-button {
  width: fit-content;
}