@import "iconset.css";
/**
 * Menubar
 */
#menubar {
	float: left;
	margin: 0 0 10px 1em;
	padding: 0;
	display: inline;
	width: 18em;
}

#menubar DL, #menubar DT, #menubar DD {
	margin: 0; padding: 0; display: block;
}

.menubarFilter {
	float: right;
	margin: -4px 0 0;
}

/* H2 properties copied here */
#menubar DT {
	font-weight: bold;
	padding: 5px;
	font-size: 120%;
	text-align: center;
}

#menubar UL,
#menubar FORM,
#menubar P {
	font-size: 92%;
	margin: 10px 0 10px 5px;
}
#menubar UL {
	list-style-type: square;
	list-style-position: inside;
	padding: 0 0 0 2px;
}
#menubar UL UL {
	font-size: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

/*IE6 needs override because of > selector*/
#menubar LI.selected>A {
	font-weight: bold;
}

#menubar .menuInfoCatByChild {
	font-size: 80%;
	font-style: italic;
}

#menubar INPUT {
	text-indent: 2px;
}

/* quickconnect form */

#quickconnect FIELDSET {
	margin: 0 5px 0 0;
	padding: 0; /*IE6 requires padding 0*/
}

#quickconnect DIV {
	margin: 8px 5px;
	padding: 0;
}

#menuTagCloud {
	text-align: center;
	margin: 5px 0;
}

#menuTagCloud SPAN {
	white-space: nowrap;
	margin-right: 5px;
}

/**
 * Content
 */
.contentWithMenu {
	margin-left: 20em;  /* = #menubar width + 2em */
}

.content H2 { margin-bottom: 3px;} /*<- for IE otherwise calendar select is displaced to middle of page*/

.content .navigationBar, .content .additional_info, .content .calendarBar {
	margin: 8px 4px;
	text-align: center;
}

.content .pageNumberSelected {
	font-style: italic;
	font-weight: bold;
}

.content .additional_info {
	font-size: 110%;
}

.content .titrePage {
	padding: 0 0 3px;
}

.content .notification {
  padding:0 25px;
}

/* actions */
.categoryActions {
	margin: 0 2px;
	width: auto;
	padding: 0;
	text-indent: 0;
	list-style: none;
	text-align: center;
	float: right;
}

.categoryActions LI {
	display: inline;
}

/* begin chronology/calendar elements*/
.calendarViews {
	display: block;
	float: right;
	margin: 2px 0 0;
}

.calItem, .calItemEmpty {
	font-weight: bold;
	margin: 0 1px;
	border: 1px solid gray;
}

.calItem A { border:0 }

.calendarCalBar {
	margin: 10px;
	text-align: left;
}

.calCalHead {
	font-weight: bold;
	font-size: 110%;
	margin: 0 2px;
}

.calCal { margin: 0 2px; }

/* nice looking month calendar*/
TABLE.calMonth {
	border: 0;
	border-collapse: collapse;
	margin-bottom: 10px;	/*<-IE ignores this */
}

TD.calDayCellFull, TD.calDayCellEmpty {
	vertical-align: top;
	font-weight: bold;
	font-size: 18px;
	border: 1px solid gray;
}

TD.calDayHead {
  font-weight: bold;
  font-size: 12px;
	text-align: center;
}

.calImg {
	overflow: hidden;
	vertical-align: bottom;
	z-index: 1;
	position: relative; /*<- this required by IE*/
}

.calImg IMG {
	position: relative;
	border: 0;
}

.calBackDate {
	padding-left: 4px;
	padding-top: 0;
	z-index: 2;
	position: absolute;
	vertical-align: top;
	color: #000;
}

.calForeDate {
	padding-left: 5px;
	padding-top: 1px;
	z-index: 3;
	position: absolute;
	vertical-align: top;
	color: #fff;
}

/* Category thumbnails on main page, CSS code inspired from MOD subcatify */
.thumbnailCategories {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	width: 100%;
}

.thumbnailCategories LI {
	margin: 0;
	padding: 0;
	float: left;
	width: 49.7%;    /* 49.7% for 2 per line, 33.2% for 3 per line*/
}

.thumbnailCategory {
	display:block;
	padding: 2px 0 0 2px;
	margin: 5px;
}

.thumbnailCategory .description {
	font-size: 90%;
	overflow: auto;
	/*width: inherit;*/
}

.thumbnailCategory .description H3 {
	text-align: left;
	background: transparent;
	margin: 0;
	padding: 0.1em;
	font-size: 120%;
}

.thumbnailCategory .description P {
	margin: 0;
}

.thumbnailCategory DIV.illustration {
	text-align: left;
	margin: 2px 0 0 2px;
	float: left;
}


/* User comments */
#comments {
	padding-left: 5px;
	padding-right: 5px;
}

#comments .description {
	font-size: 100%;
}

/* Thumbnails */
.thumbnails SPAN.thumbLegend {
	font-size: 90%;
	overflow: hidden;/* oversized legend is clipped */
}

/* Thumbnail "elastic" layout */
.thumbnails {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;	/* to center the whole collection in .content */
}
.thumbnails LI { display: inline }

.thumbnails .wrap1 {
	margin: 0 7px 5px 7px;
	display: table-cell; display: inline-table;
	display: inline-block;/* Why 3 display option ??? */
	vertical-align: top;	/* OK with Opera and IE6 not Geko */
	text-align: center;		/* to center the thumbnail and legend in Geko/Opera */
}
.thumbnails .wrap2 {
	margin: 0;			/* important reset the margins */
	display: table-cell;/* block prevents vertical-align here */
	vertical-align: middle;/* Ok with Opera and Geko not IE6 */
	border-radius: 4px;	/* round corners with CSS3 compliant browsers */
	-moz-border-radius: 4px;	/* round corners with Geko */
	-webkit-border-radius: 4px; /* Safari webkit project */
}
.thumbnails .wrap2 A,
.thumbnails LABEL {
	display: block;
	border-bottom: 0;
}
.thumbnails IMG {
	margin-bottom: -4px;  /* why ??? something wrong with Geko and Opera ignored by IE6*/
}

/**
 * Picture
 */
#imageHeaderBar {
	padding-top: 2px;
	padding-bottom: 2px;
	overflow: hidden;
	width: 100%;
}

#imageHeaderBar .browsePath {
	float: left;
	margin-left: 10px;
}

#imageHeaderBar .imageNumber {
	float: right;
	margin-right: 10px;
}

#imageHeaderBar H2 {
	text-align: center;
	padding: 0;
	clear: both;
}

#imageToolBar {
	text-align: center;
	clear: both;
	margin-bottom: 2px;
	padding: 0;
	height: 28px;
}

#imageToolBar .actionButtons { float: left; }
#imageToolBar .navigationButtons   { float: right; }
#imageToolBar .pwg-button {width:42px;}


#derivativeSwitchLink {
	padding: 0.2em;
	position: absolute;
	left: 5px;
	top: 10%;
}

#derivativeSwitchBox, #sortOrderBox {
	padding: 0.5em 1em;
	border-radius: 4px;
	z-index: 100;
}

#theImage {
	clear: left;
	text-align: center;
	position: relative; /*so that the drivative switch link is positioned relative to us*/
}

#theImage>IMG {
	display: block;
	margin: 0 auto;
	border: 0;
}

#imageInfos {
	position: relative;
	min-height: 120px;
}

#linkPrev {
	position:absolute;
	left:0;
	margin-right: 10px;
	margin-left: 5px;
}

#linkNext {
	position:absolute;
	right:0;
	margin-right: 5px;
	margin-left: 10px;
}

.infoTable .label {
	font-weight: bold;
	text-align: right;
	padding-right: 0.5em;
}

.infoTable UL {
	margin: 0;
	padding: 0 0 0 1em;
	list-style-type: square;
}

.rateButton, .rateButtonSelected, .rateButtonStarFull, .rateButtonStarEmpty  {
	padding:0;
	border:0;
	color:inherit;
	background-color:transparent !important;	/* Konqueror doesn't accept transparent here */
}

.rateButton, .rateButtonStarFull, .rateButtonStarEmpty {
	cursor: pointer;
}

.rateButtonSelected {
	font-weight:bold;
	font-size:120%;
}

.rateButtonStarFull {
	background: url('icon/rating-stars.gif') no-repeat -16px center; width:16px;
}

.rateButtonStarEmpty {
	background: url('icon/rating-stars.gif') no-repeat 0 center; width:16px;
}

.contentWithMenu #imageToolBar, 
.contentWithMenu #theImage { 
	clear: none;
}


/**
 * Default Layout
 */
BODY {
	margin: 5px;
	padding: 0;
	font-size: 0.8em;
	font-family: Arial,Helvetica,sans-serif;
	min-width: 60em;  /* ~ 3* #menubar width; width of the page before getting a scrollbar; IE6 doesn't get that*/
}

#thePopuphelpPage {
	min-width: 0; /*reset the min width*/
}


H1 {
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	padding: 0;
	margin: 0.5em 0 1em 0;
}

H2 {
	margin: 0;
	padding: 5px 0.5em;
	text-align: left;
	font-size: 120%;
}

A {
	text-decoration:none;
}
A:hover {
	border-bottom: 1px solid #858460;
}
A.pwg-state-default:hover {
	border-bottom: 0; /*reset above for icons*/
}

IMG {
	border: 0;
}

#copyright {
	clear: both;
	font-size: 83%;
	text-align: center;
	margin: 0 0 10px 0;
}

INPUT, SELECT {
	margin: 0;
	font-size: 1em;	/* <= some browsers don't set it correctly */
}

TABLE {	/* horizontaly centered */
	margin-left: auto;
	margin-right: auto;
}


FORM { padding: 0; margin: 0; }

FORM P {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

FORM FIELDSET P {
	margin-top: 1em;
	margin-bottom: 0;
}

SELECT.categoryList {
	height: 20em;
	width: 500px;
}


/**
 * Filter forms are displayed label by label with the input (or select...)
 * below the label. Use an UL to make a group (radiobox for instance).
 * Use a SPAN to group objects in line
 */
FIELDSET {
	padding: 1em;
	margin: 1em;
	overflow: hidden; /* <- makes Opera happy */
}

.filter UL {
  margin: 0;
}
.filter UL,
.filter LABEL {
	display: block;
	float: left;
	margin-right: 1em;
	padding: 0;
}

.filter LI {
	list-style: none;
	margin-bottom: 0.5em;
}

.filter LI LABEL {
	display: inline;
	float: none;
}

.filter .tagSelection LABEL {
	display: inline;
	float: none;
	margin-right:0.5em;/*reduce from above*/
}

/*IE6 needs override because of > selector*/
.filter LABEL>INPUT,
.filter LABEL>SELECT,
.filter LABEL>SPAN,
.filter LABEL>TEXTAREA {
	display: block;
	margin: 0.5em 0;
}

.filter FIELDSET * LABEL>INPUT,
.filter FIELDSET * LABEL>SELECT,
.filter FIELDSET * LABEL>TEXTAREA,
.filter SPAN>INPUT,
.filter SPAN>SELECT,
.filter SPAN>TEXTAREA {
	display: inline;
	vertical-align: top;
	margin: 0 0.5em 0 0;
}




.filter INPUT[type="submit"] {
	margin-top: 1em;
}

.properties UL {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.properties LI {
	margin-bottom: 0.5em;
	padding: 0;
	line-height: 1.8em;
	clear: left;
}

.properties SPAN.property {
	font-weight: bold;
	float: left;
	width: 50%;
	text-align: right;
	margin: 0;
	padding: 0 0.5em 0 0;
}

/* button tools */
.actions A, .actions IMG {
	border: none;
}

.tagSelection {
	width: 99%;
	margin: 1em 0;
	padding: 0;
}

.tagSelection LI {
	display:inline-block;
	width:150px!important;
	overflow:hidden;
	white-space: nowrap;
}

#fullTagCloud {
	font-size: 120%;
	text-align: justify;
	padding: 0;
	margin: 1em 2em;
}

#fullTagCloud SPAN {
	white-space: nowrap;
	margin: 0 2px;
}


.tagLevel5 { font-size: 150% !important; }
.tagLevel4 { font-size: 140% !important; }
.tagLevel3 { font-size: 120% !important; }
.tagLevel2 { font-size: 100% !important; }
.tagLevel1 { font-size: 90%  !important; }


/* Popup help page */
#thePopuphelpPage #copyright {
	display: none;
}

#thePopuphelpPage P {
	padding: 0.5em;
}

#thePopuphelpPage DL  {
	margin: 0 25px 25px; 
}

TR.tagLine {
	border-bottom: 1px solid #ddd;
}
TD.nbEntries {
	text-align: right;
	font-style: italic;
	font-size: 90%;
}

FIELDSET.tagLetter {
	border: 1px solid #d3d3d3;
	width: 200px;
	margin: 0.5em;
	padding: 10px;
}

LEGEND.tagLetterLegend {
	border: 1px solid #d3d3d3;
	font-size:120%;
	font-weight: bold;
	padding: 0 5px;
	font-style: normal;
}

TABLE.tagLetterContent {
	width:100%;
	font-size:80%;
	border-collapse : collapse;
}

#theHeader {text-align: center;}

#comments .thumbnailCategories LI { width:99%; }

/* jQuery datepicker */
IMG.ui-datepicker-trigger {
	cursor : pointer;
}

/* Set some sizes according to your maximum thumbnail width and height */
.thumbnails SPAN,
.thumbnails .wrap2 A,
.thumbnails LABEL,
.thumbnailCategory DIV.illustration {
  width: 140px;      /* max thumbnail width + 2px */
}
.thumbnails .wrap2,
.content .thumbnailCategory .description {
  height: 140px;    /* max thumbnail height + 2px */
}

/* Set defaults for thumbnails legend */
.thumbnails SPAN.thumbLegend {
  display: block;  /* display: none; if you don't want legend */
  height: 4em;    /* legend height (don't set auto to be Gecko friendly)*/
}

/**
 * Default colors
 */

 /* So that non-links are slightly greyed out */
.content .navigationBar, .calItemEmpty, TD.calDayCellEmpty {
	color: #b0b0b0;
}

/* Tables & forms */
/* IE <= 6 is so bad with this that you can't merge with the following rule */
INPUT[type="text"], INPUT[type="password"], INPUT[type="button"],
INPUT[type="submit"], INPUT[type="reset"], INPUT[type="file"] {
	color: #000;
	background-color: #d3d3d3;	/* lightgrey */
}

SELECT, TEXTAREA {
	color: #000;
	background-color: #d3d3d3;	/* lightgrey */
}

INPUT:focus, SELECT:focus, TEXTAREA:focus {
	background-color: #f5f5f5;	/* whitesmoke */
}

/* some theme set a border on INPUT  which is not pretty for radio/checkbox */
INPUT[type="radio"], INPUT[type="checkbox"] {
	border: none;	/* <= Opera needs this */
}


.errors { /* Errors display */
	color: red;
	font-weight: bold;
	margin: 5px;
	border: 1px solid red;
	background: #ffe1e1 url(icon/errors.png) no-repeat center right;
	padding: 10px 50px 10px 10px;
}

/* Informations box */
.infos {
	color: #002000;
	background: #98fb98 url(icon/infos.png) no-repeat center right;
	margin: 5px;
	padding: 10px 50px 10px 10px;
}

/* Header message like upgrade*/
.header_msgs {
	text-align:center;
	font-weight: bold;
	color:#696969;	/* dimgray */
	background-color: #d3d3d3;
	margin: 1px;
	padding: 1px;
}

/* Header notes box */
.header_notes {
	border: 1px solid #aaa;
	text-align: center;
	background-image: url(icon/note.png);
	background-repeat: no-repeat;
	background-position: top left;
	font-weight: bold;
	margin: 14px;
	padding: 5px 0 0 0;
}

LEGEND {
	font-style: italic;
}

#piwigoAbout {width:600px;margin:0 auto;}
#linkToPiwigo {text-align:center;}

.message {
  background-color: lightyellow;
  color:#333;
  margin-bottom:1em;
  padding: 12px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#lostPassword {
  padding: 1em;
}

#lostPassword p {
  text-align: left;
  margin: 1.5em 0;
  line-height: 1.5em;
}

